הועלו הצעות לשינוי חדשות לדיון בהשתתפותך  - "<%-part_two%>"
<!--body -->
<div style="direction:rtl">
    <div align="center"><font face="arial"><br><br></font></div>
    <table border="0" align="center" cellpadding="0" cellspacing="0" dir="rtl">
        <tbody>
        <tr>
            <td ><img alt="" src="http://site.e-dologic.co.il/philip_morris/Xls_script/uru_mailing/header.jpg" width="300" height="45"></td>
        </tr>
        <tr>
            <td ><p><br></p>

                <p></p>

                <p class="MsoNormal" dir="RTL" style="color:rgb(80,0,80);text-align:right;direction:rtl;font-size:13px">
                </p>

                <p class="MsoNormal" dir="RTL" style="color:rgb(34,34,34);font-family:arial,sans-serif;direction:rtl">
                    <span lang="HE" style="font-family:Arial,sans-serif">
                        שלום,
                    </span></p>

                <p class="MsoNormal" dir="RTL" style="color:rgb(34,34,34);font-family:arial,sans-serif;direction:rtl">
                    <span lang="HE" style="font-family:Arial,sans-serif">
                        <br></span></p>

                <p class="MsoNormal" dir="RTL" style="color:rgb(34,34,34);font-family:arial,sans-serif;direction:rtl">
                    <span lang="HE" style="font-family:Arial,sans-serif">
					מאז ביקורך האחרון באתר, נוספו הצעות לשינוי לדיון שאתה עוקב אחריו,
				
					<span lang="HE" style="font-family:Arial,sans-serif">
                        <font color="#3333ff"><b><u><span lang="HE" style="font-family:Arial,sans-serif">
                        <a href="<%= settings.root_path %><%= link_two %>">
                           	<%-title %>
                        </a>
                            </span></u></b></font>

                    </span>

					
                    <br>
                    </span></p>


                <p class="MsoNormal" dir="RTL" style="color:rgb(34,34,34);font-family:arial,sans-serif;direction:rtl">
                    <span lang="HE" style="font-family:Arial,sans-serif">

                        <font color="#3333ff"><b><u><span lang="HE" style="font-family:Arial,sans-serif">
                        <a href="<%= settings.root_path %><%=main_link %>">
                            לצפייה בהצעות
                        </a>
                            </span></u></b></font>

                    </span></p>

                <!--mail settings link - start-->

                <p></p><br>

                <p></p>

                <p class="MsoNormal" dir="RTL" style="color:rgb(34,34,34);font-family:arial,sans-serif;direction:rtl">
                                <span lang="HE" style="font-family:Arial,sans-serif">
                                                                                        לשינוי הגדרות העדכונים ולהסרה מרשימת התפוצה
                                    <font color="#3333ff"><b><u><span lang="HE" style="font-family:Arial,sans-serif">
                                    <a href="<%= settings.root_path %><%= mail_settings_link %>">
                                        לחץ כאן
                                    </a>
                                        </span></u></b></font>

                                </span></p>
                <!--mail settings link -  end-->

                <p></p><br>

                <p></p>

                <p></p><a href="http://www.pulseem.com/Pulseem/LinkRedirect.axd?LinkID=333985&amp;ClientID=33924123"
                          target="_blank"><img alt=""
                                               src="http://site.e-dologic.co.il/philip_morris/Xls_script/uru_mailing/logo.jpg"
                                               width="101" height="119"></a>

                <p>
                    &nbsp;&nbsp;<a
                        href="http://www.pulseem.com/Pulseem/LinkRedirect.axd?LinkID=333986&amp;ClientID=33924123"
                        target="_blank"><img alt=""
                                             src="http://site.e-dologic.co.il/philip_morris/Xls_script/uru_mailing/facebook_logo.png"
                                             width="35" height="35" style="vertical-align:top"></a>&nbsp;<a
                        href="http://www.pulseem.com/Pulseem/LinkRedirect.axd?LinkID=333987&amp;ClientID=33924123"
                        target="_blank"><img alt=""
                                             src="http://site.e-dologic.co.il/philip_morris/Xls_script/uru_mailing/twitter_logo.png"
                                             width="35" height="35" style="vertical-align:top"></a></p>
            </td>
        </tr>
        </tbody>
    </table>
</div>