<title>מחליטים: כבוד האדם</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

<meta name="title" content="<%= meta.title || fb_title%>" />
<meta name="description" content="<%=  meta.description || fb_description %>" />

<meta property="og:type" content="<%= meta.type || 'website' %>" />
<meta property="og:title" content="<%= meta.title || fb_title%>" />
<meta property="og:description" content="<%= meta.description || fb_description%>" />
<!--<meta property="og:image" content="<%= fb_image %>" />-->
<meta property="og:image" content="<%=  meta.image || fb_image %>" />
<meta property="og:site_name" content="עורו" />
 

<%- writeHead('css_includes') %>
<!--[if lte IE 7]><link href="/css/ie.css" rel="stylesheet" type="text/css"/><![endif]-->
<!--[if lt IE 8]><style type="text/css">.ie7_message { display:block} #wrap,#footer { display:none }</style><![endif]-->


<!--<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&language=he&libraries=places&key=AIzaSyCmNLGdcM_OYwPwmedDsECk9O6ashE-rjg"></script>-->
<!-- Include JS -->
<%- writeHead('js_includes') %>
<!-- /Include JS -->

<% include facebook.ejs %>
<% include feedback_box.ejs %>
