<script type="text/javascript" >
    var action_id = "<%=action._id%>";
    var cycle_id='<%= action.cycle_id[0].cycle.id %>';
    var cycle_title="<%= action.cycle_id[0].cycle.title%>";
    $(function(){

        window.uru= window.uru||{};
        <%
        if (user_logged) { %>
            var proxy = JSON.parse('<%-proxy%>');
        <%
        } else { %>
            var proxy = [];
        <%
        }
        %>

        var editor;

        $( '#discussion_comment' ).ckeditor(            {
            height: 100,
            'line-height':10,
            language:'he',
            removePlugins : 'elementspath',
            on :
            {
                instanceReady : function( ev )
                {
                    editor = this;
                }
            }
        });

        /* var goingModel=(function(options){ */
    var GoingModel = function (options){

           options=options||{};
            var leaveString="עזוב";
            var joinString="הצטרף";
            if(options.leaveString){
                leaveString=options.leaveString;
            }
            if(options.joinString){
                joinString=options.joinString;
            }
            var goingUsers;
            var userInBrowserCount=0;
            var paging= 14;
            var model ={

                loadMoreUsers:function(){
                    var currentOffset=userInBrowserCount /paging;
                    this.loadGoingUsers(currentOffset );
                },
                loadGoingUsers:function(offcet,numOfPaging){
                    var self=this;
                    numOfPaging= numOfPaging||  1;


                    db_functions.getActionGoing(action_id, offcet, paging * numOfPaging,function(err,data){
                        userInBrowserCount=userInBrowserCount+data.objects.length;
                        goingUsers = data.meta.total_count;
                        dust.renderArray('action_participant_user',data.objects ,null, function (err, out){
                            $('#participant').append(out);
                        })
                        if (goingUsers > userInBrowserCount ) {
                            $(".more-deals").show();
                        } else{
                            $(".more-deals").hide();
                        }



                        setGoingNumber(goingUsers);

                    })}
            }
            $(".more-deals a").on('click',function(e){
                e.preventDefault();
                model.loadMoreUsers();
            })
            function setGoingNumber(number) {

                $('#going_number')[0].innerHTML = '(' + number + ')';
                $('.going.red').html(number);
                $('.going.green').html(number);
                $('div.popup-event[item-id=' + action_id + ']' + ' .going_num').html(number + ' משתתפים');
            }

            function setJoinBT(data){
                var isGoing = (data.action_obj.map_join_to_user !== undefined);
                var user = data.action_obj.map_join_to_user;
                var text = isGoing?leaveString:joinString;
                var joinBtnString = isGoing?"עזוב":"הצטרף";

                $(".add-offer-btn-box a").html(text);
                $(".join-btn").html(joinBtnString);
                // it's assmoes that me is the first user;
                if(isGoing){ //add the user to first plase;
                    goingUsers++;
                    dust.render('action_participant_user', data.action_obj, function(err, out){
                        $('#participant').prepend(out);
                    });
                }else{
                    //  $('#participant').children().first().remove();
                    $('#participant').find('[data-user_id="' + my_id +'"]').remove();
                    goingUsers--;

                }
                setGoingNumber(goingUsers);

                /*timeline.render(cycle_id, cycle_title, action_id);*/
            }

//            function shareScreen() {
//                $('#box-share,#screen').show();
//                $('#screen,#close').one('click',function () {
//                    debugger
//                    window.location.href = '/discussions';
//                }).show();
//            }

            $('.social-on-click').click(function(e){
                e.preventDefault();

                /*var user_info = {
                    user_logged_in : user.first_name ? true : false,
                    action_done : (user.actions_done_by_user && user.actions_done_by_user.join_to_object) ? true : false,
                    action_name : "join_to_object",
                    tokens_owned : user.tokens ? user.tokens : 0,
                    price: gamification_price['join_action']
                }*/

                db_functions.joinOrLeaveAction(action_id, /*user_info,*/ function(err,data){
                    if(err){
                        console.log(err) ;
                    } else {
                        if(data != 'canceled'){
                            /*if(!user.actions_done_by_user.join_to_object)
                            {
                                user.actions_done_by_user.join_to_object = true;
                            }*/
                            setJoinBT(data);
                            if(data.action_obj.is_going === true){
                                //set mail subject for social popup

                                var mail_subject = "הצטרפתי לקידום הפעילות בנושא "
                                        + cycle_title
                                        + ". מה איתך?"
                                mail_subject = encodeURIComponent(mail_subject);
                                var mail_body = "החלטתי לקחת חלק בפעילות של תנועת עורו בתחום"
                                        + " "
                                        + cycle_title
                                        + ". גם לך חשוב לקדם את הנושא? אם כן, אפשר לקבל פרטים נוספים, להצטרף ולתמוך באתר עורו. אשמח לראות אותך שם! "
                                        + "http://www.uru.org.il/cycles/" + cycle_id;

                                setTimeout(function(){

                                    $('#box-share,#screen').show();
                                    $('#social-popup-mail').attr("href", "mailto:?subject=" + mail_subject + "&body=" + mail_body);
                                    $('#close').click(function(){
                                        $('#box-share,#screen').hide();
                                    })
                                }, 100);
                            }
                        }
                    }
                })
            });

        if(window.location.hash.indexOf("join") > -1){
            $('.social-on-click').click();
        }

            $('.holds_the_timeline').on("click",'.join-btn', function(e){
                e.preventDefault();

                /*var user_info = {
                    user_logged_in : user.first_name ? true : false,
                    action_done : (user.actions_done_by_user && user.actions_done_by_user.join_to_object) ? true : false,
                    action_name : "join_to_object",
                    tokens_owned : user.tokens ? user.tokens : 0
                }*/

                db_functions.joinOrLeaveAction(action_id, function(err,data){
                    if(err){
                        console.log(err) ;
                    }else{
                        if(data != 'canceled'){
                            /*if(!user.actions_done_by_user.join_to_object)
                            {
                                user.actions_done_by_user.join_to_object = true;
                            }*/
                            setJoinBT(data);
                        }
                    }
                })
            });

            $('#timeline-second-part').click(function(){
                window.location.replace("/cycles/" + cycle_id);
            })

            //click on the action blue icon goes to action
            $('.followers-diagram').on("click",'.blue-icon', function(e){
                e.preventDefault();
                var action_id = $(this).find(".type-one").attr("item-id");
                window.location.replace("/actions/" + action_id);
            });

            //click on the update green icon goes to action
            $('.followers-diagram').on("click",'.green-icon', function(e){
                e.preventDefault();
                var update_id = $(this).find(".type-two").attr("item-id");
                window.location.replace("/updates/" + update_id);
            });
            return model;
        };


      window.uru.GoingModel=GoingModel;
        var current_offset = 0;

        $('.more-text').click(function (e) {
            e.preventDefault();
            <% if(action.location && action.location.geometry) { %>
                var location={};
                location.address='<%=action.location.address%>';
                location.geometry={};
                location.geometry.lng=<%=action.location.geometry.lng%>;
                location.geometry.lat=<%=action.location.geometry.lat%>;

            <% } else { %>
                var location =null;
            <% } %>

            $('#minInfo').hide();
            $('#fullInfo').show();
            if(location){
                var address=location.address;
                var coordinate={};
                coordinate.lng=location.geometry.lng ;
                coordinate.lat=location.geometry.lat ;


                //  init_map('map', new google.maps.LatLng(coordinate.lan, coordinate.lng));

                googleMap.init_map('map', new google.maps.LatLng(coordinate.lat,coordinate.lng));
                googleMap.addPlaceMark(coordinate,address);
            }
        });

        $('.read_less').click(function (e) {
            e.preventDefault();
            $('#minInfo').show();
            $('#fullInfo').hide();
        });

        // just focus
        $("#action_comment_reply_button").on('click', function (e) {
            e.preventDefault();
            var discussionComment = $("textarea#discussion_comment").focus();
            focusOnCommentBox();
        });

        var new_post_ref_id = null;  // if not null => the create new post is connected to anther post
        function setUserScore(userID, score) {
            $('[ data-creator_id=' + userID + ']').find('.score').empty().append(score);
        }

        $('#comments').on('click', ".quote_button", function (e) {
            var userName,
                    text;

            var postDiv = $(this).parents('.comment-one');
            e.preventDefault();
            // $("textarea#discussion_comment").focus();
            userName = postDiv.data('creator_name');
            new_post_ref_id = postDiv.data('id');

            var text_to_quote = $('.actual_text', postDiv).length ? $('.actual_text', postDiv).text() : $('.post_text', postDiv).text();

            text = "[ציטוט=" + '"' + userName + '"' + " " + "]\n"
                    + text_to_quote
                    + '\n'
                    + "[/ציטוט]"
                    + '<p>&nbsp;</p>';

            $("textarea#discussion_comment").val($("textarea#discussion_comment").val() + text).focus();

            focusOnCommentBox();
        });

        $("#submit_post").on('click', function (e) {
            e.preventDefault();
            var $this = $(this);
            if ($this.data('executing')){
                return;
            }

            var user_info = {
                user_logged_in : user.first_name ? true : false,
                action_done : (user.actions_done_by_user && user.actions_done_by_user.post_on_object) ? true : false,
                action_name : "post_on_object",
                tokens_owned : user.tokens ? user.tokens : 0,
                price: gamification_price['post_on_action']
            }

            $this.data('executing', true);
            $this.addClass('disable');

            db_functions.addPostToAction(action_id, $("textarea#discussion_comment").val(), new_post_ref_id, user_info, function (err, post) {
                // $("#user_tokens").text(post.updated_user_tokens);
                if(!err){
                    if(post == 'canceled'){
                        $this.data('executing', false);
                        $this.removeClass('disable');
                    }
                    else{
                        if(!user.actions_done_by_user.post_on_object)
                        {
                            user.actions_done_by_user.post_on_object = true;
                        }
                        if (my_id && post.creator_id){
                            setUserScore(my_id, post.creator_id);
                        }
                        post.voting = post.votes_for - post.votes_against;
                        dust.render('discussion_comment', post, function (err, out) {
                            $("#comments").append(out);
                            $("textarea#discussion_comment").val('');
                            new_post_ref_id = null;
                            postsNumber++;
                            setCommentNumber(postsNumber);
                            $this.data('executing', false);
                            $this.removeClass('disable');
                        });
                    }
                }
            })
        });

        function setCommentNumber(number) {

            $('#comments_number')[0].innerHTML = '(' + number + ')';
        }

        function renderComments(comments) {
            var i;
            for (i = 0; i < comments.length; i++) {
                comments[i].isFirst = (i === 0);
                comments[i].isEven = ((i % 2)== 0);
                comments[i].voting =      comments[i].votes_for - comments[i].votes_against;
            }
            dust.renderArray('discussion_comment', comments, null, function (err, out) {
                if (!err) {
                    var comments = $("#comments");
                    comments.append(out);
                    var hash = window.location.hash;
                    if (hash) {
                        if (!scrollTo(hash)) {
                            var match = /^#post_([0-9a-f]+)/.exec(hash);
                            if (match) {
                                var post_id = match[1];

                                db_functions.getPostById(post_id, function (err, post) {
                                    dust.render('discussion_comment', post, function (err, out) {
                                        if (!err)
                                            comments.append(out);
                                        scrollTo(hash);
                                    });
                                });
                            }
                        }
                    }

                    image_autoscale($('.auto-scale img', comments));
                    initTooltipWithMessage($('#comments .right .respect'), 'מוניטין');

                }
            });
        }
        function vote(actionType){
            var post_id = $(this).parents('.comment-one').data("id");
            var button = $(this);
            //TODO:replace db_functions.voteForPost
            var user_info = {
                user_logged_in : user.first_name ? true : false,
                action_done : (user.actions_done_by_user && user.actions_done_by_user.vote_on_object) ? true : false,
                action_name : "vote_on_object",
                tokens_owned : user.tokens ? user.tokens : 0,
                price: gamification_price['vote_on_post']
            }
            var func = $(this).parents('#comments').length ? db_functions.voteForActionPost: db_functions.voteForSuggestion;
            func.call(db_functions, post_id, actionType, user_info, function (err, post_obj) {
                if (!err) {
                    if(post_obj != 'canceled'){
                        if(!user.actions_done_by_user.vote_on_object)
                        {
                            user.actions_done_by_user.vote_on_object = true;
                        }
                        button.parents(".ratio").find(".count").text(Math.round(post_obj.votes_for-post_obj.votes_against ));
                        var down_arrow = button.parents(".ratio").find(".down");
                        var up_arrow =button.parents(".ratio").find(".up");
                        down_arrow.removeClass("balance0").removeClass("balance1").removeClass("balance2").removeClass("balance3").removeClass("balance-1").removeClass("balance-2").removeClass("balance-3").addClass("balance"+post_obj.voter_balance);
                        up_arrow.removeClass("balance0").removeClass("balance1").removeClass("balance2").removeClass("balance3").removeClass("balance-1").removeClass("balance-2").removeClass("balance-3").addClass("balance"+post_obj.voter_balance);
                    }
                }
                else {
                    if (err.responseText == 'Error: there is not enought tokens')
                        popupProvider.showOkPopup( {message:     'אין לך מספיק אסימונים'});
                    if (err.responseText == 'user already voted for this post')
                        popupProvider.showOkPopup( {message:     'באפשרותך לתת עד שלושה אסימונים לתגובה בדיון'});
                    if (err.responseText == 'soory, can\'t vote to your own post')
                        popupProvider.showOkPopup( {message:     'מצטערים, לא ניתן להצביע לתגובה של עצמך'});
                }
            })
        }

        $('#comments').on('click', '.vote_for', function () {
            vote.apply($(this),['add']);

        });

        $('#comments').on('click', ".vote_against", function () {
            vote.apply($(this),['remove']);

        });

        $('#comments').on('hover', ".right .proxy", function (e) {

            var name = $(this).parents(".comment-one").data("creator_name");
            var num_of_proxies = $(this).parents(".comment-one").data("num_of_proxies");
            var text = "מנדטים: " + name + " מייצג " + num_of_proxies + " חברי עורו ";
            initTooltipWithMessage($('#comments .right .proxy'), text);
        })


        function loadPosts() {
//            var action_title = "<%= action.title%>"
//            var selectedOption = $("#sorting_select").val();
//            var discussion_img_field_preview = "<%= action.image_field ? action.image_field.url ||'' : '' %>";
//            db_functions.getSortedPostByAction(action_id, selectedOption,current_offset,20, function (err, data) {
//                if (err) {
//                    console.log(err);
//                } else {
//                    current_offset += data.objects.length;
//
//                    $.each(data.objects, function (index, post) {
//                        post.title = action_title;
//                        post.image_field_preview = discussion_img_field_preview;
//                    });
//
//                    renderComments(data.objects);
//
//                    if(data.meta.total_count > current_offset )
//                        $('.more_comments').show();
//                    else
//                        $('.more_comments').hide();
//                    postsNumber = data.meta.total_count;
//                    setCommentNumber(postsNumber);
//
//                    if(typeof(FB) != 'undefined')
//                        FB.XFBML.parse();
//                }
//            })
        };
        $('.more_comments').click(function() {
            loadPosts();
        });

        $('#sorting_select').change(function() {
            $("#comments").empty();
            current_offset = 0;
            loadPosts();
        });

        $('#comments,#suggestion_list').on('mouseenter', ".side_menu", function (e) {
            $(this).addClass('hover');
            $('.left', this).show().css({width:0}).animate({'width':87});
        }).on('mouseleave', ".side_menu", function (e) {
                    var side = $(this);
                    side.removeClass('hover');
                    $('.left', this).animate({'width':0}, function () {
                        $(this).hide();
                    });
                });


        $('#comments').on('click', '#add_or_remove_proxy', function (e) {
            var userData = $(this).parents('.comment-one');
            var proxyId = userData.data('creator_id');
            var userName = userData.data('creator_name');
            e.preventDefault();
            proxyCommon.addOrRemoveProxy(proxy,proxyId,userName,my_id,function(newProxy){
                proxy=newProxy.proxy;

            })


        });

        function focusOnCommentBox(){
            editor.focus();
            editor.focusManager.focus();

            setTimeout(function(){
                var s =  CKEDITOR.instances.discussion_comment.getSelection();
                var b = CKEDITOR.instances.discussion_comment.document.getBody();
                s.selectElement(b);
                var selected_ranges = s.getRanges();
                selected_ranges[0].collapse(false);  //  false collapses the range to the end of the selected node, true before the node.
                s.selectRanges(selected_ranges);
            },100);
        };


        loadPosts();





    })
</script>
