<%
    /* Usage:

        Have a variable called image_upload = {
            default_image: '/images/...',
            current_value: '/images/...',
            api_endpoint: '/api/...',
            title: 'some text',
            disabled: false,
            input_name: 'image_upload'
        }

        Use CSS for styling:
            .img-box
            .img-box .image-container
            .img-box .image-container img
            .img-box #upload_image_placeholder
    */
%>
<style type="text/css">
    #upload_image_placeholder
    {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
    }
</style>

<div class="img-box" style="overflow:hidden; position:relative;">
    <div class="image-container">
        <img src="<%= image_upload.current_value || image_upload.default_image || '' %>" alt="<%= image_upload.title || '' %>" title="<%= image_upload.title || '' %>" class="scale_image" />
    </div>
    <span id="upload_image_placeholder"></span>
    <input type="hidden" name="<%= image_upload.input_name || 'image_upload' %>" value="" />
</div>

<% if (!image_upload.disabled) { %>
<script>
    (function () {
        var image_box = $('.img-box img');
        var input = $('.img-box input');

        new qq.FileUploader({
            element: document.getElementById('upload_image_placeholder'),
            action: '<%= image_upload.api_endpoint || '' %>',
            debug: false,
            onProgress: function(id, fileName, loaded, total){
                console.log('uploader.onProgress: ', arguments);
            },
            onComplete: function(id, fileName, responseJSON){
                var url = responseJSON.avatar.url;
                input.val(url);
                image_box.attr('src', url);
            },
            template: '<span><div class="qq-uploader">' +
                    '<div class="qq-upload-drop-area"><span>העלאת תמונה</span></div>' +
                    '<div class="qq-upload-button"></div>' +
                    '<ul class="qq-upload-list"></ul>' +
                    '</div></span>'
        });
    })();
</script>
<% } %>