<%
        var unseen_notifications = user_logged && user ? user.unseen_notifications || 0 : 0;
%>

<div class="user-box">
    <%if(unseen_notifications > 0){%><span class="total-number"> <%=unseen_notifications%></span><%}%>

    <%if(user_logged && user){%>
    <a href="/myuru">
        <span class="icon"></span>
    </a>
    <%}else{%>
    <label for="user_box_email">
        <span class="icon"></span>
    </label>
    <%}%>
    <h2 id="login_head">
        <%if(user_logged && user){%><%=user.first_name%><%}else{%>התחבר<%}%>
    </h2>
    <div class="hide-box">
        <%if(user_logged && user){%>
        <div class="user-login-box cf">
            <ul>
                <li class="chip"><a href="/myuru">האסימונים שלי <span class="icon-menu"></span><span class="number"><%=Math.floor(user.tokens)%></span></a></li>
                <li class="respect"><a href="/myuru">מוניטין <span class="icon-menu"></span><span class="number"><%=user.score%></span></a></li>
                <li class="notifications"><a href="/myuru#notifications" >עדכונים <span class="icon-menu"></span><span class="number"><%=unseen_notifications%></span></a></li>
                <li class="settings hide"><a href="">הגדרות <span class="icon-menu"></span></a></li>
                <li class="help hide"><a href="">עזרה <span class="icon-menu"></span></a></li>
            </ul>
            <div class="btn-box">
                <!--<a href="">הצג</a>
                <a href="">הסתר</a>-->
                <a href="/account/logout">
התנתק
                </a>
            </div>
        </div>
        <%}else{%>
        <!--action="/account/login"-->
        <form id="register_form" >
            <input id="user_box_email" name="email" type="email" placeholder='דוא"ל'/>
            <input name="password" type="password" placeholder="סיסמא" />
            <a class="forgot_password" href="/account/forgot_password">
                שכחת סיסמא?
            </a>
            <input type="submit" value="התחבר" />
        </form>
        <div class="spacer"></div>
        <!--href="/account/facebooklogin?next=<%=url%>"-->
        <a id="fb_connect" class="facebook" style="cursor:pointer;"></a>
        <a href="/account/register" class="register_link">הירשם</a>
        <%}%>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {

        $("#register_form").validate({
            rules:{
                email:{required: true},
                password:{required: true }
            },
            messages:{
                email: 'הכנס דוא"ל',
                password: 'הכנס סיסמא'
            }
        });

        var userBox = $('.user-box');
        userBox.focusin(function () {
            userBox.addClass('active');
        });
        userBox.focusout(function () {
            userBox.removeClass('active');
        });
    });
    var mail = "<%= (user && user.email) || '' %>";
</script>