<%
var unseen_notifications = user_logged && user ? user.unseen_notifications || 0 : 0;
%>
    <%if(user_logged && user){%>
<div class="user-box">
    <%if(unseen_notifications > 0){%>
        <a class="notifications" href="/myuru#notifications"><%=unseen_notifications%></a>
    <%}%>
    <a class="icon" href="javascript:void(0)"></a>
    <a data-bablic-exclude class="name" href="/myuru"> <%=user.first_name%></a>
</div>

        <div class="user-info-box-container">
            <div class="user-info-box">
                <div class="user-box-top">
                    <div class="messages">
                        <div class="right">

                        עדכונים
                        </div>
                        <div class="left">
                            <%=unseen_notifications%>
                        </div>
                    </div>
                    <!--<div class="tokens">
                        <div class="right">
                        אסימונים
                        </div>
                            <div class="left">
                                <%=Math.floor(user.tokens)%>
                        </div>
                    </div>
                    <div class="fame">
                        <div class="right">
                        מוניטין
                        </div>
                            <div class="left">
                                <%=user.score%>
                        </div>
                    </div>-->
                </div>
                <div class="user-box-bottom">

                    <div class="hide settings"><p>
                        הגדרות
                    </p> </div>
                    <div class="hide help"><p>
                        עזרה
                    </p> </div>
                    <div class="logout"><p>
                        התנתק
                        </p></div>


                </div>
            </div>

        </div>



    <%}else{%>
<div id="login_button" >
    <a  class="login_button" href="javascript:void(0)" > </a>
</div>
    <%}%>


<script type="text/javascript">

    $(document).ready(function () {

        $("#login_button a").click(function(){
            popupProvider.showLoginPopup({}, function(err, result){
                if(!err)
                {

                  if(typeof window.vars === "undefined" || typeof window.vars.afterLogin === "undefined") {
                      window.location = window.location ;
                  }   else   {
                      //  window.location = window.location + '?user_name=' + userName + '&proxy_id=' + proxyId + '&post_id=' + post_id;
                      window.vars.afterLogin();
                  }

                }

            });
            return false;
        })

        $(".user-box.icon").click(function(){ window.location = "/myuru";});
        $(".user-info-box .messages").click(function(){
            db_functions.resetUserNotifications(function(err, result){
                window.location = "/myuru#notifications";
                console.log(err || result);
            })
        });
        $(".user-info-box .tokens").click(function(){ window.location = "/myuru";});
        $(".user-info-box .fame").click(function(){ window.location = "/myuru";});
        $(".user-info-box .logout").click(function(){
            $.removeCookie("fb_login",{ path: '/' });
            window.location = "/account/logout";
        });


        /*$(".user-box .icon").hover(function(){
            $(".user-info-box-container").show();
        });*/

        var userBox = $('.user-box ,.user-info-box-container');
        userBox.hover(
                function(){
                    var timeout = userBox.data('timeout');
                    if(timeout){
                        clearTimeout(timeout);
                    }
                    $(".user-info-box-container").show();
                    //userBox.addClass('active');
                },
                function(){
                    var timeout = setTimeout(function(){
                        //userBox.removeClass('active');
                        $(".user-info-box-container").hide();
                    }, 1000);
                    userBox.data('timeout', timeout);
                }
        );

        userBox.focusin(function () {
            $(".user-info-box-container").show();
            //userBox.addClass('active');
        });
        userBox.focusout(function () {
            $(".user-info-box-container").hide();
            //userBox.removeClass('active');
        });
    });

    var mail = "<%= (user && user.email) || '' %>";
</script>