<!DOCTYPE html>
<% cycle_id = locals.cycle_id || ''; %>

<html>
<head>
    <% include partials/head.ejs %>
</head>

<body class="body-action">
<% include partials/body_top.ejs %>
<div id="wrap">
    <div id="header">
        <% include partials/menu.ejs %>
        <% include partials/user_box.ejs %>
        <% include partials/failures.ejs %>
        <% include partials/tag_search.ejs %>
        <% include partials/social_popup.ejs %>
    </div>
<div id="content" class="cf">
<div class="followers-box">
    <div class="extra">
        <div class="tabs-box">
        </div>
    </div>
</div>

<div class="add-offer add-offer-inner">
    <h2>

        <span class="arrow"><%=action.category && action.category.name %></span>

        <%=action.admin_text%>
    </h2>
    <div  id="minInfo" class="text-box cf">
        <h3>
            <span class="arrow"><a href="/cycles/<%=action.cycle_id[0].cycle.id%>" style="color: #50504F;top :0px "><%=action.cycle_id[0].cycle.title%></a></span>
            <span class="blue-title"><%=action.title%></span>
        </h3>

        <div id="action_image" style="width: 212px;height: 164px; overflow:hidden;" class='auto-scale floatRight'>
            <img src="<%= action.image_field ? action.image_field.url ||'' : '' %>" alt=""/>
            <!--  images/sample-2.jpg" -->

        </div>
        <div class="add-offer-info">
            תאריך:
			<strong><%=action.from_date.format('dd.mm.yyyy') %></strong>
			|  שעה:
			<strong><%=action.from_date.format('HH:MM') %>-<%=action.to_date.format('HH:MM') %></strong>
        </div>
        <div class="add-offer-info m-2">
            מיקום:
            <strong><%=action.location?action.location.address:""%></strong>
        </div>
        <div class="action_content action-text-overflow">
            <p id="action_content" class="hidden_textarea"><%=action.text_field%></p>
         </div>

        <a class="more-text" href="javascript: void(0)">קרא עוד</a>

        <div class="add-offer-users">
            כמות משתתפים רצויה:
			<%=action.required_participants%>
        </div>
    </div>

    <div id="fullInfo" class="add-offer text-box cf fullInfo" style="display: none">
        <!--  <h2><span class="arrow">פעולת שטח</span> <a href="">מפגינים מול ביתו של שר התשתיות</a></h2>-->
        <h3><span class="arrow">
            <a href="/cycles/<%=action.cycle_id[0].cycle._id%>" style="color: #50504F;position: initial;">
                <%=action.cycle_id[0].cycle.title%></a> </span>
            <span class="blue-title"><%=action.title%></span></h3>
        <div class="text-box cf">
            <div id="action_image" style="width: 139px;height: 135px; overflow:hidden;" class='auto-scale floatRight'>
                <img src="<%= action.image_field ? action.image_field.url ||'' : '' %>" alt=""/>
                <!--  images/sample-2.jpg" -->

            </div>
            <!--<img class="floatRight" src="../images/sample-8.jpg" alt="" />-->
            <div class="details">
                <div class="detail-date">
                    <span class="icon"></span>
                    תאריך:
                    <strong><%=action.from_date.format('dd.mm.yyyy') %></strong>
                    |  שעה:
                    <strong><%=action.from_date.format('HH:MM') %>-<%=action.to_date.format('HH:MM') %></strong>
                </div>
                <div class="detail-resourse">

                            <span class="icon"></span>
                    <style type="text/css">
                        .tooltip {
                            display:none;
                           // background:url(/media/img/tooltip/black_arrow_big.png);
                           /* height:163px;
                            padding:40px 30px 10px 30px;
                            width:310px;
                            font-size:11px;
                            color:#fff;*/
                        }
                    </style>
                    <div class="detail-resourse-overflow"  >
						<span id="i_bring_bt">
							גם אני מביא
						</span>

                        משאבים נדרשים:
                        <% for (var i=0;i < action.action_resources.length  ;i++){ %>
                        <span class="<%=action.action_resources[i].left_to_bring==0?'check-disable': 'uncheck-enable' %> have_tooltip"
                                data-id="<%=action.action_resources[i].resource._id %>"
                                id="resource_<%=action.action_resources[i].resource._id%>">

                            <%=action.action_resources[i].resource.name %></span>


                        <% } %>
                    </div>
                </div>
                <div class="detail-ratio">
                    <span class="icon"></span>
                    כמות משתתפים רצויה:
                    <strong class="green"><%=action.required_participants %></strong>
                    |  כמות משתתפים נוכחית:
                    <% if (action.num_of_going < action.required_participants) { %>
                    <!--there use to be here class going red that counts going users (what avner did)-->
                        <strong class="red "><%=action.num_of_going %></strong>
                    <% } else{ %>
                         <strong class="green"><%=action.num_of_going %></strong>
                    <% } %>
                </div>
                <div class="detail-address">
                    <span class="icon"></span>
                    מיקום:
                    <strong><%=action.location?action.location.address:''%></strong>
                </div>
            </div>
            <!--<p><%-action.text_field%></p>-->
            <p id="action_content_after_read_more" class="hidden_textarea"><%=action.text_field%></p>

            <a id="readLess" class="read_less" href="">
                קרא פחות
            </a></p>
        </div>

        <div id="map" class="map" style="width:691px ;height:125px ">
            <!--<img src="../images/map.jpg" alt="" />
            <div class="map-popup">
                <a class="close" href=""></a>
                <h4>התעשייה 12, תל אביב</h4>
                <p><a href="">צפה במפה</a> | <a href="">קבל מסלול נסיעה</a></p>
            </div>-->
        </div>
    </div>



    <div class="add-offer-bottom cf">
        <div class="btn-box row-btn-box">
            <a class="btn-green" href="#" id="action_comment_reply_button">הגב</a>
        <!--    <a class="btn-grey" href="">שתף</a>-->

            <a class="btn-grey share" rel="/actions/<%=action._id%>"
               data-img_src="<%= action.image_field ? action.image_field.url ||'' : '' %>" data-text_preview="<%=action.text_field_preview%>" data-title="<%=action.title%>"
               data-name="<%=action.text_field_preview%>"
               href="/facebookShare?link=/actions/<%=action._id%>">
                שתף
            </a>
           <!-- <div class="btns-grey">
                <a href="">הצעה לשינוי</a>
                <a href="">היסטוריה</a>
            </div>-->
        </div>
        <div class="tags">
             <% for (var c = 0; c<action.tags.length ; c++) { %>
                    <a href="/actions/?tag_name=<%=action.tags[c]%>"> <%=action.tags[c] %></a>
           <% }%>

        </div>

        <!--<div class="slide-box">

            <div class="summary">
                <input type="text" id="amount" value="<%= Math.round(action.grade*100)/100 %>"/>
                        <span> <div class="inlinediv" id="graders"><%= Math.round(action.evaluate_counter) %>
                        </div> מדרגים</span>
            </div>
            <div class="slider slider-one">
            </div>
            <div class="slider-numbers">
                <span>1</span>
                <span>2</span>
                <span>3</span>
                <span>4</span>
                <span>5</span>
                <span>6</span>
                <span>7</span>
                <span>8</span>
                <span>9</span>
                <span>10</span>
            </div>
        </div>-->

    </div>
    <div class="add-offer-btn-box social-on-click">
       <!-- <a href="">אם זה קורה, אני שם</a>-->
        <a href="#" >
        <% if(!action.is_going) { %>
אם זה קורה, אני שם
        <% } else{ %>
        עזוב
        <% } %>
            </a>

    </div>

    <div id="action_resources_popup" >
        <div style="margin-right: 30px;margin-top: 24px;">
            <div class="res-div"  style="overflow: auto;height: 135px ;" >
                <% for (var i=0;i < action.action_resources.length;i++){%>
                <div  data-id="<%=action.action_resources[i].resource._id %>"
                      class="resource_row <%=action.action_resources[i].left_to_bring==0?'check-disable': 'uncheck-enable' %> ">
                    <span> <%=action.action_resources[i].resource.name %></span>
                </div>
                <% } %>
            </div>

            <div class="new_resources" style="height: 35px">
                <span class="uncheck-enable"></span>
                <input type="text"/>
                <a class="add-new-res-bt">
                    הוסף
                </a>
            </div>
            <div>
                <a class="i_bring">
                    אני מביא
                </a>
            </div>
        </div>
    </div>


</div>

<% include partials/action_shopping_cart.ejs %>

<div id='write-comment' class="write-comment" style="display: none;" >
    <h3>
        הצעה לשינוי
    </h3>

    <div class="text-box cf">
        <div class="left">
            <p id='action_content_txt'><strong></strong>

            </p>
            <label>
                ההצעה לשינוי שלי:
            </label>
            <textarea id='action_suggest' class="five-col" cols="0" rows="0"></textarea>
            <label>
                טיעונים, הצדקות ונימוקים:
            </label>
            <textarea id="action_explanation" class="two-col" cols="0" rows="0"></textarea>
        </div>
        <div class="user-right">
            <div class="img-box" style="overflow: hidden;">
                <div style="width:70px; height:70px;" class='auto-scale'>
                    <% if(user_logged) { %>
                    <img id="reload-img" src="<%=avatar%>" alt="אני"  style="width:70px; height:70px"/>
                    <% } %>
                </div>
                <span></span>
            </div>
            <h4>אני</h4>

            <div class="date"><%=(new Date()).format('dd.mm.yy') %></div>
            <% if(user_logged){ %>
            <div class="proxy">
                <span>3</span>
            </div>
            <div class="respect">
                <span>20</span>
            </div>
            <% } %>
        </div>
    </div>
    <a class="grey-btn" id="cancelWriteCommentBT" href="javascript:void(0);"><span>
מתחרט
            </span></a>
    <a id="send_suggestion" class="green-btn" href="javascript:void(0);">
        הצע
    </a>
</div>

<div class="members-box members-box-action-approved cf ">
    <h2>משתתפים
        <small id="going_number"></small></h2>
    <div  id="participant">
    </div>

    <br clear="all" />
    <!--<div class="more-deals" >-->
        <!--<a href="">עוד הצעות</a>-->
    <!--</div>-->
</div>



<div class="deals-box">
    <h2>הצעות לשינוי
        <small id="suggestion_number"></small>
    </h2>
    <div id="suggestion_list"></div>
    <div class="more-deals" >
        <a href="">עוד הצעות</a>
    </div>
</div>
</div>
</div>




<div class="system-notice" <%-((action.system_message))? '' :'style="display: none;"' %>>
    <div class="extra">
        <a class="close" href=""></a>
        <%- action.system_message %>
    </div>
</div>

<div class="comments-box comments-box-inner">
    <div class="extra cf">
        <select class="left-select">
            <option>
                מיין לפי תאריך
            </option>
            <option>
                מיין לפי יוזר
            </option>
            <option>
                מיין לפי תוצאות
            </option>
        </select>
        <h2>
            תגובות
            <small id="comments_number"></small></h2>
        <div id="comments">

        </div>
        <a href="javascript:void(0)" class="more_comments" style="display:none;">הראה עוד</a>
        <div class="write-comment">
            <h3>
                כתיבת תגובה
            </h3>

            <div class="text-box cf"
            <%if(user_logged){%> data-creator_id="<%=user._id%>" <%}%> >
            <div class="left">
                <textarea id="discussion_comment" dir="rtl" class="four-col" cols="0" rows="0"></textarea>
            </div>
            <div class="user-right">
                <div class="img-box" style="overflow: hidden;">
                    <div style="width:70px; height:70px;" class='auto-scale'>
                        <% if(user_logged) { %>
                        <img src="<%=avatar%>" alt="אני"/>
                        <% } %>
                    </div>
                    <span></span>
                </div>
                <h4>אני</h4>

                <div class="date"><%=(new Date()).format('dd.mm.yy') %></div>
                <% if(user_logged){ %>
                <div class="proxy">
                    <span><%=user.num_of_proxies_i_represent%> </span>
                </div>
                <div class="respect">
                    <span class="score"><%=user.score%></span>
                </div>
                <% } %>
            </div>
        </div>
        <a id="submit_post" class="green-btn" href="javascript:void(0);">
            הצע
        </a>
    </div>
</div>
 <span class="popup-window">
         <span class="arrow"></span>
         <a class="close" href="javascript:void(0);"></a>
        	 <a id="pop_post_bt" class="green-btn" href="javascript:void(0);">הגב</a>
             <a id="pop_suggest_bt" class="grey-btn suggest" href="javascript:void(0);">
                 הצע הצעה לשינוי
             </a>
     </span>


    </div>

<!--<div  id="action_resources_popup"  class="tooltip" style="width: 300px;height: 400px;background: red;z-index: 1000" >
    aaaa
</div>-->




<% include partials/action_common.ejs %>
<% include partials/footer.ejs %>

<script type="text/javascript">
    var current_section=3;
    var action_id = '<%=action._id%>';
    var my_id = "<%=user_logged ? user._id : ''%>";
    var my_avatar = "<%=avatar%>";
    var my_action_grade = Number("<%= action.grade_obj ? action.grade_obj.value || 0 : 0 %>");
    var vision = $('#action_content').text();
    var cycle_id='<%= action.cycle_id[0].cycle.id %>' ? '<%= action.cycle_id[0].cycle.id %>' : '';
    var cycle_title="<%= action.cycle_id[0].cycle.title%>";
    var action_grade = Number("<%= action.grade%>");
    var action_resources = <%- JSON.stringify(action.action_resources) %>;


    var creator_id = "<%=action.creator_id%>";

    $(function(){

        for (var i=0;i < action_resources.length  ;i++){
            var resource_id = action_resources[i].resource._id;
            var bringing_user = null;



            $.each(what_users_bring, function(index, value){
                if(value.resource == resource_id){
                    if(value.user_id){
                        var my_resource = (value.user_id._id == my_id) ? true : false;
                        var data = {
                            name: value.user_id.first_name + " " + value.user_id.last_name,
                            resource: value.resource,
                            avatar: value.user_id.avatar,
                            my_resource: my_resource
                        }

                        dust.render('user_brings_resource_popup', data, function(err, out){
                            $('.body-action').append(out);
                        });
                    }
                }
            })
    }
        var grade_id = "<%= action.grade_obj ? action.grade_obj.grade_id : 0 %>";
        var is_creator = (my_id == creator_id);
        $('.system-notice .close').click(function (e) {
            e.preventDefault();
            $(this).parents('.system-notice').fadeOut(800);
        });

        (function propselModule(){
            var mouseDown;

            $('.popup-window .close').on('click', function () {
                $('.popup-window').hide();
            });

            $('.popup-window').on('focus', function (e) {
                e.preventDefault();
            });

            $("#action_content, #action_content_after_read_more")
                    .mousedown(function (e) {
                        mouseDown = e;
                    }).mouseup(function (mouseUp) {
                        var left = Math.ceil((mouseDown.clientX + mouseUp.clientX) / 2 - ($(".popup-window").width() / 2)),
                            top = Math.min(mouseDown.clientY, mouseUp.clientY) - $(".popup-window").height() - 40 + $(window).scrollTop(),
                            range = $(this).selection(),
                            flag = false;

                        if (range.width == 0) {
                            // No selection
                            return;
                        }

                        db_functions.getSuggestionByAction(action_id, null, null, function(err, suggestions){
                            $.each(suggestions.objects, function (index, suggestion) {
                                if ((suggestion.parts[0].start >= range.start && suggestion.parts[0].start <= range.end)
                                        || (suggestion.parts[0].end >= range.start && suggestion.parts[0].end <= range.end)) {
                                    flag = true;
                                }
                            });

                            console.log('flag: ' + flag);

                            if(flag) {
                                popupProvider.showOkPopup({message:"הטקסט סומן כבר בהצעה לשינוי קיימת"});
                            } else {
                                /*$(".popup-window")
                                        .css({ top:top + 20, left:left, opacity:0 })
                                        .show()
                                        .animate({ top:'-=20px', opacity:1 }, 100, 'linear');*/
                            }

                            console.log(range);
                        });
                    }).keydown(function (e) {
                        console.log(e.keyCode == 27);
                        if (!(e.shiftKey && (e.keyCode <= 40 && e.keyCode >= 37) || (e.ctrlKey && e.keyCode == 65))) {
                            e.preventDefault();
                        }
                    }).on('dragstart', function (e) {
                        e.preventDefault();
                    });

            $('#pop_suggest_bt').on("click", function (e) {
                e.preventDefault();
                $('#action_content_txt').text('"' + range.text + '"');
                $('#write-comment').show();
                $('textarea#action_suggest').focus();
                $('#reload-img').attr('src', $('#reload-img').attr('src'));
                $(".popup-window").hide();
            });
            $('#pop_post_bt').on("click", function (e) {
                e.preventDefault();
                new_post_ref_id = null;
                $(".popup-window").hide();
                $("textarea#action_comment").val('"' + range.text + '"').focus();


            });

            $('#suggestion_list').on('click', '.sugg_rating_button', function () {
                var rating = Number($(this).parent().find($(".sugg_rating_select")).val());
                sugg_grade_id = $(this).parent().data('grade');

                var suggestion_id = $(this).parent().attr('id');
                var self = this;
                var user_info = {
                    user_logged_in : user.first_name ? true : false,
                    action_done : (user.actions_done_by_user && user.actions_done_by_user.grade_object) ? true : false,
                    action_name : "grade_object",
                    tokens_owned : user.tokens ? user.tokens : 0,
                    price: gamification_price['suggestion_on_action']
                }
                db_functions.addSuggestionGrade(suggestion_id, action_id, rating, sugg_grade_id, user_info, function (err, data) {
                    if (!err) {
//                        if(!(user.actions_done_by_user && user.actions_done_by_user.grade_object))
//                        {
//                            user.actions_done_by_user.grade_object = true;
//                        }
                        db_functions.getSuggestionByAction(action_id, null, null, function (err, data) {
                            $.each(data.objects, function (index, suggestion) {
                                render_suggestion(suggestion);
                            });
                        })
                    }
                });
            });

            $('#suggest_button').click(function () {
                $('#suggest_div').show();
            });

            $('#close_suggest').click(function () {
                $('#suggest_div').hide();
                $("textarea#action_suggest").val('');
            });

            $('#send_suggestion').click(function () {
                var part = {start:range.start, end:range.end, text:$("textarea#action_suggest").val()};
                //arrange spaces
                if (vision[part.end - 1] == " " && part.text[part.text.length - 1] != " ")

                    part.text += " ";
                var explanation = $("#action_explanation").val();

                var user_info = {
                    user_logged_in : user.first_name ? true : false,
                    action_done : (user.actions_done_by_user && user.actions_done_by_user.suggestion_on_object) ? true : false,
                    action_name : "suggestion_on_object",
                    tokens_owned : user.tokens ? user.tokens : 0,
                    price: gamification_price['suggestion_on_action']
                }

                db_functions.addSuggestionToAction(action_id, [part], explanation, user_info, function (err, data) {
                    if (!err) {
                        if(!user.actions_done_by_user.suggestion_on_object)
                        {
                            user.actions_done_by_user.suggestion_on_object = true;
                        }
                        $('#write-comment').hide();
                        render_suggestion(data)
                        $(".deals-box").show();
                    } else {
                        var err = err;
                        if(err.responseText == "a suggestion with this indexes already exist")
                            popupProvider.showOkPopup({message:"הטקסט סומן כבר בהצעה לשינוי קיימת"});
                    }
                });
            });

            $("#cancelWriteCommentBT").live("click", function () {
                $('#write-comment').hide();
            });


        } )();

        $("#action_content").val($("#action_content").text());

        $(".slider").slider({
            disabled:is_creator,
            value:my_action_grade,
            range:"min",
            min:0,
            max:10,
            step:0.10,
            change:function (event, ui) {

                my_action_grade = ui.value;

                var user_info = {
                    user_logged_in : user.first_name ? true : false,
                    action_done : (user.actions_done_by_user && user.actions_done_by_user.grade_object) ? true : false,
                    action_name : "grade_object",
                    tokens_owned : user.tokens ? user.tokens : 0,
                    price: gamification_price['grade_action']
                }

                db_functions.addActionGrade(action_id, my_action_grade, grade_id, user_info, function (err, data) {

                    if (!err) {
//                        if(!(user.actions_done_by_user && user.actions_done_by_user.grade_object))
//                        {
//                            user.actions_done_by_user.grade_object = true;
//                        }
                        $("#amount").val(Math.round(data.new_grade * 100) / 100);
                        $("#graders").text(Math.round(data.evaluate_counter));
                        $(".dark_bar").css('width', (my_action_grade * 10) + '%');
                        grade_id = data.grade_id;
                    }
                    else
                        console.log(err);
                });
            }
        });

        var suggest_grade_id = new Object();

        function render_suggestion(suggestion) {
            if (suggestion.parts && suggestion.parts.length) {
                var original = $('#action_content').val();
                suggestion.original_part = function () {
                    var from = suggestion.parts[0].start;
                    var end = suggestion.parts[0].end;
                    return original.substr(from, end - from);
                };
                suggestion.alternative_part = function () {
                    return suggestion.parts[0].text;
                };

                var depress_event = false;

                dust.render('discussion_suggestion', suggestion, function (err, out) {
                    $('#suggestion_list').prepend(out);
                    image_autoscale($('#suggestion_list .auto-scale img'));
                    var suggestion_grade_val = suggestion.grade_obj ? suggestion.grade_obj.evaluation_grade : my_action_grade;
                    suggest_grade_id[suggestion.id] = suggestion.grade_obj ? suggestion.grade_obj._id : null;
                    $(".suggest_slider_" + suggestion.id).slider({
                        value:suggestion_grade_val,
                        range:"min",
                        min:0,
                        max:10,
                        step:0.10,
                        slide:function (event, ui) {
                            var rating = ui.value;
                            var grade = is_creator ? action_grade : my_action_grade;
                            if (rating >= grade) {
                                $(this).parents(".bottom-box").find(".agree_disagree").removeClass("disagree").addClass("agree")
                            } else {
                                $(this).parents(".bottom-box").find(".agree_disagree").removeClass("agree").addClass("disagree");

                            }
                        },
                        change:function (event, ui) {
                            if(depress_event)
                                return;
                            var rating = ui.value;
                            var user_info = {
                                user_logged_in : user.first_name ? true : false,
                                action_done : (user.actions_done_by_user && user.actions_done_by_user.grade_object) ? true : false,
                                action_name : "grade_object",
                                tokens_owned : user.tokens ? user.tokens : 0,
                                price: gamification_price['grade_action_suggestion']
                            }
                            db_functions.addSuggestionGrade(suggestion.id, action_id, rating, suggest_grade_id[suggestion.id], user_info, function (err, data) {
                                if (!err) {
//                                    if(!(user.actions_done_by_user && user.actions_done_by_user.grade_object))
//                                    {
//                                        user.actions_done_by_user.grade_object = true;
//                                    }
                                    $("#suggest_grade_" + suggestion.id).val(Math.round(data.new_grade * 100) / 100);
                                    $("#suggest_graders_" + suggestion.id).text(Math.round(data.agrees) + Math.round(data.not_agrees));
                                    $("#agrees_" + suggestion.id).text(Math.round(data.agrees));
                                    $("#not_agrees_" + suggestion.id).text(Math.round(data.not_agrees));
                                    $("#wanted_amount_of_tokens_" + suggestion.id).text(data.wanted_amount_of_tokens);
                                    $("#curr_amount_of_tokens_" + suggestion.id).text(Math.round(data.curr_amount_of_tokens));
                                    suggest_grade_id[suggestion.id] = data.grade_id;

                                    //already_graded
                                }
                                else
                                {
                                    depress_event = true;
                                    $(".suggest_slider_" + suggestion.id).slider("value", suggestion_grade_val || 0);
                                    depress_event = false;
                                    console.log(err);
                                }
                            });
                        }
                    });

                    initTooltipWithMessage($('#suggestion_list .right .respect'), 'מוניטין');

                    $(".suggest_slider_" + suggestion.id).prepend($("<div>").addClass("dark_bar").css('width', (my_action_grade * 10) + '%'));
                });
            }
            return null;

        }

        db_functions.getSuggestionByAction(action_id, 1, 0, function (err, data) {
            $.each(data.objects, function (index, suggestion) {
                render_suggestion(suggestion);
            });

            $('#suggestion_number').text('(' + data.meta.total_count + ')');
            if (data.objects.length > 0) {
                $(".deals-box").show();
                if (data.meta.total_count >= 2) {
                    $(".more-deals").show();
                    $(".more-deals a").on('click', function (e) {
                        db_functions.getSuggestionByAction(action_id, null, 1, function (err, data) {
                            $.each(data.objects, function (index, suggestion) {
                                render_suggestion(suggestion);
                            });
                        });
                        $(".more-deals").hide();
                        return false;
                    });

                }

            }
            else {
                $(".deals-box").hide();
            }
        });

        function renderComments(comments) {
            var i;
            for (i = 0; i < comments.length; i++) {
                comments[i].isFirst = (i === 0);
                comments[i].isEven = ((i % 2)== 0);
                comments[i].voting =      comments[i].votes_for - comments[i].votes_against;
            }
            dust.renderArray('action_comment', comments, null, function (err, out) {
                if (!err) {
                    var comments = $("#comments");
                    comments.append(out);
                    var hash = window.location.hash;
                    if (hash) {
                        if (!scrollTo(hash)) {
                            var match = /^#post_([0-9a-f]+)/.exec(hash);
                            if (match) {
                                var post_id = match[1];

                                db_functions.getPostById(post_id, function (err, post) {
                                    dust.render('action_comment', post, function (err, out) {
                                        if (!err)
                                            comments.append(out);
                                        scrollTo(hash);
                                    });
                                });
                            }
                        }
                    }

                    image_autoscale($('.auto-scale img', comments));
                    initTooltipWithMessage($('#comments .right .respect'), 'מוניטין');

                }
            });
        }

        /******************** action res popup*********************************************/
        (function(){
            var resId;

            function uncheck (selectedRes){
                selectedRes.addClass("uncheck-enable");
                selectedRes.removeClass("check-enable");
            }

            function check (selectedRes){
                selectedRes.removeClass("uncheck-enable");
                selectedRes.addClass("check-enable");
            }
            function onPopupClosed(){
                $('#action_resources_popup').find('[data-id]').each(function(){
                    if(!$(this).hasClass('check-disable')){
                        uncheck($(this));
                    }
                });
                $('#action_resources_popup .new_resources input').val('');
                uncheck( $('#action_resources_popup .new_resources span'));

            }


            function removeTooltip(id)
            {
                var api = $('#resource_' + id).data('tooltip'),
                tip = api.getTip(),
                trigger = api.getTrigger();

                if(tip){
                    tip.remove();
                }
                trigger.unbind('mouseover, mouseout');

            }

            function addResourceTooltip(data)
            {
                var api = $('#resource-popup' + data.resource);
                if(!api.attr('data-resource')){
                    dust.render('user_brings_resource_popup', data, function(err, out){
                        $('.body-action').append(out);
                    });
                }

                var tooltipDataElement = $('#resource_' + data.resource).data('tooltip');
                if (tooltipDataElement) {
                    tooltipDataElement.show = tooltipDataElement.originalShow;
                } else {
                    $('#resource_' + data.resource).tooltip({
                        opacity:1,
                        position: 'bottom center',
                        offset:[0,10],
                        tip:'#resource-popup' + data.resource,
                        events: {
                            def:'mouseover, mouseout'
                        },
                        onHide:function(e){
                            onPopupClosed();
                        }
                    });
                }
            }

            function  addResource(id,text, check){
                var class1 = check? 'check-disable': 'uncheck-enable';
                //add to popup
                $('#action_resources_popup .res-div').append(
                        '<div  data-id="'+id+'" class="resource_row '+class1 +' ">'+
                                ' <span>'+text+'</span>'+
                                '</div>'
                );

                //add to page
                var new_resource = '<span id="resource_'+id+'" class="have_tooltip '+class1+'"  data-id="'+id+'"  >'+text+'</span>';
                $('#fullInfo .detail-resourse-overflow').append(
                        new_resource
                );

                //add to
                var data = {
                    name: "אני",
                    resource: id,
                    avatar: my_avatar,
                    my_resource: true
                };

                addResourceTooltip(data);

            }

            $.each(action_resources, function(index, value){
                if($('#resource_' + value.resource._id).hasClass('check-disable')){
                    $('#resource_' + value.resource._id).tooltip({
                        opacity:1,
                        position: 'bottom center',
                        offset:[0,10],
                        tip:'#resource-popup' + value.resource._id,
                        events: {
                            def:'mouseover, mouseout'
                        },
                        onHide:function(e){
                            onPopupClosed();
                        }
                    });
                }
            })

            $('.have_tooltip').click(function () {
                if($(this).hasClass('uncheck-enable')){
                    var box = $('#action_resources_popup');
                    var leftPosition = $(this).position().left - 80;
                    var topPosition = $(this).position().top + $(this).height() + 125;
                    var resourceId = $(this).attr('data-id');
                    $.each(box.find('[data-id]'), function(index, value){
                        if(resourceId == value.getAttribute('data-id'))
                        {
                            $(value).addClass('check-enable');
                            $(value).removeClass('uncheck-enable');
                        }
                    });


                    box.css({
                        opacity: 1,
                        left: leftPosition,
                        top: topPosition
                    }).toggle();
                }
            });



            $('#action_resources_popup').on("click", ".check-enable", function(e){
                uncheck($(this));
            })
            $('#action_resources_popup').on("click", ".uncheck-enable", function(e){
                check($(this));
            })
            $('#action_resources_popup').on("click", ".i_bring", function(e){
                //get new checks

                var checkedArr=[];
                $('#action_resources_popup .check-enable').each(function(){
                    checkedArr.push(
                            {id:$(this).data('id'), amount:1}
                    );

                    //disable popup
                    $(this).removeClass("uncheck-enable");
                    $(this).removeClass("check-enable");
                    $(this).addClass("check-disable");
                });

                // update ui
                $.each(checkedArr,function(index,value){
                    var key=value;
                    //disable in mainpage
                    $('.detail-resourse-overflow').find('[data-id='+key.id+']').each(function(){
                        $(this).removeClass("uncheck-enable");
                        $(this).removeClass("check-enable");
                        $(this).addClass("check-disable");
                    });

                })

                 db_functions.addOrRemoveResourceToAction(action_id,checkedArr,function(err,data){

                     $('#action_resources_popup').hide();
                 });

                $.each(checkedArr, function(index, value){
                    var data = {
                        name: "אני",
                        resource: value.id,
                        avatar: my_avatar,
                        my_resource: true
                    };
                    addResourceTooltip(data);
                })


            })

        $('body').click(function(e) {
            var left = $('#action_resources_popup').offset().left;
            var top = $('#action_resources_popup').offset().top - 30;
            var bottom = top + $('#action_resources_popup').height();
            var right = left + $('#action_resources_popup').width();

            var x = e.pageX;
            var y = e.pageY;

            if(!(x > left && x < right && y > top && y < bottom)){
                $('#action_resources_popup').hide();
            }

        });

        $('.body-action').on('click', '.i_dont_bring_bt',(function(e){
            var removedResource = $(e.target).parents('.user_brings_resource_popup').attr('data-resource');

            //remove from what users bring
            for(var i in what_users_bring)
            {
                if(what_users_bring[i].resource == removedResource)
                {
                    what_users_bring.splice(i, 1);
                    break;
                }
            }

            var tooltipData = $('#resource_' + removedResource).data('tooltip');
            tooltipData.originalShow = tooltipData.show;
            tooltipData.show = function(){};

            //$('#resource_' + removedResource).removeData('tooltip');
            //$('#resource-popup' + removedResource).remove();
            //removeTooltip(removedResource);

            var checkedArr=[];
            checkedArr.push(
                {id:removedResource, amount: -1}
            );

                //enable popup
            $('.res-div').find('[data-id='+removedResource+']').each(function(){
                $(this).removeClass("check-disable");
                $(this).addClass("uncheck-enable");
                $(this).addClass("check-enable");
            });

            // update ui
            //disable in mainpage
            $('.detail-resourse-overflow').find('[data-id='+removedResource+']').each(function(){
                $(this).addClass("uncheck-enable");
                $(this).addClass("check-enable");
                $(this).removeClass("check-disable");
            });

            db_functions.addOrRemoveResourceToAction(action_id, checkedArr, function(err,data){
                $('#action_resources_popup').hide();
            });
        }));

            $('.followers-diagram').on("mouseenter", ".icon", function(e){
                e.preventDefault();
                var popup_event = $(this).children('.popup-event');
                popup_event.stop(true, true);
                popup_event.show();
            });

            $('.followers-diagram').on("mouseleave", ".icon", function(e){
                e.preventDefault();
                var popup_event = $(this).children('.popup-event');
                popup_event.fadeOut(2000);
            })

        $('#i_bring_bt').click(function () {
            var box = $('#action_resources_popup');
            var leftPosition = -65;
            var topPosition = $('.detail-resourse').position().top + $(this).height();
            $.each(box.find('[data-id]'), function(index, value){
                if($(value).hasClass('check-enable'))
                {
                    $(value).removeClass('check-enable');
                    $(value).addClass('uncheck-enable');
                }
            });
            box.css({
                opacity: 1,
                left: leftPosition,
                top: topPosition
            }).toggle();
        });



        $('#action_resources_popup .add-new-res-bt').click(function(e){
            e.preventDefault();
            var newRes= $('#action_resources_popup .new_resources input').val();
            $('#action_resources_popup .new_resources input').val('');

            var bringing=$('#action_resources_popup .new_resources span').hasClass('check-enable');
            uncheck( $('#action_resources_popup .new_resources span'));
            var amount = 1;
            var amountBringing = 0;
            if(bringing){
                amountBringing = 1;
            }
            if(newRes && newRes.length > 0){
                //save in db


                    db_functions.createNewActionResource(action_id, newRes, amount, amountBringing, my_id, function(err, result){
                        var id =result._id;
                        action_resources.push(result);
                        addResource(id, newRes, bringing);
                    });

                }
            })
        })();

        var goingModel= new  window.uru.GoingModel({
            joinString:'אם זה קורה, אני שם'
        });
        //start from index 0 loding 1 rows 7 items
        goingModel.loadGoingUsers(0,1);


    });


    timeline.render(cycle_id, cycle_title, action_id) ;

    var what_users_bring = <%- JSON.stringify(action.what_users_bring) %>;
</script>

</body>
</html>
