<!DOCTYPE html>
<%
var error_message = error_message || '';
%>

<html>
<head>
    <% include partials/head.ejs %>

    <style>
        .error-container {
            position: relative;
        }
        .error-container label.error {
            display: inline-block;
            position: absolute;

            top: 30px;
            right: 0px;
            white-space: nowrap;

            border: 1px solid black;
            padding: 1px 2px;
            background: #ffffdb !important;
            font: normal 13px/15px Arial;

            direction: rtl;
        }
    </style>

</head>
<body>
<% include partials/body_top.ejs %>
<div id="wrap">
    <div id="header">
        <% include partials/menu.ejs %>
        <% include partials/user_box.ejs %>
        <% include partials/failures.ejs %>
        <% include partials/tag_search.ejs %>
    </div>
    <div id="content" class="cf">
    <div class="discussion-main">
        <h2><span class="arrow"><%= cycle.title %></span></h2>
        <form id="main_form" action="#">
            <input type="hidden" name="cycle_id" value="<%=cycle.id%>" />
            <div class="add-event cf">
                <div class="add-picture">
                    <%
                        var image_upload = {
                            default_image: '/images/add-image.png',
                            api_endpoint: '/api/image_upload',
                            input_name: 'image_field[url]'
                        };
                    %>
                    <% include partials/image_upload.ejs %>
                </div>
                <div class="event-text">
                    <div class="one-line title cf">
                        <label>כותרת הפעולה</label>
                        <div class="input">
                            <input type="text" id="title" name="title" value="" required />
                        </div>
                    </div>
                    <div class="one-line cf">
                        <div class="type">
                            <label>סוג הפעולה</label>
                            <select name="category" required>
                            </select>
                        </div>
                        <div class="place">
                            <label>מיקום</label>
                            <div class="input">
                                <input id="place_input" type="text" name="location[address]" value="" />
                            </div>
                            <input type="button" value="פתח מפה" />
                            <div style="height: 0px; overflow: hidden;">
                                <div style="width: 300px; height: 300px;" id="map_popup">
                                    <input type="hidden" name="location[geometry]" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="one-line cf">
                        <div class="date">
                            <label>תאריך</label>
                            <div class="input">
                                <input type="date" name="date" value="<%= today %>" required />
                            </div>
                        </div>
                        <div class="time">
                            <label>משעה</label>
                            <div class="input from">
                                <input type="time" name="time[from]" value="15:00" step="any"/>
                            </div>
                            <label>עד שעה</label>
                            <div class="input to">
                                <input type="time" name="time[to]" value="18:00" no-seconds/>
                            </div>
                        </div>
                        <div class="user-number">
                            <label>מספר משתתפים רצוי</label>
                            <div class="input">
                                <input type="number" name="required_participants" min="0" value="" required />
                            </div>
                        </div>
                    </div>
                    <div class="one-line cf">
                        <div class="resources">
                            <label>משאבים נדרשים</label>
                            <select>
                            </select>
                        </div>
                        <div class="additional-resources">
                            <input type="text" placeholder="משאבים נוספים" />
                            <input type="button" value="הוסף" />
                        </div>
                    </div>
                    <div class="checkboxes cf">
                    </div>
                </div>
            </div>
            <div class="bottom">
                <div class="textarea">
                    <textarea rows="10" cols="50" id="text" name="text_field" placeholder="זה המקום לתאר את אופי הפעולה, להסביר כיצד היא תקדם את מימוש החזון במציאות, לפרט מה המשאבים הנדרשים ולעודד חברים נוספים להצטרף אליה." required></textarea>
                </div>
                <div class="tags-box tags-box-event">
                    <div class="add-tag">
                        <div class="input">
                            <input type="text" value="" id="tag" placeholder=
                                    "הוסף תגיות"
                                    />
                        </div>
                        <input type="submit" value="הוסף" id="add_tag" />
                        <ul id="search_suggestion">
                            <li class="topborder"></li>
                        </ul>
                    </div>
                    <div class="tags-list">
                    </div>
                </div>
                <input class="popup-add-text-link" type="submit" value="יצירת פעולה" />
                <label><input type="checkbox" id="share" checked="checked" /> שתף את הפעולה שיצרת על הקיר שלך</label>
            </div>
        </form>
    </div>


</div>


</div>

<div id="card">
    <div class="extra">
        <div class="card-top cf">
            <a class="btn btn-1 inline share" rel="/information_cart/{_id}" href="/facebookShare?link=/information_cart/{_id}">שתף</a>
            <!-- <a class="btn btn-2" href="/information_items/"><span class="number" style="display:none;"></span>חזור לאסוף פריטי מידע נוספים </a>-->
            <a class="btn btn-2" id="collect_information_item_bt"  href="/information_items/"><span class="number" style="display:none;">

                </span>חזור לאסוף פריטי מידע נוספים </a>
            <h3 class="basket">
                סל מידע
            </h3>

            <p>
                יש לך
                <span id="info_items_count"></span>
                פריטים בעגלה
            </p>
        </div>
        <div class="card-products cf">
            <div class="one-col" id="col1"> </div>
            <div class="one-col" id="col2" > </div>
            <div class="one-col" id="col3"> </div>
        </div>
    </div>
</div>
<div style="display: none;">
    <div class="popup" id="user-search">
        <form class="search-top cf" action="#">
            <label>הזמן חברים להשתתף בדיון</label>
            <div class="input">
                <input type="text" value="" />
            </div>
            <input type="submit" value="שפח" />
        </form>
        <div class="search-result cf">
            <div class="one">
                <a class="delete-app" href=""></a>
                <div class="img-box">
                    <img width="58" src="/images/user-1.jpg" alt="" />
                    <span></span>
                </div>
                יבקעי לאומש
            </div>
            <div class="one">
                <a class="delete-app" href=""></a>
                <div class="img-box">
                    <img width="58" src="/images/user-1.jpg" alt="" />
                    <span></span>
                </div>
                יבקעי לאומש
            </div>
            <div class="one">
                <a class="delete-app" href=""></a>
                <div class="img-box">
                    <img width="58" src="/images/user-1.jpg" alt="" />
                    <span></span>
                </div>
                שמואל יעקבי
            </div>
            <div class="one">
                <a class="delete-app" href=""></a>
                <div class="img-box">
                    <img width="58" src="/images/user-1.jpg" alt="" />
                    <span></span>
                </div>
                יבקעי לאומש
            </div>
            <div class="one">
                <a class="delete-app" href=""></a>
                <div class="img-box">
                    <img width="58" src="/images/user-1.jpg" alt="" />
                    <span></span>
                </div>
                יבקעי לאומש
            </div>
            <div class="one">
                <a class="delete-app" href=""></a>
                <div class="img-box">
                    <img width="58" src="/images/user-1.jpg" alt="" />
                    <span></span>
                </div>
                יבקעי לאומש
            </div>
            <div class="one">
                <a class="delete-app" href=""></a>
                <div class="img-box">
                    <img width="58" src="/images/user-1.jpg" alt="" />
                    <span></span>
                </div>
                יבקעי לאומש
            </div>
            <div class="one">
                <a class="delete-app" href=""></a>
                <div class="img-box">
                    <img width="58" src="/images/user-1.jpg" alt="" />
                    <span></span>
                </div>
                יבקעי לאומש
            </div>
            <div class="one">
                <a class="delete-app" href=""></a>
                <div class="img-box">
                    <img width="58" src="/images/user-1.jpg" alt="" />
                    <span></span>
                </div>
                יבקעי לאומש
            </div>
            <div class="one">
                <a class="delete-app" href=""></a>
                <div class="img-box">
                    <img width="58" src="/images/user-1.jpg" alt="" />
                    <span></span>
                </div>
                יבקעי לאומש
            </div>
        </div>
        <form class="search-bottom cf" action="#">
            <label>ליימ םהל חלש וא</label>
            <div class="input">
                <input type="text" value="" />
            </div>
            <input type="submit" value="חלש" />
        </form>
    </div>


</div>

<% include partials/footer.ejs %>

<script src="/js/lib/autocompleteTag.js"></script>

<script>
    $.fn.tagAdder = function (callback, condition) {
        var button = this.find('[type=button]');
        var text = this.find('[type=text]');
        button.click(function (e) {
            if (condition && !condition()) {
                // Do not add a tag if condition exists and returned false.
                return;
            }

            var value = text.val();
            value = value.trim();

            if (value != '')
                callback(value);

            text.val('');

            e.preventDefault();
        });
    };

    $.validator.addMethod("notZero", function(value, element) {
        console.log("Validator: ", arguments);
        return value != 0;
    });

    var categories = <%- JSON.stringify(categories) %>;
    var category_select = $('.type select');
    var resources = <%- JSON.stringify(resources) %>;
    var resource_select = $('.resources select');
    var resource_checkboxes = $('.checkboxes');
    var tag_list = $('.tags-list');

    var populate = function(select, options) {
        select.empty();
        select.append($('<option>').text('בחר מתוך רשימה').val(0));
        options.map(function (option) {
            if (option && option.name && option._id) {
                select.append($('<option>').text(option.name).val(option._id));
            }
        })
    };

    var resource_index = 0;

    var addResource = function (text, id) {
        var add = true;
        resource_checkboxes.find('label').each(function () {
            if ($(this).text().trim() == text) {
                // A checkbox with the same text already exists.
                add = false;
            }
        });

        if (add) {
            var label = $('<label>');
            label.text(text);

            var addCheckbox = function (id) {
                resource_index++;
                label.prepend($('<input type="hidden">').attr('name', 'action_resources[' + resource_index + '][id]').val(id));
                label.prepend($('<input type="checkbox">').attr('name', 'action_resources[' + resource_index + '][checked]'));
            };

            if (id) {
                // When selecting from the list, we already have an id
                addCheckbox(id);
            } else {
                // When adding from the textbox, we need to generate an id on the server.
                var loading = $('<img src="/images/loading-small.gif">');
                label.prepend(loading);

                $.ajax({
                    type: 'POST',
                    url: '/api/action_resources',
                    data: { category: category_select.val(), name: text },
                    success: function (result) {
                        console.log('/api/action_resource success: ', arguments);
                        loading.remove();
                        addCheckbox(result._id);
                    },
                    error: function () {
                        console.log('/api/action_resource error: ', arguments);
                    }
                });
            }

            resource_checkboxes.append(label);
        }
    };

    var addTag = function (text) {
        var add = true;
        tag_list.find('span').each(function () {
            if ($(this).text().trim() == text) {
                add = false;
            }
        });

        if (add) {
            tag_list.append($('<span>').text(text).append($('<input type="hidden" name="tags[]">').val(text)));
        }
    }

    populate(category_select, categories);
    populate(resource_select, []);

    category_select.change(function () {
        var category = category_select.val();
        populate(resource_select, resources.filter(function (r) { return r.category == category; }));
    });

    resource_select.change(function () {
        var resource = resource_select.val();
        if (resource) {
            var option = resource_select.find('option:selected');
            addResource(option.text(), option.val());
        }
        resource_select.val('');
    });

    $('.additional-resources').tagAdder(addResource, function () {
        if (category_select.val() != 0) {
            return true;
        } else {
            popupProvider.showOkPopup({ message: 'יש לבחור קודם סוג פעולה.' });
            return false;
        }
    });
    $('.add-tag').tagAdder(addTag);

    $('#map_popup input').geopicker({
        address_field: 'place_input'
    });
    $('.place [type=button]').click(function () {
        $.colorbox({
            inline: true,
            href: '#map_popup',
            onComplete: function () {
            },
            onClosed: function () {
            }
        });
    });

    $('#main_form').validate({
        rules: {
            category: 'notZero'
        },
        messages: {
            title: 'נא למלא כותרת',
            category: 'נא לבחור את סוג הפעולה מהרשימה',
            location: 'נא לבחור מיקום',
            date: 'נא לבחור תאריך',
            number_of_participants: 'נא למלא מספר משתתפים',
            text: 'נא למלא פוסט ראשון בדיון'
        },

        errorPlacement: function (error, element) {
            element.parent().addClass('error-container').prepend(error);
        },

        focusInvalid: false,
        focusCleanup: true,

        submitHandler: function (form) {
            var data = $(form).serialize();
            var user_info = {
                user_logged_in : user.first_name ? true : false,
                action_done : (user.actions_done_by_user && user.actions_done_by_user.create_object) ? true : false,
                action_name : "create_object",
                tokens_owned : user.tokens ? user.tokens : 0,
                price: gamification_price['create_action']
            };

            db_functions.createAction(data, user_info, function(err, data){
                if(data != 'canceled'){

                    var url = data.redirect_link;
                    var created_action_id = data._id;
                    if(!user.actions_done_by_user.create_object)
                    {
                        user.actions_done_by_user.post_on_object = true;
                    }

                    if ($('#share').is(':checked')) {
                        shareOnFacebook(url, '', function () {
                            window.location.replace("/actions/" + created_action_id);
                        });
                    } else {
                        location.href = url;
                    }
                }
            })
        }
    });

    var shareOnFacebook = function (url, image, callback) {
        FB.ui({
            method: 'feed',
            link: url,
            name: $('#title').val(),
            picture: image,
            caption: '',
            display: 'iframe',
            description: $('#text').val()
        }, callback);
    };

    db_functions.getUserShopingCart(function(err,data)
    {
        $("#info_items_count").text( data.objects.length );
        $.each(data.objects,function(index,information_item)
        {
            dust.render('information_item_box',information_item,function(err,out)
            {
                var div= $('#col1')   ;
                if(  $('#col2').height() <   div.height() )
                {
                    div  =$('#col2');
                }
                if(  $('#col3').height() <   div.height() )
                {
                    div  =$('#col3');
                }
                div.append(out);
            })
        });

        $('.delete-app').click(removeItemFromCart);
        $('.delete').click(removeItemFromCart);
        $('.confirm').click(function(){
            var item_id = $(this).attr('item_id');
        });
    });

    function removeItemFromCart()
    {
        var item_id = $(this).attr('item_id');
        db_functions.removeInfoItemFromShoppingCart(item_id,function(err,data) {
            $('#'+item_id).remove();
        });
        return false  ;
    }

//    if(!logged){
//        var input = $('.img-box input');
//        input.attr('type', 'button');
//        input.click(function(){
//            popupProvider.showLoginPopup({}, function(err, data){
//                if(!err){
//                    input.attr('type', 'file');
//                }
//            });
//        })
//    }


</script>
</body>
</html>
