<!DOCTYPE html>
           <!--



             subject image on top
           -->
<html>
<head>
    <% include partials/head.ejs %>
    <% include partials/facebook.ejs %>
    <script src="/js/lib/autocompleteTag.js"></script>
</head>
<body>
<% include partials/body_top.ejs %>
<div id="wrap">
        <div id="header">
              <% include partials/menu.ejs %>
               <% include partials/user_box.ejs %>
               <% include partials/failures.ejs %>
               <!--<% include partials/tag_search.ejs %>-->

        </div>
        <div id="content" class="cf">
            <div class="discussion-main">
                <h2><%= subject.name %></h2>
                <form id="request_form" action="#">
                    <input type="hidden" name="subject_name" id="subject_name" value="<%= subject.name %>" >
                    <input type="hidden" name="subject_id" id="subject_id" value="<%= subject.id %>" >
                    <div class="top cf">
                        <div id="uplod_image_placeholder" class="floatRight" style="position:relative;">
                            <div style="width:296px; height:152px; overflow:hidden;" class="auto-scale">
                                <img id="discussion_image" >
                            </div>
                            <div id="upload_processing" style="display:none;"><div>&nbsp;</div></div>
                            <div id="uplod_image_button" style="position:absolute; top:0px; left:0px; width:296px; height:152px;"></div>
                        </div>
                        <div class="floatLeft">
                            <div class="input">
                                <input id="title" name="title" type="text" value="" placeholder=
"
כותרת החזון. (עד 75 אותיות)
"
                                        />
                            </div>
                            <div class="textarea">
                                <textarea id="vision" name="vision" rows="10" cols="50"  placeholder=
"
זהו המקום לכתוב את החזון שלכם עבור הנושא. התמקדו בתיאור המצב הסופי שהייתם רוצים לממש. (עד 800 מילים)
"
                                        ></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="tags-box">
                        <div class="add-tag">
                            <div class="input">
                                <input type="text" value="" id="tag" placeholder=
                                        "הוסף תגיות"
                                        />
                            </div>
                            <input type="submit" value="הוסף" id="add_tag" />
                            <ul id="search_suggestion">
                                <li class="topborder"></li>
                            </ul>
                        </div>
                        <div class="tags-list">

                        </div>
                    </div>
                    <div class="bottom">
                        <div class="textarea">
                            <textarea id="first_post" name="first_post" rows="10" cols="50" placeholder=
                                    "הפוסט הראשון בדיון: הסבר את הצורך במציאות שאתה דורש - מה הבעיה? איך המצב הנוכחי משפיע עליך?
איזו עזרה היית רוצה לבקש מהמשתתפים בדיון בשיפור החזון?
"
                                    ></textarea>
                        </div>
                        <input type="submit" value="יצירת דיון" />
                        <label><input id="invite_friends" type="checkbox" checked="checked" />הזמן חברים לדיון </label>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div id="card">
        <div class="extra">
            <div class="card-top cf">
                <a class="btn btn-1 inline share" rel="/information_cart/{_id}" href="/facebookShare?link=/information_cart/{_id}">שתף</a>
               <!-- <a class="btn btn-2" href="/information_items/"><span class="number" style="display:none;"></span>חזור לאסוף פריטי מידע נוספים </a>-->
                <!--<a class="btn btn-2" id="collect_information_item_bt"  href="/information_items/"><span class="number" style="display:none;">-->

               <!-- </span>חזור לאסוף פריטי מידע נוספים </a>-->
                <h3 class="basket">
                    סל מידע
                </h3>

                <p>
                יש לך
                <span id="info_items_count"></span>
                 פריטים בעגלה
                </p>
            </div>
            <div class="card-products cf">
                <div class="one-col" id="col1"> </div>
                <div class="one-col" id="col2" > </div>
                <div class="one-col" id="col3"> </div>
            </div>
        </div>
    </div>


    <div style="display: none;">
    <div class="popup" id="user-search">
        <form class="search-top cf" action="#">
            <label>הזמן חברים להשתתף בדיון</label>
            <div class="input">
                <input type="text" value="" />
            </div>
            <input type="submit" value="שפח" />
        </form>
        <div class="search-result cf">
            <div class="one">
                <a class="delete-app" href=""></a>
                <div class="img-box">
                    <img width="58" src="/images/user-1.jpg" alt="" />
                    <span></span>
                </div>
                יבקעי לאומש
            </div>
            <div class="one">
                <a class="delete-app" href=""></a>
                <div class="img-box">
                    <img width="58" src="/images/user-1.jpg" alt="" />
                    <span></span>
                </div>
                יבקעי לאומש
            </div>
            <div class="one">
                <a class="delete-app" href=""></a>
                <div class="img-box">
                    <img width="58" src="/images/user-1.jpg" alt="" />
                    <span></span>
                </div>
           שמואל יעקבי
            </div>
            <div class="one">
                <a class="delete-app" href=""></a>
                <div class="img-box">
                    <img width="58" src="/images/user-1.jpg" alt="" />
                    <span></span>
                </div>
                יבקעי לאומש
            </div>
            <div class="one">
                <a class="delete-app" href=""></a>
                <div class="img-box">
                    <img width="58" src="/images/user-1.jpg" alt="" />
                    <span></span>
                </div>
                יבקעי לאומש
            </div>
            <div class="one">
                <a class="delete-app" href=""></a>
                <div class="img-box">
                    <img width="58" src="/images/user-1.jpg" alt="" />
                    <span></span>
                </div>
                יבקעי לאומש
            </div>
            <div class="one">
                <a class="delete-app" href=""></a>
                <div class="img-box">
                    <img width="58" src="/images/user-1.jpg" alt="" />
                    <span></span>
                </div>
                יבקעי לאומש
            </div>
            <div class="one">
                <a class="delete-app" href=""></a>
                <div class="img-box">
                    <img width="58" src="/images/user-1.jpg" alt="" />
                    <span></span>
                </div>
                יבקעי לאומש
            </div>
            <div class="one">
                <a class="delete-app" href=""></a>
                <div class="img-box">
                    <img width="58" src="/images/user-1.jpg" alt="" />
                    <span></span>
                </div>
                יבקעי לאומש
            </div>
            <div class="one">
                <a class="delete-app" href=""></a>
                <div class="img-box">
                    <img width="58" src="/images/user-1.jpg" alt="" />
                    <span></span>
                </div>
                יבקעי לאומש
            </div>
        </div>
        <form class="search-bottom cf" action="#">
            <label>ליימ םהל חלש וא</label>
            <div class="input">
                <input type="text" value="" />
            </div>
            <input type="submit" value="חלש" />
        </form>
    </div>


   </div>


    <% include partials/footer.ejs %>
<script type="text/javascript">
    var current_section=1;
    $(document).ready(function () {

        var is_logged = <%= user_logged %>;
        var is_cup_for_create_discussion = <%= is_cup_for_create_discussion %>;

        // no ned for that for now (till tokens issue is ready)
        /*if(!(is_logged && is_cup_for_create_discussion)){
            var message = is_logged ? "כדי לפתוח דיון חדש עליך לצבור קודם 10 אסימונים" : 
                    "כדי לפתוח דיון חדש עליך להיות מחובר למערכת ולצבור קודם 10 אסימונים" +
                            "<p><a href='../../account/login'>לחץ כאן כדי להירשם</a></p>";
            popupProvider.showOkPopup({message: message});
        }*/

        var discussion_image = {};

        var uploader = new qq.FileUploader({
            element: document.getElementById('uplod_image_button'),
            action: '/api/image_upload',
            debug: false,
            onProgress: function(id, fileName, loaded, total){
                $('#upload_processing').show();
                $('#upload_processing div').css('width',loaded/total + '%');
                console.log(loaded);
            },
            onComplete: function(id, fileName, responseJSON){
                    discussion_image = responseJSON.image;
                    $('#discussion_image').attr('src',discussion_image.url);

                    $('#discussion_image').autoscale();
                    $('#upload_processing div').css('width','100%');
                    setTimeout(function(){
                        $('#upload_processing').hide();
                    },1000);

                },
                // template for one item in file list
                  fileTemplate: '<li>' +
                                 '<span class="qq-upload-file"></span>' +
                                 '<span class="qq-upload-spinner"></span>' +
                                 '<span class="qq-upload-size"></span>' +
                                 '<a class="qq-upload-cancel" href="#">Cancel</a>' +
                                 '<span class="qq-upload-failed-text">Failed</span>' +
                             '</li>'

         });
         $("#request_form").validate({
         		errorElement: "p",
               // errorLabelContainer: ".error-message",

         		rules:{
         			title:{required: true },
                    vision:{required: true }
//         			first_post:{required: true },
         		},
         		messages:{
         			title: "נא לבחור כותרת לדיון",
         			vision: "נא להוסיף תיאור לדיון",
         			first_post: "נא להזין פוסט ראשון"
         		},
         		highlight: function (element, errorClass) {
         		    $(element).addClass('error').removeClass('valid');
         	    },
         		unhighlight: function (element, errorClass) {
         		    $(element).removeClass('error').addClass('valid');
         	    },
           		submitHandler: function(form) {

                   if ($('.discussion-main .bottom input[type=submit]').hasClass('disable')) return false;

                   $('.discussion-main .bottom input[type=submit]').addClass('disable');

                     var title = $("#title").val(),
                     vision = $("#vision").val(),
                     first_post = $("#first_post").val();
                     var tags  = [];
                      $(".new_tags").each(function(index) {
                         tags.push( $(this).text());
                     });
                     var subject_id   = $("#subject_id").val(),
                     subject_name  = $("#subject_name").val();

                     var user_info = {
                           user_logged_in : user.first_name ? true : false,
                           action_done : (user.actions_done_by_user && user.actions_done_by_user.create_object) ? true : false,
                           action_name : "create_object",
                           tokens_owned : user.tokens ? user.tokens : 0,
                          /* price: gamification_price['create_discussion']*/
                       }


                     db_functions.createDiscussion(subject_id, vision, title, tags,discussion_image, user_info, function(err, data){
                         if (err){
                            /* $('.discussion-main .bottom input[type=submit]').removeClass('disable');
                             return;*/
                         }else{
                             if(!user.actions_done_by_user || !user.actions_done_by_user.create_object)
                             {
                                 user.actions_done_by_user.post_on_object = true;
                             }
                             var creator_id = data.creator_id,
                             created_discussion_id = data._id;
                             if ($.trim(first_post) != ""){
                                 var user_info = {
                                     user_logged_in : user.first_name ? true : false,
                                     action_done : true,
                                     action_name : "",
                                     tokens_owned : user.tokens ? user.tokens : 0,
                                     /*price: gamification_price['post_on_discussion']*/
                                 }
                                 db_functions.addPostToDiscussion(created_discussion_id, first_post,null, user_info, function(err, data){
                                     if (err){
                                         console.error(err);
                                     }else{

                                        if ($('#invite_friends').is(':checked'))    {

                                            sendFacebookInvite('New URU Discussion', "/discussions/" + created_discussion_id,function(err, data){
                                                window.location.replace("/discussions/" + created_discussion_id);
                                            });
                                         }
                                         else
                                         {
                                            window.location.replace("/discussions/" + created_discussion_id);
                                         }
                                     }
                                 });
                             }else{
                                 if ($('#invite_friends').is(':checked'))    {

                                     sendFacebookInvite('New URU Discussion', "/discussions/" + created_discussion_id,function(err, data){
                                         window.location.replace("/discussions/" + created_discussion_id);
                                     });
                                 }else
                                     window.location.replace("/discussions/" + created_discussion_id);
                             }
                         }
                     });
           		}
         	});

        $(".inline").colorbox({ inline: true, width: "730" });


        db_functions.getUserShopingCart(function(err,data)
        {
            $("#info_items_count").text( data.objects.length );
            $.each(data.objects,function(index,information_item)
            {
                dust.render('information_item_box',information_item,function(err,out)
                {
                    var div= $('#col1')   ;
                    if(  $('#col2').height() <   div.height() )
                    {
                          div  =$('#col2');
                    }
                    if(  $('#col3').height() <   div.height() )
                    {
                          div  =$('#col3');
                    }
                    div.append(out);
                })
            });


             $('.delete-app').click(removeItemFromCart);
             $('.delete').click(removeItemFromCart);
             $('.confirm').click(function(){
                 var item_id = $(this).attr('item_id');
             });
        });

        function removeItemFromCart()
        {
              var item_id = $(this).attr('item_id');
              db_functions.removeInfoItemFromShoppingCart(item_id,function(err,data) {
                    $('#'+item_id).remove();
              });
               return false  ;
        }

         $("span.new_tags").live("click", function(){ $(this).remove(); });
         $("div.information_item_link").live("click", function(){   window.location.replace("/information_items/" + $(this).attr('item_id')); });
    });

   /* $('#collect_information_item_bt').click(function(e){
        e.preventDefault();
      //  $().colorbox({ inline: true, width: "420", href: "#login_to_system_popup" });

        var popupProvider= new PopupProvider();
        var config= PopupConfig();
        popupProvider.ShowOkPopup(config);
    })
    //$('#collect_information_item_bt').colorbox({ inline: true, width: "420" });
    //login_to_system_popup*/


 </script>
</body>
</html>
