<!DOCTYPE html>

<html>
<head>
    <style>
        .subject_selected{color: #ff0000 ; font-size: 50px}
    </style>
    <% include partials/head.ejs %>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.tikunim-box h2').click(function () {
                $(this).parent().toggleClass('active');
            });
        });
    </script>
</head>
<body>
<% include partials/body_top.ejs %>
<div id="wrap">
    <div id="header">
        <% include partials/menu.ejs %>
        <% include partials/user_box.ejs %>
        <% include partials/failures.ejs %>
        <!--<% include partials/tag_search.ejs %>-->

    </div>
    <div id="content" class="cf">
        <div id="subjects" class="services-box cf">
            <h2 style="text-align:right; font-size: 125%;  line-height:23px;"><span dir="rtl" style="font-size:30px; font-height:49px;">
<%= subject.name %>
        </span>
                <br />
                <br />
                <%- subject.description %>
            </h2>
            <% if(subject._id!='51efb771d93203b9c200004a'){ %>
            <a  id="new_discussion_bt"  class="green-btn" href="javascript: void(0)">צור דיון חדש</a>
            <%}%>
        </div>
        <select id="sorting_select" class="left-select">
            <option value="-last_updated">
                עדכון אחרון
            </option>
            <option data-sortby="creation_date" >
						תאריך
						</option>
            <option data-sortby="-grade">
						דירוג
						</option>
            <option data-sortby="-followers_count">
						עוקבים
						</option>
        </select>
        <h2>כל הדיונים במערכת</h2>
        <div id="discussions_list" data-bablic-index="false">

        </div>
    </div>
</div>
<% include partials/footer.ejs %>
</body>
</html>
<script type="text/javascript">
    var current_section=1;
    $(function(){

        var selectedTag='<%=tag_name? tag_name:'' %>';
        var selectedSubject = '<%= subject.id %>';
        var user_logged = '<%=user_logged%>';

        function createDiscussionsQuery(){
            var sortby=  $('#sorting_select').find(':selected').data('sortby');
            var query='order_by='+sortby;
//            if(selectedTag){
//                query =query+'&tags='+selectedTag;
//            }
            if(selectedSubject){
                query =query+'&subject_id='+selectedSubject;
            }
            query = query+'&is_private='+false;
       //     query = query+'&is_private__ne='+true;
            return query;
        }

        function loadDiscussionsListToPage(){
            var query = createDiscussionsQuery();
            listCommon.reloadList('discussions_list','discussions','discussion_list_item',query);
        }

        $('#discussions_list').on('click','.join_button',function(e){

            var item=  $(this).parents('[data-id]');
            var item_id=   item.data('id');
            var actionType=  $(this).data('action');
            e.preventDefault();
            db_functions.joinToDiscussionFollowers(item_id,actionType,function(err,data){
                dust.render('discussion_list_item', data, function(err, html){
                   // $("#"+data._id).replaceWith(html);
                    item.replaceWith(html);
            })
            })
        });

        $('#sorting_select').change(loadDiscussionsListToPage);
        loadDiscussionsListToPage();

        $('#new_discussion_bt').on('click',function(e){
            e.preventDefault();

            if(!user_logged || user_logged === "false"){
                connectPopup(function (err, data) {
                    if (!err){
                        if(selectedSubject){
                            window.location = '../new/' + selectedSubject;
                        } else {
                            var config = {
                                message:'בחר נושא בבקשה'
                                ,okButtonText:'סגור'
                            };
                            popupProvider.showOkPopup(config);
                        }
                    }
                });
            }else if(selectedSubject){
                window.location = '../new/' + selectedSubject;
            } else {
                var config = {
                    message:'בחר נושא בבקשה'
                    ,okButtonText:'סגור'
                };
                popupProvider.showOkPopup(config);
            }
        })

    })  ;


</script>
