<!DOCTYPE html>
<html>
<head>
<title>עורו | <%= title %></title>
<!-- META TAGS -->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Content-Script-Type" content="text/html; charset=utf-8" />
<!-- CSS -->
<link rel="stylesheet" type="text/css" media="screen" href="/resources/css/screen.css" />
<link rel="stylesheet" href="/resources/css/cross-browser.css" type="text/css" media="screen" />
<link rel="stylesheet" href="/resources/css/css3.css" type="text/css" media="screen" />
<link rel="stylesheet" href="/resources/css/stylish-select.css" type="text/css" media="screen" />

<style type="text/css">
        .actions {
            display: none;
            position: absolute;
            border: 2px solid #666666;
            direction: rtl;
            float: left;
            background: white;
        }

        .actions button {
            background: #9D9D9C;
            border: 1px solid #3C3C3B;
            color: white;
            font-size: 16px;
            font-weight: bold;
            cursor: pointer;
        }

        .actions ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }

        .actions ul li {
            float: right;
        }

        .close {
            display: block;
            position: absolute;
            top: -15px;
            left: -15px;
            background: white;
            width: 20px;
            height: 20px;
            border: 2px solid #3C3C3B;
            text-align: center;
            border-radius: 20px;
            color: #3C3C3B;
            cursor: pointer;
        }

        .clear {
            clear: both;
        }

        textarea#discussion_content {
            width: 100%;
            height: 150px
        }

        textarea {
            resize: none;
        }

        .discussion_content{
            position: relative;
        }
    </style>

<!-- JAVASCRIPTS -->
<script src="/resources/js/jquery-1.7.1.min.js" type="text/javascript"></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js" type="text/javascript"></script>
<script src="/resources/js/css_browser_selector.js" type="text/javascript"></script>
<script src="/resources/js/selectivizr-min.js" type="text/javascript"></script>

<script src="/js/dust-core-0.3.0.min.js"></script>
<script src="/js/compiled_templates.js"></script>
<script src="/javascripts/db.js"></script>
<script src="/resources/js/jquery-fieldselection.js" type="text/javascript"></script>
<%-extra_head%>
<!--[if lte IE 6]>
		<script src="/resources/js/minmax.js" type="text/javascript"></script>
		<script src="/resources/js/DD_belatedPNG_0.0.8a-min.js" type="text/javascript"></script>
		<script>  DD_belatedPNG.fix('.png-bg'); </script>
	<![endif]-->
<!-- ALL JQUERY PLUGINS  -->
<!-- <script src="/resources/js/jquery.ui.core.min.js" type="text/javascript"></script> -->
<!-- CUSTOM JS CODE COMMON TO ALL PAGES -->
<!-- CUSTOM JS CODE SPECIFIC TO THIS PAGE -->
</head>
<body class="layout">
<!-- Container -->
<div id="container">
  <!-- Header-->
  <div id="header">
    <div class="wrapper clearfix">
      <div class="logo">
        <h1><a href="javascript:void(0)" rel="home" title="Go to homepage">Wireframes</a></h1>
      </div>

      <!-- Main Navigation-->
      <div id="main-navigation">
        <ul class="clearfix">
          <li class="<%= tab=="story" ? 'active' :'' %>" ><a href="http://www.uru.org.il/story">מה זה עורו?</a></li>
          <li class="<%= tab=="information_items" ? 'active' :'' %>"><a href="/meida">מידע ומדדים</a></li>
          <li class="<%= tab=="discussions" ? 'active' :'' %>"><a href="/discussions">דיונים</a></li>
          <li class="<%= tab=="actions" ? 'active' :'' %>"><a href="/actions">פעולות</a></li>
          <li class="<%= tab=="cycles" ? 'active' :'' %>"><a href="/cycles">מעגלי תנופה</a></li>
        </ul>
      </div>
      <!--/Main Navigation-->

      <%if(logged&&user){
         if(typeof(hide_block_user)==='undefined' || hide_block_user){%>

          <div class="user-area box">
              <a href="/myuru">
              <div class="frame">
                  <img width="59" height="62" src="<%=avatar%>" alt="<%=user.username%>"/>
                  <span class="number" id="user_tokens"><%=user.tokens%></span>
              </div>
              </a>
              <h3><%=user.username%></h3>
              <p><span class="number"></span>מספר טוקנים</p>
              <br class="clear"/>
              <div class="index">
                  <p>מדד אקטיביות</p>
          <span class="index">
              <span style="width:30%;">&nbsp;</span>
          </span>
              </div>
              <a href="javascript:void(0)" class="button">מה דעתך ?</a>
          </div>
          <%}}else{%>
          <div class="sociable box">
              <p>הנעה לפעולה הקוראת להרשם
                  למערכת כדי להתחיל להשפיע</p>
              <a href="javascript:void(0)" class="button btn_facebook_connect">Facebook Connect</a>
          </div>
    <%}%>
    </div>
  </div>
  <!--/Header-->

  <!-- Content-->
  <div id="content">
    <div class="wrapper clearfix">
      <div id="main">
        <div class="post clearfix">
          <h2><%=discussion.title%></h2>
          <div class="discussions clearfix">
            <div class="frame1 flR"> <img width="224" height="174" src="<%= discussion.image_field ? discussion.image_field.url : '' %>" alt="image19"/> </div>
            <div class="description clearfix">
                <div class="discussion_content">
                    <textarea id="discussion_content"><%=discussion.vision_text%></textarea>
                </div>
							<div class="tags clearfix">
              	<p class="clearfix">
                	תגיות 1, תגיות 2, תגיות 3
                  <a href="javascript:void(0)" class="add">הוסף תגיות</a>
                </p>
                <p class="highlight clearfix">
                	<span id="suggest_button" style="cursor:pointer;">הצעה לשינוי</span>
                  <span>היסטוריה*</span>
                </p>
              </div>
              <div class="buttons">
                <a href="/facebookShare?link=<%=url%>" target="_blank" class="button flL">שתף</a>
                <select id="rating_select">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>
                    <option>9</option>
                    <option>10</option>
                </select>
                <button id="rating_button">
                    דירוג המסמך
                </button>
                <p id="current_grade">
                    <%= discussion.grade %>
  -   דירוג משוקלל

                </p>
                  <p id="current_graders">

                      <%= discussion.evaluate_counter %>
                       -   מספר מדרגים
                  </p>
                <a href="javascript:void(0)" id="discussion_comment_reply_button" class="button flL">הגב</a>
              </div>
            </div>
            <div class="box information"> <img src="/resources/images/assets/image20.jpg" alt="image20" /> <a href="javascript:void(0)" class="button">קישור לעגלת המידע</a> </div>
            <br class="clear" />
            <h3  >הצעה לשינוי</h3>
            <ul id="suggestion_list">

            </ul>
            <div id="suggest_div" style="display:none;">
            <ul class="list1">
              <li class="clearfix">
                <p id="discussion_content_txt"></p>

                <textarea name="discussion_suggest" id="discussion_suggest" cols="30" rows="10" style="width: 100%;;"></textarea><br>

                <input type="text" name="discussion_tags" style="width: 100%;"><br><br>


                <div style="text-align: center">
                    <a style="font-size: 20px" class="button" id="send_suggestion" href="javascript:void(0)">
                    הצע
                    </a>

                    <a style="font-size: 20px" class="button" id="close_suggest" href="javascript:void(0)">
                    אני מתחרט
                    </a>
                </div>

              </li>
	          </ul>
            </div>
	        </div>


          <div class="follow clearfix">
            <p>הודעת מערכת (דיון זה מתעתד להיות מעגל תנופה. שתפו, הגיבו וגרמו לזה לקרות)</p>
            <a href="javascript:void(0)" class="close-btn"></a>
         	</div>


          <div class="comments">
          	<h2>תגובות</h2>
            <div class="sorting">
            	<span class="selectbox1">
              	<select title="sorting">
                    <option value="op_date">מיין לפי - תאריך</option>
                    <option value="op_back_date">מיין לפי - מהסוף להתחלה</option>
                    <option value="op_votes_for">מיין לפי - דירוג</option>
                    <option value="op_most_voted">מיין לפי - מעורר עניין</option>
                </select>
              </span>
            </div>
            <br class="clear" />
            <h5>(פוסט ראשון)</h5>
            <ul class="list1" id="posts">
            </ul>
            <h5>(כתיבת תגובה)</h5>

            <div class="box form clearfix">
            	<form action="javascript:void(0)" method="post">
              	<div class="description clearfix">
              	    <%if(logged&&user){
                         if(typeof(hide_block_user)==='undefined' || hide_block_user){%>
                	<div class="frame1">
                  	    <img src="<%=avatar%>" alt="<%=user.username%>" width="44" height="44" />
                    </div>
                    <h4><%=user.username%></h4>
                    <%}}%>
                    <textarea id="discussion_comment" title="post comments" onfocus="if(this.value=='כתוב תגובה') this.value='';" onblur="if(this.value=='') this.value='כתוב תגובה';" cols="1" rows="3">כתוב תגובה</textarea>
                </div>
                <div class="action">
                 	<input id="submit_post" type="submit" class="submit-btn" value="שלח" title="Send"/>
                </div>
              </form>
            </div>

          </div>


        </div>
      </div>
    </div>
  </div>
  <!--/Content-->
  <!-- Footer-->
  <div id="footer">
    <div class="wrapper clearfix">
      <div id="footer-navigation">
        <ul>
          <li><a href="javascript:void(0)">שיתוף (פייסבוק, טוויטר)</a></li>
          <li class="divider">|</li>
          <li><a href="javascript:void(0)">מה זה עורו?</a></li>
          <li class="divider">|</li>
          <li><a href="javascript:void(0)">מי אנחנו?</a></li>
          <li class="divider">|</li>
          <li><a href="javascript:void(0)">חדשות</a></li>
          <li class="divider">|</li>
          <li><a href="javascript:void(0)">תנאי שימוש</a></li>
          <li class="divider">|</li>
          <li><a href="javascript:void(0)">בלוגים</a></li>
          <li class="divider">|</li>
          <li><a href="javascript:void(0)">צור קשר</a></li>
          <li class="divider">|</li>
          <li><a href="javascript:void(0)">עזרה</a></li>
        </ul>
      </div>
    </div>
  </div>
  <!-- /Footer-->
</div>
<!--/Container -->
<div class="actions">
    <span class="close">X</span>

    <ul>
        <li><button class="reply">הגב</button></li>
        <li> <button class="suggest">הצע הצעה לשינוי</button></li>
    </ul>

    <div class="clear"></div>
</div>

<script type="text/javascript">
        var range;

        String.prototype.trim = function () {
            var str = this.replace(/^\s\s*/, ''),
                    ws = /\s/,
                    i = str.length;
            while (ws.test(str.charAt(--i)));
            return str.slice(0, i + 1);
        };

        $(function(){

            var discussion_id = "<%=discussion_id%>";
            var mouseDown, mouseUp, top, left;

            $('.discussion_content')
                    .on('mousedown', function(e) {
                        mouseDown = e;
                    })
                    .on('mouseup', function(e){
                        mouseUp = e;

                        left = Math.ceil((mouseDown.clientX + mouseUp.clientX) / 2 - ($(".actions").width() / 2));
                        top = Math.min(mouseDown.clientY, mouseUp.clientY) - $(".actions").height() - 20 + $(window).scrollTop();

                    }).on('keydown', function(e){
                        console.log(e.keyCode == 27);
                        if(!(e.shiftKey && (e.keyCode <=40 && e.keyCode >=37) || (e.ctrlKey && e.keyCode == 65))) e.preventDefault();
                    }).on('dragstart', function(e){
                        e.preventDefault();
                    });

            $('.actions .close').on('click', function(){
                $('.actions').hide();
            });

            $('.actions').on('focus', function(e){
                e.preventDefault();
            });

            $("#discussion_content").select(function(){
                range = $(this).getSelection();

                $(".actions")
                        .css({ top: top + 20, left: left, opacity: 0 })
                        .show()
                        .animate({ top: '-=20px', opacity: 1 }, 100, 'linear');

                console.log(range);
            });

            $("button.reply, button.suggest").on("click", function(e){
                e.preventDefault();

                if($(this).hasClass("reply")){
                    $("textarea#discussion_comment").val('"' + range.text +'"').focus();
                }

                if($(this).hasClass("suggest")){
                    $("p#discussion_content_txt").text('"' + range.text +'"');
                    $('#suggest_div').show();
                    $("textarea#discussion_suggest").focus();
                }
            });

            $("#discussion_comment_reply_button").on('click', function(e){
                e.preventDefault();

                $("textarea#discussion_comment").focus();
            });

            $('#posts').on('click','.vote_for',function(){
                var post_id = $(this).parent('div').data("id");
                var button = $(this);
                db_functions.voteForPost(post_id, "add", function(err, post_obj){
                    if(!err){
                        var span = $('span',button);
//                        span.text(Number(span.text()) + 1);
                        debugger
                        var vote_against = button.closest('div.action').find('a.vote_against');
                        vote_against.text(post_obj.votes_against);
                        button.text(post_obj.votes_for);
                    }
                    else
                    {
                        if(err.responseText == 'Error: there is not enought tokens')
                            alert('not enough tokens');
                        if(err.responseText == 'user already voted for this post')
                            alert('already voted');
                    }
                })
            });

            $('#posts').on('click',".vote_against", function(){
                var post_id = $(this).parent('div').data("id");
                var button = $(this);
                db_functions.voteForPost(post_id, "remove", function(err, post_obj){
                    if(!err){
//                        debugger
                        var span = $('span',button);
//                        span.text(Number(span.text()) + 1);
                        var vote_for = button.closest('div.action').find('a.vote_for');
                        debugger
                        vote_for.text(post_obj.votes_for);
                        button.text(post_obj.votes_against);
                    }
                    else
                    {
                        if(err.responseText == 'Error: there is not enought tokens')
                            alert('not enough tokens');
                        if(err.responseText == 'user already voted for this post')
                            alert('already voted');

                    }

                })
            });

            $('#posts').on('click',".quote_button",function(){
                var text = $('.post_text',$(this).parents('li')).text();
                $("textarea#discussion_comment").val('"' + text +'"').focus();
            });

            db_functions.getDiscussionShoppingCart(discussion_id, function(err, data){

                if(err){}
                else{
                    for (var i in data.objects){
                        //shopping_cart_items.add(data.objects[i]);
                    }
                }
            });


            db_functions.getPostByDiscussion(discussion_id, function(err, data){
                if(err){
                    console.log(err);
                }else{
//            console.log("posts are" + " " + data);

                    dust.renderArray('post', data.objects, null, function(err, out){
                        if(!err){
                            $("#posts").append(out);
                            $('#posts img').autoscale();
                        }
                    });

                    /*for (var i in data.objects){
                     post_items.add(data.objects[i]);
                     }*/
                }
            });

            function render_suggestion(suggestion)
            {
                if(suggestion.parts && suggestion.parts.length)
                {
                    var original = $('#discussion_content').val();
                    var text = suggestion.parts[0].text;
                    var from = suggestion.parts[0].start;
                    var end = suggestion.parts[0].end;

                    var original_part = original.substr(from,end-from);
                    var li = $('<li></li>');
                    li.append('<p>' +
                            'במקום:'
                            +'"' + original_part + '"' +
                            '</p>');
                    li.append('<p>' +
                            text +
                            '</p>');
                    $('#suggestion_list').append(li);
                    return li;
                }
                return null;
            }

            db_functions.getSuggestionByDiscussion(discussion_id,function(err,data)
                {
                    $.each(data.objects,function(index,suggestion)
                    {
                        render_suggestion(suggestion);
                    });
                });

            $("#btn_grade").live("click", function(){
                var grade = $(".grade input").val();
                console.log(" grade is :  " + grade);

                var reg = /[0-9]$/;
                if((reg.test(grade) == false) || !(grade >= 0 && grade <= 10)){
                    alert('Invalid number');
                }else{
                    db_functions.addDiscussionGrade(discussion_id, grade, function(err, discussion_object){
                        if (err){
                            console.log(err);
                        }
                        else{
                            debugger
                            console.log(discussion_object);
                            $("#user_tokens").text(discussion_object.updated_user_tokens);
                            $("#discussion_grade").val("grade is: " + discussion_object.grade + " count: " + discussion_object  .evaluate_counter);
                        }
                    });
                }
            });

            $('#sort').change(function() {
                $("#posts").empty();

                if ($(this).val() === 'op_date') {
                    db_functions.getPostByDiscussion(discussion_id, function(err, data){
                        if(err){
                            console.log(err);
                        }else{dust.renderArray('post', data.objects, null, function(err, out){
                                if(!err){
                                    $("#posts").append(out);
                                    $('#posts img').autoscale();
                                }
                            })
                        }
                    });

                }
                else{
                    if ($(this).val() === 'op_back_date') {
                        db_functions.getSortedPostByDiscussion(discussion_id, "order_by=creation_date", function(err, data){
                            if(err){
                                console.log(err);
                            }else{
                                dust.renderArray('post', data.objects, null, function(err, out){
                                    if(!err){
                                        $("#posts").append(out);
                                        $('#posts img').autoscale();
                                    }
                                })
                            }
                        });


                    }else{
                        if ($(this).val() === 'op_votes_for') {
                            db_functions.getSortedPostByDiscussion(discussion_id, "order_by=-votes_for", function(err, data){
                                if(err){
                                    console.log(err);
                                }else{
                                    dust.renderArray('post', data.objects, null, function(err, out){
                                        if(!err){
                                            $("#posts").append(out);
                                        }
                                    })
                                }
                            });

                        }else{
                            if ($(this).val() === 'op_most_voted') {
                                db_functions.getSortedPostByDiscussion(discussion_id, "order_by=-total_votes, -votes_for", function(err, data){
                                    if(err){
                                        console.log(err);
                                    }else{
                                        dust.renderArray('post', data.objects, null, function(err, out){
                                            if(!err){
                                                $("#posts").append(out);
                                            }
                                        })
                                    }
                                });
                            }
                        }
                    }
                }
            });

            $("#btn_close").live("click", function(){
                $(this).parent('div').hide();
            });

            $("#submit_post").on('click', function(e){
                db_functions.addPostToDiscussion(discussion_id, $("textarea#discussion_comment").val(), function(err, post){
                    debugger
                    $("#user_tokens").text(post.updated_user_tokens);
                    dust.render('post', post, function(err, out){
                        $("#posts").append(out);
                        $("textarea#discussion_comment").val('');

                    });
                })
            });

            $('form').on('submit', function(e){
                e.preventDefault();
            });


            $('#rating_button').click(function(){
                var rating = Number($('#rating_select').val());
                db_functions.addDiscussionGrade(discussion_id,rating,function(err,data)
                {
                    console.log(data);
                    debugger
                    $("#user_tokens").text(data.updated_user_tokens);
                    $("#current_grade").text(data.new_grade);
                    $("#current_graders").text(data.evaluate_counter);


                });
            });

            $('#suggest_button').click(function()
            {
                $('#suggest_div').show();
            });

            $('#close_suggest').click(function(){
                $('#suggest_div').hide();
                $("textarea#discussion_suggest").val('');
            });

            $('#send_suggestion').click(function(){
                var part = {start:range.start, end:range.end, text:$("textarea#discussion_suggest").val()};
//                part += " ";
                db_functions.addSuggestionToDiscussion(discussion_id,[part],function(err,data)
                {
                    if(!err)
                    {
                        $('#suggest_div').hide();
                        render_suggestion({parts:[part]});
                        $("textarea#discussion_suggest").val('');
                        $("#user_tokens").text(data.updated_user_tokens);
                    }
                });
            });

        });

    </script>
</body>
</html>