<!DOCTYPE html>

<html>
<head>

  <% include partials/head.ejs %>

</head>
<body>
<% include partials/body_top.ejs %>
<div id="wrap">
<div id="header">
    <% include partials/menu.ejs %>
    <% include partials/user_box.ejs %>
    <% include partials/failures.ejs %>
    <!--<% include partials/tag_search.ejs %>-->
</div>
<div id="content" class="cf">
<div class="rightCol">
    <select class="left-select left-select-inner" id="sort">
        <option value="last_name" >מיין לפי יוזר</option>
        <option value="likes">מיין לפי תוצאות</option>
        <option value="discussions">מיין לפי כמות דיונים</option>
    </select>
    <h2>
        <a href="/information_items/subject/<%= subject.id %>"><%= subject.name %></a>  <% if(tag_name) { %> <a class="last_breadcrum" href="/information_items/subject/<%= subject.id %>?tag_name=<%= tag_name %>"><%= tag_name %></a><% } %>
    </h2>
    <div class="main-text" id="info_items" data-bablic-index="false"></div>
</div>
<% include partials/shopping_cart.ejs %>
</div>
</div>
<% include partials/footer.ejs %>
  <script type="text/javascript">
  var current_section=0;
  $(document).ready(function () {

        var is_logged = "<%= user_logged %>" == "true";
        var subject_id = "<%= subject.id%>";
        var tag_name = "<%=tag_name || ''%>";
        getItems();
        $('.notice .close').live("click", function(){

            $(this).parent().fadeOut();
        });
        $('.delete-app').live("click",removeItemFromCart);
        $('.delete').live("click",removeItemFromCart);

        function removeItemFromCart()
        {
              var item_id = $(this).attr('item_id');
              db_functions.removeInfoItemFromShoppingCart(item_id,function(err,data) {
                    $('#'+item_id).remove();
              });
               $("#add_button_"+item_id).show();

               return false  ;
        }
        $(".add_button").live("click", function(){
            var item_id=$(this).attr('add_item_id');
            db_functions.addInfoItemToShoppingCart(item_id, function(err, information_item){
                if(!err){
                   dust.render('information_item_box',information_item,function(err,out)
                   {
                       $(".card-products-left").append(out);
                   });
                   $("#add_button_"+item_id).fadeOut();
                }
            });
        });

        function getItems(sort_by)
        {
        db_functions.getInfoItemsOfSubjectByKeywords(tag_name,subject_id,sort_by,function(err,data)
                {     $('#info_items').empty();
                      dust.renderArray('information_item', data.objects,null,function(err,out)
                      {
                          $('#info_items').append(out);
                      });
                      //add notices to each item
                       $.each(data.objects,function(index,information_item){
                            $.each(information_item.discussions,function(index,discussion){
                                   discussion.section="דיון";
                                   discussion.section_url="discussions";
                                   dust.render('information_item_notice',discussion,function(err,out)
                                   {
                                       $("#notices_"+information_item._id).append(out);
                                   });
                            } );
                            $.each(information_item.cycles,function(index,cycle){
                                   cycle.section="קמפיין";
                                   cycle.section_url="cycles";
                                   dust.render('information_item_notice',cycle,function(err,out)
                                   {
                                       $("#notices_"+information_item._id).append(out);
                                   });

                            } );
                            $.each(information_item.actions,function(index,action){
                                   action.section="פעולה";
                                   action.section_url="actions";
                                   dust.render('information_item_notice',action,function(err,out)
                                   {
                                       $("#notices_"+information_item._id).append(out);
                                   });
                            } );

                       } );

                      // add shopping cart and remove 'add' button
                    if(is_logged){
                        db_functions.getUserShopingCart(function(err,data)
                        {      $(".card-products-left").empty();
                            $.each(data.objects,function(index,information_item)
                            {
                                dust.render('information_item_box',information_item,function(err,out)
                                {
                                    $(".card-products-left").append(out);
                                });
                                $("#add_button_"+information_item._id).hide();
                            });
                        });
                    }


                });
        }
        $('#sort').change( function(){
                 getItems($(this).val());
         });


        $(".inline").colorbox({ inline: true, width: "730" });


        $("#amount").val($(".slider").slider("value"));
        $('.comments-box .comment-one .user-right').hover(function () {
            $(this).toggleClass('hover');
            });
  });
    </script>
</body>
</html>
