<!DOCTYPE html>

<html>
<head>
    <% include partials/head.ejs %>
    <% include fb_bot/meta.ejs %>

    <meta name="title" content="<%=item.title%>" />

</head>
<body>
<% include partials/body_top.ejs %>
<div id="wrap">
        <div id="header">
            <% include partials/menu.ejs %>
            <% include partials/user_box.ejs %>
            <% include partials/failures.ejs %>
            <!--<% include partials/tag_search.ejs %>-->
        </div>

        <div id="content" class="cf">
            <div class="rightCol">
                <div class="nav-btn">
                    <a style="width: 158px" href="javascript:void(0);" id="add_button" >
                        הוסף לסל המידע
                    </a>
                    <a class="share" data-title="<%= item.title %>" data-text_preview="<%= item.text_field_preview %>" data-img_src="<%= item.image_field_preview.url %>" rel="/information_items/<%= item.id %>" href="/facebookShare?link=/information_items/<%= item.id %>" target="_blank">שתף</a>
                      <a href="javascript:void(0);" class="interesting <% if(item.user_likes) { %>on<% } %>" id="like_button"></a>


                </div>
                <% if(item.subject_id[0]) { %>
                <h2><a href="/information_items/subject/<%= item.subject_id[0].id %>"><%= item.subject_id[0].name %></a>  <% if(tag_name) { %> <a class="last_breadcrum" href="/information_items/subject/<%= item.subject_id[0].id %>?tag_name=<%= tag_name %>"><%= tag_name %></a><% } %></h2>
                <% } %>

                <div class="text cf">
                    <h3><%=item.title%></h3>
                    <div class="tags-wrap">
                        <div class="down">
                            <span class="arrow"></span>
                            <ul>
                                <li><a href="">קישור לפריט מידע זה</a></li>
                                <li><a href="">דווח על התנהגות לא הולמת</a></li>
                                <li><a href="">אל תציג פריט מידע זה</a></li>
                            </ul>
                        </div>
                        <div class="tags">
                            <% for(var i=0; i<item.tags.length; i++) { %> <a href="/information_items/?tag_name=<%= item.tags[i] %>"><%= item.tags[i] %> </a><% } %>

       <!--                     <div class="more">
                                <span></span>
                                <ul>
                                    <li><a href="">הצג עוד תגיות</a></li>
                                    <li><a href="">הוסף תגית</a></li>
                                </ul>
                            </div>-->
                        </div>
                    </div>
                    <div class="imb-box cf">
                        <a href="">
                            <img src="<%=item.image_field.url%>" alt="<%=item.title%>" title="<%=item.title%>"/>
                        </a>
                    </div>
                    <p><%- item.text_field %></p>
                    <div class="link-more">
                        <a href="#">לתחילת הכתבה</a>
                    </div>
                </div>
            </div>
            <% if(item.subject_id[0]) { %>
            <% subject= item.subject_id[0] %>
            <% } %>
            <!--<% include partials/shopping_cart.ejs %>-->
        </div>
    </div>


<% include partials/footer.ejs %>

<script type="text/javascript">
    var current_section=0;



    $(document).ready(function () {
        var is_logged = "<%= user_logged %>" == "true";

            var info_item_id = "<%= item.id %>";
            //bugbug shold this be used?
            //$('#info_item_full_view img').autoscale();

            $("#add_button").live("click", function(){

                    db_functions.addInfoItemToShoppingCart(info_item_id, function(err, information_item){
                        if(!err){
                            dust.render('information_item_box',information_item,function(err,out)
                            {
                                $(".card-products-left").append(out);
                            });
                            $("#add_button").hide();
                        }
                    });

            });

            $(".button.remove").live("click", function(){
                var div = $(this).parent('div');
                db_functions.removeInfoItemFromShoppingCart(info_item_id, function(err){
                    if(!err){
                        div.remove();
                    }
                });
            });

            $('#like_button').click(function(){
                db_functions.addLikeToInfoItem(info_item_id,function(err,data)
                {
                    $('#like_button').addClass('on');
                });
            });

        if(is_logged){
            db_functions.getUserShopingCart(function(err,data)
            {
                $.each(data.objects,function(index,information_item)
                {
                    dust.render('information_item_box',information_item,function(err,out)
                    {
                        $(".card-products-left").append(out);
                    })
                    if(information_item._id==info_item_id)
                    {
                        $("#add_button").hide();
                    }
                });
            });
        }


        $('.delete-app').live("click",removeItemFromCart);
        $('.delete').live("click",removeItemFromCart);
        $('.confirm').live("click",function(){
          var item_id = $(this).attr('item_id');

      });


       function removeItemFromCart()
       {
              var item_id = $(this).attr('item_id');
              db_functions.removeInfoItemFromShoppingCart(item_id,function(err,data) {
                    $('#'+item_id).remove();
              });
               if(item_id==info_item_id)
              {
                   $("#add_button").show();
              }
               return false  ;
       }



        $(".inline").colorbox({ inline: true, width: "730" });

        $('.slide-c')
        .after('<div id="nav2">')
        .cycle({
            fx: 'turnDown',
            speed: 'fast',
            timeout: 0,
            pager: '#nav2',
            next: '#next',
            prev: '#prev'
        });

        $(".slider").slider({
            value: 6.20,
            min: 0,
            max: 11,
            step: 0.10,
            slide: function (event, ui) {
                $("#amount").val(ui.value);
            }
        });
        $("#amount").val($(".slider").slider("value"));
        $('.comments-box .comment-one .user-right').hover(function () {
            $(this).toggleClass('hover');
        });




 });


 </script>
</body>
</html>
