<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <title>עורו | <%= title %></title>
    <!-- META TAGS -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Script-Type" content="text/html; charset=utf-8" />
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" media="screen" href="/resources/css/screen.css" />
    <link rel="stylesheet" href="/resources/css/cross-browser.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="/resources/css/css3.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="/resources/css/stylish-select.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="/resources/css/typography.css" type="text/css" media="screen" />
    <!-- JAVASCRIPTS -->
    <script src="/resources/js/jquery-1.7.1.min.js" type="text/javascript"></script>
    <script src="/resources/js/css_browser_selector.js" type="text/javascript"></script>
    <script src="/resources/js/selectivizr-min.js" type="text/javascript"></script>
    <!--[if lte IE 6]>
    <script src="/resources/js/minmax.js" type="text/javascript"></script>
    <script src="/resources/js/DD_belatedPNG_0.0.8a-min.js" type="text/javascript"></script>
    <script>  DD_belatedPNG.fix('.png-bg'); </script>
    <![endif]-->
    <!-- ALL JQUERY PLUGINS  -->
    <script src="/js/dust-core-0.3.0.min.js"></script>
    <script src="/js/compiled_templates.js"></script>
    <script src="/javascripts/db.js"></script>
    <%- extra_head %>
    <script src="/js/jquery-ui-1.8.18.custom.min.js" type="text/javascript"></script>
    <!-- CUSTOM JS CODE COMMON TO ALL PAGES -->
    <!-- CUSTOM JS CODE SPECIFIC TO THIS PAGE -->
</head>
<body class="<%= body_class %>">
<!-- Container -->
<div id="container">
    <!-- Header-->
    <div id="header">
        <div class="wrapper clearfix">
            <div class="logo">
                <h1><a href="/" rel="home" title="Go to homepage">Wireframes</a></h1>
            </div>
            <!-- Main Navigation-->
            <div id="main-navigation">
                <ul class="clearfix">
                    <li class="<%= tab=="story" ? 'active' :'' %>" ><a href="http://www.uru.org.il/story">מה זה עורו?</a></li>
                    <li class="<%= tab=="information_items" ? 'active' :'' %>"><a href="/meida">מידע ומדדים</a></li>
                    <li class="<%= tab=="discussions" ? 'active' :'' %>"><a href="/discussions">דיונים</a></li>
                    <li class="<%= tab=="actions" ? 'active' :'' %>"><a href="/actions">פעולות</a></li>
                    <li class="<%= tab=="cycles" ? 'active' :'' %>"><a href="/cycles">מעגלי תנופה</a></li>
                </ul>
            </div>
            <!--/Main Navigation-->

            <%if(logged){%>
                <div class="user-area box">
                    <a href="/myuru">
                    <div class="frame">
                        <img width="59" height="62" src="http://<%=avatar%>" alt="<%=user.username%>"/>
                        <span class="number"><%=user.tokens%></span>
                    </div>
                    </a>
                    <h3><%=user.username%></h3>
                    <p><span class="number"></span>מספר טוקנים</p>
                    <br class="clear"/>
                    <div class="index">
                        <p>מדד אקטיביות</p>
                <span class="index">
                    <span style="width:30%;">&nbsp;</span>
                </span>
                    </div>
                    <a href="javascript:void(0)" class="button">מה דעתך ?</a>
                </div>
                <%}else{%>
                <div class="sociable box">
                    <p>הנעה לפעולה הקוראת להרשם
                        למערכת כדי להתחיל להשפיע</p>
                    <a href="javascript:void(0)" class="button btn_facebook_connect">Facebook Connect</a>
                </div>
            <%}%>
        </div>
    </div>
    <!--/Header-->

    <!-- Content-->
    <div id="content">
        <div class="wrapper clearfix">
                    <%- body %>
        </div>
    </div>
    <!--/Content-->
    <!-- Footer-->
    <div id="footer">
        <div class="wrapper clearfix">
            <div id="footer-navigation">
                <ul>
                    <li><a href="javascript:void(0)">שיתוף (פייסבוק, טוויטר)</a></li>
                    <li class="divider">|</li>
                    <li><a href="javascript:void(0)">מה זה עורו?</a></li>
                    <li class="divider">|</li>
                    <li><a href="javascript:void(0)">מי אנחנו?</a></li>
                    <li class="divider">|</li>
                    <li><a href="javascript:void(0)">חדשות</a></li>
                    <li class="divider">|</li>
                    <li><a href="javascript:void(0)">תנאי שימוש</a></li>
                    <li class="divider">|</li>
                    <li><a href="javascript:void(0)">בלוגים</a></li>
                    <li class="divider">|</li>
                    <li><a href="javascript:void(0)">צור קשר</a></li>
                    <li class="divider">|</li>
                    <li><a href="javascript:void(0)">עזרה</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- /Footer-->
</div>
<!--/Container -->
<script type="text/javascript">
    $(function(){
        $(".btn_facebook_connect").on("click", function(){
            //alert('/account/facebooklogin?next=' + location.href);

            document.location.href= '/account/facebooklogin?next=' + location.href;
        })
    })
</script>
</body>
</html>