<!DOCTYPE html>

<html>
<head>
    <style>
        .subject_selected{color: #ff0000 ; font-size: 50px}
    </style>
    <% include partials/head.ejs %>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.tikunim-box h2').click(function () {
                $(this).parent().toggleClass('active');
            });
        });
    </script>
</head>
<body>
<script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<% include partials/body_top.ejs %>
<div id="wrap">
    <div id="header">
        <% include partials/menu.ejs %>
        <% include partials/user_box.ejs %>
        <% include partials/failures.ejs %>
        <!--<% include partials/tag_search.ejs %>-->
    </div>
    <div id="content" class="cf">
        <div class="email_settings">
            <div id="content_main_wrapper">
                <div id="content_main_holder">
                    <h2>ניהול עדכונים במייל</h2>
                    <h3>מערכת הדיונים</h3>
                    <div class="settings_box">
                        <div id="new_discussion" class="settings_box_section">
                            <span class="setting_section_title">התראה על כל דיון חדש בתחום</span>
                            <input id="4f8a9a5d92ce9a010000001c" type="checkbox" class="checkbox" /><label for="4f8a9a5d92ce9a010000001c">חינוך</label>
                            <input id="4f4519836d35790100000020" type="checkbox" class="checkbox" /><label for="4f4519836d35790100000020">משק וכלכלה</label>
                            <input id="4f428ef5fdc4650100000005" type="checkbox" class="checkbox" /><label for="4f428ef5fdc4650100000005" >תעסוקה וביטחון חברתי</label>
                            <input id="4f8d306fe0ddb4010000017c" type="checkbox" class="checkbox" /><label for="4f8d306fe0ddb4010000017c">ביטחון אישי</label>
                            <input id="4f45195a6d3579010000001b" type="checkbox" class="checkbox" /><label for="4f45195a6d3579010000001b" >שוויון בזכויות וחובות</label>
                            <input id="4f6235c99e0042010000000c" type="checkbox" class="checkbox" /><label for="4f6235c99e0042010000000c">סביבה אנרגיה וקיימות</label>
                        </div>
                        <!--<div class="sep"></div>
                        <div class="settings_box_section">
                            <input type="checkbox" class="checkbox" /><label class="title">קבל התראה על כל דיון יומי חדש</label>
                        </div>-->
                        <div class="sep"></div>
                        <div id="all_discussions"  data-type="discussion" class="settings_box_section general_settings">
                            <span class="setting_section_title">התראות על אירועים חדשים בדיונים בהשתתפותך:</span>
                            <input id="all_discussions_comment" data-refresh-discussions="true" data-setting-type="get_alert_of_comments_for_all_discussions" type="checkbox" class="checkbox general" /><label for="discussion_comment">תגובות</label>
                            <input id="all_discussions_change_suggestion" data-refresh-discussions="true" data-setting-type="get_alert_of_suggestions_for_all_discussions" type="checkbox" class="checkbox general" /><label for="discussion_change_suggestion">הצעות לשינוי</label>
                            <input id="all_discussion_approved_suggestion" data-refresh-discussions="true" data-setting-type="get_alert_of_approved_suggestions_for_all_discussions" type="checkbox" class="checkbox general" /><label for="discussion_approved_suggestion">שינויים למסמך</label>
                        </div>
                        <div id="selected_discussion"  data-type="discussion" class="settings_box_section">

                            <span class="setting_section_title">הגדר עדכונים לדיונים ספציפיים:

</span>
                            <div id="alerts_by_discussion" class="selection">
                                 <select>
                                 </select>
                            </div>
                            <input id="discussion_comment" data-setting-type="get_alert_of_comments" type="checkbox" class="checkbox" /><label for="discussion_comment">תגובות</label>
                            <input id="discussion_change_suggestion" data-setting-type="get_alert_of_suggestions" type="checkbox" class="checkbox" /><label for="discussion_change_suggestion">הצעות לשינוי</label>
                            <input id="discussion_approved_suggestion" data-setting-type="get_alert_of_approved_suggestions" type="checkbox" class="checkbox" /><label for="discussion_approved_suggestion">שינויים למסמך</label>
 <!--                           <select>
                                <option>אפשרויות</option>
                                <option>אפשרות 1</option>
                                <option>אפשרות 2</option>
                                <option>אפשרות 3</option>
                            </select>-->
                            <div class="remark">* יישלח רק עדכון אחד עבור כל דיון עד הביקור הבא בו</div>
                            <div class="notification"> <div class="spinner"></div> </div>
                        </div>
                    </div>

                    <h3>קמפיינים</h3>
                    <div class="settings_box">
                        <div id="cycle_general" class="settings_box_section general_settings">
                            <span class="setting_section_title">עדכונים מכל הקמפיינים:</span>
                            <input id="cycle_new_updates" data-setting-type="get_cycles_new_updates" type="checkbox" class="checkbox general" /><label for="cycle_new_updates">עדכונים שוטפים</label>
                            <input id="cycle_system_information" data-setting-type="get_cycles_system_information" type="checkbox" class="checkbox general" /><label for="cycle_system_information">עדכונים מיוחדים (בתדירות נמוכה)</label>
                        </div>
                        <div class="sep"></div>
                        <div id="all_cycles" data-type="cycle" class="settings_box_section general_settings">
                            <span class="setting_section_title">התראות לגבי פעולות בקמפיינים:</span>
                            <input id="cycle_new_action_for_all_cycles" data-setting-type="get_alert_of_new_action_for_all_cycles" type="checkbox" class="checkbox general" /><label for="cycle_new_action" >פעולה חדשה</label>
                            <input id="cycle_approved_action_for_all_cycles" data-setting-type="get_alert_of_approved_action_for_all_cycles" type="checkbox" class="checkbox general" /><label for="cycle_approved_action" >הצעה לפעולה אושרה</label>
                        </div>
                        <div id="selected_cycle" data-type="cycle" class="settings_box_section">
                            <span class="setting_section_title">התראות לגבי פעולות בקמפיין ספציפי:</span>
                            <div id="alerts_by_cycle" class="selection">
                                <select>
                                </select>
                            </div>
                            <input id="cycle_new_action" data-setting-type="get_alert_of_new_action" type="checkbox" class="checkbox" /><label for="cycle_new_action" >פעולה חדשה</label>
                            <input id="cycle_approved_action" data-setting-type="get_alert_of_approved_action" type="checkbox" class="checkbox" /><label for="cycle_approved_action" >הצעה לפעולה אושרה</label>
                        </div>
                        <!--<div class="sep"></div>
                        <div class="settings_box_section">
                            <input type="checkbox" class="checkbox" /><label class="title">קבל התראות על הצעות לפעולות של משתמשים</label>
                        </div>-->
                        <div class="sep"></div>
                        <div class="settings_box_section">
                            <input data-setting-type="get_reminder_of_action" type="checkbox" class="checkbox" /><label class="title">תזכורת לקראת פעולה שהצטרפת אליה</label>
                        </div>
                        <div class="notification"> <div class="spinner"></div> </div>
                    </div>

                    <h3>פעולות ואירועים</h3>
                    <div id="action_general" class="settings_box general_settings">
                        <div class="settings_box_section">
                            <input id="action_comments" data-setting-type="get_alert_of_new_posts_in_actions" type="checkbox" class="checkbox general" /><label for="action_comments" class="title">התראה על תגובות חדשות בפעולה בהשתתפותך</label>
                        </div>
                        <div class="remark">* יישלח רק עדכון אחד עבור כל פעולה עד הביקור הבא בה</div>
                        <div class="notification"> <div class="spinner"></div> </div>
                    </div>

                    <!--<h3>מאגר מידע</h3>
                    <div class="settings_box">
                        <div class="settings_box_section">
                            <input type="checkbox" class="checkbox" /><label class="title">עדכונים על פרטי מידע שהתעניינת בהם</label>
                        </div>
                    </div>-->
                    <!--<h3>נמאס!</h3>
                    <div class="settings_box">
                        <div class="settings_box_section">
                            <input type="checkbox" class="checkbox" /><label class="title">סיפור "נמאס" שהתעניינת בו תויג בפריטים במערכת</label>
                        </div>
                    </div>-->

                    <!--<h3>חברים במערכת</h3>-->
                    <!--<div class="settings_box">-->
                        <!--<div class="settings_box_section">-->
                            <!--<input type="checkbox" class="checkbox" /><label class="title">חבר יצר פעילות חדשה במערכת <span>(דיון, פעולה, דיווח "נמאס", פוסט בבלוג, העלה פריט מידע...)</span></label>-->
                        <!--</div>-->
                    <!--</div>-->

                    <!--<h3>נציגים במערכת</h3>
                    <div class="settings_box">
                        <div class="settings_box_section">
                            <input type="checkbox" class="checkbox" /><label class="title">נציגך יצר פעילות חדשה במערכת <span>(דיון, פעולה, דיווח "נמאס", פוסט בבלוג, העלה פריט מידע...)</span></label>
                        </div>
                        <div class="sep"></div>
                        <div class="settings_box_section">
                            <input type="checkbox" class="checkbox" /><label class="title">חבר עורו מינה אותך כנציג במערכת</label>
                        </div>
                        <div class="sep"></div>
                        <div class="settings_box_section">
                            <input type="checkbox" class="checkbox" /><label class="title">קבל מייל תמצות פעילות נציגיך במערכת</label>
                        </div>
                    </div>-->

                    <h3>כללי</h3>
                    <div id="general_settings" class="settings_box general_settings">
                        <div class="settings_box_section">
                            <input id="general_updates" type="checkbox" data-setting-type="get_uru_updates" id="get_uru_updates" class="checkbox general" /><label for="general_updates" class="title">עדכונים על פעילות עורו</span></label>
                           <!-- <div class="remark_red">* אין להסתמך על שלהלן כעצה משפטית, אלא כמידע כללי בלבד. כל העושה כן בלא להיוועץ בעו"ד, עושה כן על אחריותו בלבד. דוגמאות המסמכים הניתנים לך להלן נמסרים לך לשימוש כמות שהיא(**As Is**). לא תהיה לך כל טענה, תביעה או דרישה כלפי איגוד האינטרנט הישראלי(ע"ר) ו/או מי מטעמו, בגין תכונות המידע ו/או המסמכים, הוראותיהם וההסתמכות עליהם. החוק מאפשר לנמענים לחזור בהם בכל עת מהסכמתם לקבלת דברי פרסומת ממך.</div>-->
                        </div>
                        <div class="sep"></div>
                        <div class="settings_box_section">
                            <input id="weekly_mail" type="checkbox" data-setting-type="get_weekly_mails" id="get_weekly_mails" class="checkbox general" /><label for="weekly_mail" class="title">קבל מייל שבועי עם עדכונים מעניינים, תמצית פעילות חבריך ונציגיך במערכת,  ועדכונים נוספים על פי תחומי העניין שלך</label>
                        </div>
                        <div class="sep"></div>
                        <div class="settings_box_section">
                            <input id="no_mails" type="checkbox" data-setting-type="get_mails" id="get_mails" class="checkbox general turn_off" data-first_click="true" /><label for="no_mails" class="title general">כיבוי כל העדכונים מהאתר</label>
                            <br/>
                            <div class="free_text_box">
                                <span style="float:right; margin:5px 0; font-size:12px;"><span style="color:#3b63ef; font-weight:bold;">למה ככה?</span> ספר לנו </span><br/>
                                <textarea id="stop_mail_explanation"></textarea>
                                <input id="close_noti_mail" type="image" src="/images/send-btn.png" />
                            </div>
                        </div>
                        <div class="notification"> <div class="spinner"></div> </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<% include partials/footer.ejs %>
<script>


    var user=<%- JSON.stringify(user) %>;
    var user_id="<%=user._id %>";
    var discussions = <%- JSON.stringify(discussions) %>;
    var cycles = <%- JSON.stringify(cycles) %>;
    var discussions_hash = <%- JSON.stringify(discussions_hash) %>;
    var cycles_hash = <%- JSON.stringify(cycles_hash) %>;
    var discussion_list = $('#alerts_by_discussion select');
    var cycle_list = $('#alerts_by_cycle select');
    var new_settings = {};
    var specified_obj = specified_obj;
    var selected_item = "<%=selected_item%>";
    var populate = function(select, text, options) {
        select.empty();
        select.append($('<option>').text(text).val(0));
        options.map(function (option) {
            if (option && option.title && option._id) {
               select.append($('<option>').text(option.title).val(option._id));
            }
        })
    };

    function notifSuccess(notif){
        if (notif.data('finish') == false){
            notif.stop();
        }
        notif.find('.spinner').hide();
        notif.text("עודכן");
        notif.css('color','green');
        notif.css("fontSize", "20px");
        notif.css('font-weight', 'bold');
        notif.data('finish', false);
        notif.animate({color: '#fff'}, 2200,function() {
            notif.data('finish', true);
            notif.hide();
            notif.find('.spinner').show();
        });
    }

    function notifFail(notif){
        notif.find('.spinner').hide();
        notif.text("עדכון נכשל");
        notif.css('color','green');
        notif.animate({color: '#fff'}, 2000,function() {
            notif.hide();
            notif.find('.spinner').show();
        });
    }

    // set new_discussion settings
    if(user.mail_notification_configuration && user.mail_notification_configuration.new_discussion)
        $.each(user.mail_notification_configuration.new_discussion, function(index, obj){

            var subject_id = obj.subject_id;
            var is_checked = obj.get_alert;

            $('#' + subject_id).prop('checked', is_checked);
        });

    // set all general settings
    $.each($('.general'), function(index){
        var setting_type = $(this).attr('data-setting-type');
        var is_checked = user.mail_notification_configuration[setting_type];

        // flip the get_mail setting causes it dont_get_mail actually
        if(setting_type === 'get_mails'){
            is_checked = !is_checked;
        }

        $(this).prop('checked', is_checked);
    });


    // load user settings of specified discussion (in users.discussions)
    discussion_list.change(function () {
        var discussion_id = discussion_list.val();

        var is_discussion_in_hash = (typeof discussions_hash[discussion_id] !== "undefined");

        var input_arr = $('#selected_discussion input');
        $.each(input_arr, function(index, val){
            var setting_type = $(this).attr('data-setting-type');

            // undefined means that it wasn't set yet, so it's true by default
            var is_checked =  is_discussion_in_hash && ((typeof discussions_hash[discussion_id][setting_type] === "undefined") || (discussions_hash[discussion_id][setting_type] == true));
            $(input_arr[index]).prop('checked', is_checked);
        })
    });

    cycle_list.change(function () {
        var cycle_id = cycle_list.val();

        var is_cycle_in_hash = (typeof cycles_hash[cycle_id] !== "undefined");

        var input_arr = $('#selected_cycle input');
        $.each(input_arr, function(index, val){
            var setting_type = $(this).attr('data-setting-type');

            // undefined means that it wasn't set yet, so it's true by default
            var is_checked =  is_cycle_in_hash && ((typeof cycles_hash[cycle_id][setting_type] === "undefined") || (cycles_hash[cycle_id][setting_type] == true));
            $(input_arr[index]).prop('checked', is_checked);
        })
    });

    populate(discussion_list, 'בחר דיון', discussions);
    populate(cycle_list, 'בחר קמפיין', cycles);

    // show selected item if there is one
    if(selected_item != ""){
        $('.selection option[value=' + selected_item + ']').prop('selected', true);
        $('.selection select').change();
    }

    $('.turn_off').change(function(){
        var is_first_click = $(this).data('first_click');

        var is_checked = $(this).is(':checked');
        if (!is_checked && (is_first_click === true)){
            return false;
        } else {
            $('.free_text_box').toggle('fade');
        }
        $(this).data('first_click', false);
    });

    $("#new_discussion input").click(function(){
        var notif=$(this).parents('.settings_box').find('.notification');
        notif.show();
        var new_settings = {};

        new_settings =  {
            mail_notification_configuration : {
               new_discussion: [{
                   subject_id: $(this).attr("id"),
                   get_alert: $(this).is(':checked')
               }]
            }
        };

        db_functions.updateMailNotification(user_id, new_settings, function(err, result){
            console.log(err || result);
            if(err){
                notifFail(notif);
            }else{
                notifSuccess(notif)
            }
        })
    });

    /*$("#cycle_general input").click(function(){

        var setting_type = $(this).attr('data-setting-type');
        var is_checked = $(this).is(':checked');
        var new_settings = {};
        new_settings.mail_notification_configuration =  {};

        new_settings.mail_notification_configuration[setting_type] = is_checked;

        db_functions.updateMailNotification(user_id, new_settings, function(err, result){
            console.log(err || result);
        })
    });*/

    // todo - implment it
    /*$("#selected_discussion input"*//*,#selected_cycle input"*//*).click(function(){

        var type = $(this).parent().data('type');

        var obj_id = $("#alerts_by_" + type +  " select").val();
        var setting_type = $(this).attr('data-setting-type');
        var is_checked = $(this).is(':checked');
        var new_settings = {};

        new_settings[type + 's'] = [];
        var obj = {};

        obj[type +"_id"] = obj_id;
        obj[setting_type] = is_checked;

        if(type === "discussion")
            new_settings.discussions.push(obj);
        if(type === "cycle")
            new_settings.cycles.push(obj);

        db_functions.updateMailNotification(user_id, new_settings, function(err, result){
            console.log(err || result);
            if(!err){
                var obj_hash = {};

                if(type === "discussion")
                    obj_hash = discussions_hash;
                if(type === "cycle")
                    obj_hash = cycles_hash;

                if(typeof obj_hash[obj_id] === "undefined")  {
                    obj_hash[obj_id] = {};
                }

                obj_hash[obj_id][setting_type] = is_checked;
            }
        })
    });*/

    $("#selected_discussion input").click(function(){

        var notif=$(this).parents('.settings_box').find('.notification');
        notif.show();
        var discussion_id = $("#alerts_by_discussion select").val();
        var setting_type = $(this).attr('data-setting-type');
        var is_checked = $(this).is(':checked');

        new_settings.discussions = [];
        var obj = {};

        obj["discussion_id"] = discussion_id;
        obj[setting_type] = is_checked;

        new_settings.discussions.push(obj);

        db_functions.updateMailNotification(user_id, new_settings, function(err, result){
            console.log(err || result);
            if(!err){
               if(typeof discussions_hash[discussion_id] === "undefined")  {
                   discussions_hash[discussion_id] = {};
               }

               discussions_hash[discussion_id][setting_type] = is_checked;
                notifSuccess(notif);
            }    else{
                notifFail(notif);
            }
        })
    });

    $("#selected_cycle input").click(function(){
        var notif=$(this).parents('.settings_box').find('.notification');
        notif.show();
        var cycle_id = $("#alerts_by_cycle select").val();
        var setting_type = $(this).attr('data-setting-type');
        var is_checked = $(this).is(':checked');

        new_settings.cycles = [];
        var obj = {};

        obj["cycle_id"] = cycle_id;
        obj[setting_type] = is_checked;

        new_settings.cycles.push(obj);

        db_functions.updateMailNotification(user_id, new_settings, function(err, result){
            console.log(err || result);
            if(!err){
               if(typeof cycles_hash[cycle_id] === "undefined")  {
                   cycles_hash[cycle_id] = {};
               }

                cycles_hash[cycle_id][setting_type] = is_checked;
                notifSuccess(notif)
            } else{
                notifFail(notif);
            }
        })
    });

    $(".general_settings input").click(function(){
        var notif=$(this).parents('.settings_box').find('.notification');
        notif.show();
        var new_settings = {};
        new_settings.mail_notification_configuration = {};
//        var setting_type = $(this).attr('id');
        var setting_type = $(this).attr('data-setting-type');
        var is_checked = $(this).is(':checked');
        var refresh_discussion_hash_list = $(this).attr('data-refresh-discussions') === "true";
        // flip the get_mail setting causes it dont_get_mail actually
        if(setting_type === 'get_mails'){
            is_checked = !is_checked;
        }

        new_settings.mail_notification_configuration[setting_type] = is_checked;


        db_functions.updateMailNotification(user_id, new_settings, function(err, result){
            console.log(err || result);
            if(!err){
                if (refresh_discussion_hash_list){
                    // set discussions settings again
                    $.each(result.discussions, function (index, discussion) {
                        discussions_hash[discussion.discussion_id + ""] = discussion;
                    });
                }
                notifSuccess(notif);

            } else{
                notifFail(notif);
            }
        })
    });

    $('#close_noti_mail').click(function(e){
        var mail_config = {};
        mail_config.explanation = $('#stop_mail_explanation').val();
        if(mail_config.explanation.trim() == "") return false;

        db_functions.sendMailFromUserToSystem(mail_config, function(err){
            if (err) {
                console.log(err);
            }else {
                $('.free_text_box').toggle('fade');
            }

        })
    })
</script>

</body>
</html>