<!DOCTYPE html>

<html>
<head>
    <% include partials/head.ejs %>
</head>
<body>
<% include partials/body_top.ejs %>
<div id="wrap">
<div id="header">
    <% include partials/menu.ejs %>
    <% include partials/user_box.ejs %>
    <% include partials/failures.ejs %>
    <!--<% include partials/tag_search.ejs %>-->
</div>
<div id="content" class="cf">
<div class="myuru-top">
    <div class="right">
        <h2>
		<% if(!isHisUru){ %>
הפרופיל שלי
		<%} else {%>
		  פרופיל משתמש 
	      <%} %>
        </h2>
        <div class="white-box">
            <div class="user">
                <%
                    var image_upload = {
                        current_value: pageUser.avatar_url(),
                        api_endpoint: '/api/avatar',
                        title: pageUser.first_name +' '+ pageUser.last_name,
                        disabled: isHisUru
                    };
                %>
                <% include partials/image_upload.ejs %>
                <div class="proxy">
                    <span><%=pageUser.num_of_proxies_i_represent%></span> מנדטים
                </div>
                <div class="respect">
                    <span><%=pageUser.score%></span> מוניטין
                </div>
            </div>
            <div class="user-links">
                <h4 data-bablic-exclude><%=pageUser.first_name+' '+ pageUser.last_name%></h4>
                <ul>
                    <li data-bablic-exclude><%= pageUser.address || ""%></li>
                    <li data-bablic-exclude><%= pageUser.םccupation || ""%></li>
                </ul>
            </div>
            <form action="">
                <textarea id="biography" placeholder=" כאן אפשר לכתוב ביוגרפיה קצרה דברים שאתה אוהב, אג’נדה, דעות, ומה שתרצה על עצמך." cols="0" <%=biographyReadonly? 'readonly': '' %>
                rows="0"><% if(pageUser.biography){%><%=pageUser.biography%> <% } else { %><% } %></textarea>
                <% if(!isHisUru){ %>
                  <input id="invite_friends_bt" type="submit" value="הזמן חברים" />
                <%} else{ %>
             <!--    <input id="send_message_bt" type="submit"    class="gray_and_soon"
                        value="שלח הודעה" />-->
                <%} %>
            </form>
        </div>
    </div>
    <div class="left">
       
		<% if(!isHisUru){ %>
			 <h2>
האסימונים שלי
			</h2>

		
        <div class="white-box" id="tokensbar_wopper">

        </div>

        <%}else {  %>
        <h2 style="visibility: hidden;">
            spaser
        </h2>
        <div class="white-box">

         <div class="hisuru-commands">


                <div class="left">

                    <a id="add_or_remove_proxy" href="javascript:void(0);">
                        תן מנדט
                    </a>
                    <a href="#" id="folowBT" class="follow_user">
                     <%if( !pageUser.is_follower_of_user){ %>
                        עקוב
                        <%}else {%>
הפסק לעקוב
                        <%}%>
                    </a>
                    <a href="javascript:void(0);"  class="gray_and_soon">
                        שלח הודעה
                    </a>
                </div>

            </div>




        </div>
        <%} %>
    </div>
</div>
<div class="search-result-box">
    <h2>
	<% if(!isHisUru){ %>
    פעילות שלי במערכת
    <%} else {%>
פעילות במערכת
    <%} %>
    </h2>
    <div class="tabs">
        <ul class="tabs-nav">
            <li><a href="#discussions-tab">דיונים</a></li>
            <li class="ui-tabs-hide"><a href="#cycles-tab">קמפיינים</a></li>
            <li class="ui-tabs-hide"><a href="#actions-tab">פעולות</a></li>
            <li class="ui-tabs-hide"><a href="#articles-tab">בלוג</a></li>
        </ul>
        <div id="discussions-tab" data-bablic-index="false">

        </div>
        <div id="cycles-tab" data-bablic-index="false">

        </div>
        <div id="actions-tab" data-bablic-index="false">

        </div>
        <div id="articles-tab" data-bablic-index="false">

        </div>

    </div>
</div>
<div class="myuru-bottom cf">
    <div class="right" id="notifications">
        <h2>עדכונים</h2>
        <div id="renewal" class="renewal" data-bablic-index="false">


        </div>
    </div>
    <div class="left">
      <h2>
        <% if(!isHisUru){ %>
 אחרי מי אני עוקב
        <%} else {%>
אחרי מי עוקב
        <%} %>
      </h2>
        <div id="users-list" class="users-list" data-bablic-index="false">


        </div>
    </div>
</div>
</div>
</div>
<% include partials/footer.ejs %>


</body>
</html>
<script type="text/javascript">



    $(function(){

        //$(".search-result-box .tabs").tabs();

        var userId='<%=pageUser._id %>';
        var currentUserId='<%= user_logged ? user._id : ""%>';
       // var proxy = JSON.parse('<%-proxy%>');
        var proxy = <%-proxy%>;
         var isHisUru=<%=isHisUru%>;
        function tabSelected(event, ui){
           function convertToTabModel(data,type){
                var i,
                tabGroups=0,
                tabModel={
                    groups:[]
                    ,type:type
                    }   ;

               for(i = 0 ;i<data.objects.length;i++)
               {
                    if(tabModel.groups[tabGroups]===undefined){
                        tabModel.groups[tabGroups]={group:[]};
                    }
                   tabModel.groups[tabGroups].group[i%3] = data.objects[i];
                    if(i%3===2){
                        tabGroups++;
                       // return  tabModel;
                    }
               }

             return tabModel;
           }
           var tabDivId=   ui.panel.id;
           var type=tabDivId.substr(0, tabDivId.indexOf('-'));

            db_functions.getAllItemsByUser(type,userId,function(error,data){
                if(type == "articles")
                    type = "blogs/article";
                var  tabDataModel =convertToTabModel(data,type) ;
                dust.render('myuru_tab',tabDataModel,function(err,out)
                {
                    if(type == "blogs/article")
                        type = "articles";

                    var seletedTab= $('#'+type+'-tab');

                    // seletedTab.remove();
                    seletedTab.empty();

                    seletedTab.append(out);
                   // $('img',seletedTab).autoscale();

                    seletedTab.find('.tab-slide-1')
                            .after('<div class="nav-1 nav">')
                            .cycle({
                                fx: 'scrollLeft',
                                speed: 'fast',
                                timeout: 0,
                                pager: '.nav-1',
                                next: '.next-1',
                                prev: '.prev-1'
                            });
                });
            });
        }

        $( ".tabs" ).tabs({
            selected:0,
            show:tabSelected
        });

        db_functions.getNotifications(userId, 40, function (data) {
            $.each(data.objects, function (index, notification) {
                dust.render('notification', notification, function (err, html) {
                    $('#renewal').append(html);
                })
            })
        }) ;


        db_functions.getOnWhomUserFollows(userId,function (e,data) {

                dust.renderArray('myuru_follower_item', data.objects,null, function (err, html) {
                    $('#users-list').append(html);

            })
        }) ;

        var biography  = $.trim(   $('#biography').val());
        $('#biography').blur(function() {
           var bio= $.trim(   $('#biography').val());
            if(bio!==biography)   {
                biography = bio;
                db_functions.updateUserDetails(userId,bio,function (e,data) {
                    if(e) {
                           console.log(e);
                    }
                })
            }

        });

        $('#invite_friends_bt').click(function(e){
            e.preventDefault();
            sendFacebookInvite('Come see that great site', "/",function(err, data){
                if(!err)
                {
                    popupProvider.showOkPopup({message:"ההזמנה הצליחה!"});
                    console.log(data);
                }
            });
        });


        $('#discussions-tab').on('click','.join_button',function(e){



            var item=  $(this).parents('[data-id]');
            var item_id=   item.data('id');
            var actionType=  $(this).data('action');

            e.preventDefault();
            db_functions.joinToDiscussionFollowers(item_id,actionType,function(err,data){

                dust.render('myuru_tab_item', data, function(err, html){
                    // $("#"+data._id).replaceWith(html);
                    item.replaceWith(html);
                })
            })
        });




        $('#folowBT').click(function (e) {
            e.preventDefault();
            var self = this;
            db_functions.joinOrLeaveUserFollowers(userId, function (err, user) {
                if (!user.is_follower)
                    $(self).text("עקוב");
                else
                    $(self).text("הפסק לעקוב");


            });
        });

        $('#add_or_remove_proxy').click(function (e) {

            if(!currentUserId){
                popupProvider.showLoginPopup({}, function(err, result){
                    if(!err)
                        window.location = window.location + '/#proxy';
                });
            }else{
                var proxyId = userId //userData.data('creator_id');
                var userName = '<%=pageUser.first_name %>';
                e.preventDefault();
                if(currentUserId===userId){ //cant give proxy to myself
                    return ;
                }

                proxyCommon.addOrRemoveProxy(proxy,proxyId,userName,currentUserId,function(newProxy){
                    proxy = newProxy.proxy;

                })
            }
         });

        if(window.location.hash === '#proxy'){
            $('#add_or_remove_proxy').click();
        }

        function  redrowToolBar(num_of_extra_tokens,tokens){

            var tokensBarModel = new TokensBarModel(9, num_of_extra_tokens, tokens, proxy);
            var a = 8;

            dust.render('tokens_bar',tokensBarModel,function(err,out)
            {

                if(err){

                    console.error(err);
                }else{
                    var tokensBar= $('#tokensbar_wopper');
                    tokensBar.empty();
                    tokensBar.append(out);

                    $('.giveProxy').click(function (e) {

                        var popup=$(this).parents('.token-popup');
                        var proxyId = popup.data('userid');
                        var userName  = popup.data('firstname');
                        e.preventDefault();
                        /*  if(currentUserId===userId){ //cant give proxy to myself
                         return ;
                         }*/

                        proxyCommon.addOrRemoveProxy(proxy,proxyId,userName,currentUserId,function(newProxy){


                            newProxy.calc_num_of_mandates= proxy.calc_num_of_mandates //take from server
                            proxy=newProxy.proxy;
                            proxy.calc_num_of_mandates
                            redrowToolBar(num_of_extra_tokens,tokens);


                        })


                    });

                    $(".blue").tooltip({
                        relative:true,
                        opacity:1,
                        position: "center left",
                        offset:[0,10],
                        delay: 1000
                    });
                }
            });

        }
        if(!isHisUru){
            //need them on the proxy
            var num_of_extra_tokens =<%= pageUser.num_of_extra_tokens %>;
            var tokens = <%= pageUser.tokens %>;
            redrowToolBar(num_of_extra_tokens,tokens);


    }
});




</script>

