

<script type="text/javascript" >

    $(function(){
        $('#avatarImg').autoscale();
        $( ".tabs" ).tabs({
            selected:1,
            show:tabSelected
        });
    });

</script>
<div id="main">
    <div class="post clearfix">
        <div class="profile clearfix">
            <h2>פרופיל משתמש</h2>
            <div class="frame1">
                <img  id="actionImg" src="http://<%=avatar%>" alt="<%=user.username%>" width="202" height="226" />
            </div>


            <div class="details">
                <div class="information">
                    <p><%=user.username || user.first_name%></p>
                    <p><%=user.address || ""%></p>
                    <p>
                        <% if(user.gender==='male'){ %>
                        זכר
                        <%} else{ %>נקבה<% } %> </p>
                     <p><%= user.occupation || "" %></p>
                    <p><%=user.biography || ""%></p>
                </div>
                <div class="toucans">
                    <h4>כמות טוקנים</h4>
                    <p class="meta-data clearfix">
                        <span class="value clearfix"><span class="number">5</span>PROXY</span>
                        <span class="value clearfix"><span class="number">3</span>REP</span>
                    </p>
                </div>
                <div class="loader box clearfix">
                    <ul class="clearfix">
                        <li><img src="resources/images/theme/loader-image1.png" alt="loader1"/>         טקסט  </li>
                        <li><img src="resources/images/theme/loader-image2.png" alt="loader2"/>         טקסט  </li>
                        <li><img src="resources/images/theme/loader-image3.png" alt="loader3"/>         טקסט  </li>
                        <li><img src="resources/images/theme/loader-image4.png" alt="loader4"/>         טקסט  </li>
                        <li><img src="resources/images/theme/loader-image5.png" alt="loader5"/>         טקסט  </li>
                        <li><img src="resources/images/theme/loader-image6.png" alt="loader6"/>         טקסט  </li>
                        <li><img src="resources/images/theme/loader-image7.png" alt="loader7"/>         טקסט  </li>
                        <li><img src="resources/images/theme/loader-image8.png" alt="loader8"/>         טקסט  </li>
                        <li><img src="resources/images/theme/loader-image9.png" alt="loader9"/>         טקסט  </li>
                        <li><img src="resources/images/theme/loader-image10.png" alt="loader10"/>         טקסט  </li>
                        <li><img src="resources/images/theme/loader-image11.png" alt="loader11"/>         טקסט  </li>
                    </ul>
                </div>
            </div>
        </div>


        <h2>מידע</h2>
        <div class="tabs">
            <ul class="tabs-list clearfix">
                <li><a  href="#tabDiscussions">דיונים</a></li>
                <li><a  href="#tabCycle">מעגלי תנופה</a></li>
                <li><a  href="#tabActions">פעולות</a></li>
                <li><a  href="#tabKilkul">קלקולים</a></li>
            </ul>
            <div class="tabs-content" id="tabDiscussions">
                <ul class="clearfix" id="ulDiscussions">

                </ul>

            </div>
            <div class="tabs-content" id="tabCycle">
                <ul class="clearfix" id="ulCycles"> </ul>
            </div>

            <div class="tabs-content" id="tabActions">
                <ul class="clearfix" id="ulActions"> </ul>
            </div>
            <div class="tabs-content" id="tabKilkul">
                <ul class="clearfix"  id="ulKilkuls">  </ul>
            </div>
        </div>

    </div>
</div>
