<div class="breadcrumb">
    <p><%=subject_name%><span></span> <a href="#"><%if(tag_name){tag_name}%></a></p>
</div>

<div id="search-form" class="form">
    <form action="#" method="post">
        <p class="clearfix">
            <input id="keyword_input" type="text" title="search" class="textbox" placeholder="חיפוש בתוך הנושא הנבחר"/>
            <input type="button" id="look_keyword_btn" title="submit" class="submit-btn" value="חפש"/>
        </p>
    </form>
</div>

<div id="sidebar">

    <div id="shopping_cart" class="widget1 clearfix">
        <div class="information clearfix">
            <h3>עגלת המידע</h3>
            <!--<a href="javascript:void(0)" class="button">שתף</a>-->

            <br class="clear"/>
            <p>קריאה לפעולה כדי לאסוף מידע,
                תכנים, גרפים, נתונים, תרשימים
                ועוד ועוד כדי להציע מציאות חדשה.</p>
            <a href="/discussions/new?subject_id=<%=subject_id%>&subject_name=<%=subject_name%>" class="button suggest">הצע מציאות חדשה</a>
        </div>


    </div>
</div>

<div id="main">
    <div class="accordian">
        <select name="" id="sel_cycle" class="arrow">
            <option value="0">מעגלי תנופה קיימים בנושא </option>
        </select>

        </br>
        <select name="" id="sel_discussion" class="arrow">
            <option value="0">דיונים פעילים בנושא</option>
        </select>
    </div>
    <div id="info_items" class="post">
        <h3>מידע רלוונטי</h3>
    </div>
</div>

<script type="text/javascript">
    $(function() {
        loadSelectedSubjectPage("<%= subject_id%>", "<%=tag_name%>", "<%=subject_name%>");
    });
</script>


