<!DOCTYPE html>

<html>
<head>
    <%- partial('partials/head.ejs') %>
</head>
<body>
<%- partial('partials/body_top.ejs') %>
<div id="wrap">
    <div id="header">
        <%-partial('partials/menu.ejs')%>
        <%-partial('partials/user_box.ejs')%>
        <%-partial('partials/failures.ejs')%>
        <%- partial('partials/tag_search.ejs') %>
    </div>
    <div id="content" class="cf">
        קרתה תקלה
    </div>
</div>
<%- partial('partials/footer.ejs') %>
</body>
</html>

