<!DOCTYPE html>
<%
var error_message = error_message || '';
%>

<html>
<head>
<!--<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# <%= settings.facebook_app_name %>: http://ogp.me/ns/fb/<%= settings.facebook_app_name %>#">-->
    <%- partial('partials/head.ejs') %>
    <script src="/js/jquery-fieldselection.js" type="text/javascript"></script>
    <script src="/plugins/ckeditor/ckeditor.js"></script>
    <script src="/plugins/ckeditor/adapters/jquery.js"></script>

  <!--  <meta property="fb:app_id" content="<XXX%= settings.facebook_app_id %>" />
    <meta property="og:type"   content="<XXX%= settings.facebook_app_name %>:discussion" />
    <meta property="og:url"    content="<XXX%= settings.root_path %>/discussions/<XXX%= discussion.id %>" />
    <meta property="og:title"  content="<XXX%=discussion.title%>" />
    <meta property="og:description"  content="<XXX%=discussion.text_field%>" />
    <meta property="og:image"  content="<XXX%= discussion.image_field && discussion.image_field.url ? discussion.image_field.url : 'http://site.e-dologic.co.il/philip_morris/Xls_script/uru_mailing/logo.jpg' %>" />
-->


</head>
<body class="body-action">
<%- partial('partials/body_top.ejs') %>
<div id="wrap">
    <div id="header">
        <%-partial('partials/menu.ejs')%>
        <%-partial('partials/user_box.ejs')%>
        <%-partial('partials/failures.ejs')%>
        <%-partial('partials/tag_search.ejs') %>
    </div>
<div id="content" class="cf">
<div class="followers-box">
    <div class="extra">
        <h2><span>ציר הזמן</span> חייבים להציל את הקיפודים</h2>
        <div class="followers-diagram">
            <div class="event event-prev" style="left: 0px">
                <div class="icon prev-icon">
                    <span class="i"></span>
                </div>
                            <span class="number">
                                2.2
                            </span>
                            <span class="text">
                                יצירת דיון
                            </span>
            </div>
            <div class="event event-plus" style="left: 600px">
                <div class="icon plus-icon">
                    <span class="i"></span>
                </div>
                            <span class="number">
                                2.2
                            </span>
                            <span class="text">
                                יצירת דיון
                            </span>
            </div>
            <div class="event event-triangle" style="left: 750px">
                <div class="icon triangle-icon">
                    <span class="i"></span>
                </div>
                            <span class="number">
                                8.3
                            </span>
                            <span class="text">
                                היום
                            </span>
            </div>
            <div class="event" style="left: 150px">
                <div class="icon green-icon">
                    <span class="i"></span>
                    <div class="popup-event type-one">
                        <div class="popup-text">
                            <h4>הפגנה למען הקיפודים</h4>
                            <p>אחד העם 19</p>
                            <p>תל אביב</p><br>
                            <p>20:00</p>
                            <a href="" class="join-btn">הצטרף</a>
                        </div>
                    </div>
                </div>
                            <span class="number">
                                4.4
                            </span>
                            <span class="text">
                                דיון פתוח
                            </span>
            </div>
            <div class="event" style="left: 300px">
                <div class="icon blue-icon">
                    <span class="i"></span>
                    <div class="popup-event type-two">
                        <div class="popup-text">
                            <img width="112" alt="" class="floatRight" src="images/sample-7.jpg">
                            <h5>אירוע חשוב מאוד</h5>
                            <p>הרצאה יוצאת מן הכלל מפי פרופ’ כהן אחד העם 91, תל אביב</p>
                        </div>
                    </div>
                </div>
                            <span class="number">
                                4.4
                            </span>
                            <span class="text">
                                דיון פתוח
                            </span>
            </div>
            <div class="event" style="left: 450px">
                <div class="icon grey-icon">
                    <span class="i"></span>
                    <div class="popup-event type-three">
                        <div class="popup-text">
                            <h3>פברואר</h3>
                            <ul class="">
                                <li><strong>2.2</strong> - יצירת דיון</li>
                                <li><strong>8.2</strong> - הפגנה</li>
                                <li><strong>2.2</strong> - דיון</li>
                                <li><strong>2.2</strong> - יצירת דיון</li>
                                <li><strong>8.2</strong> - הפגנה</li>
                                <li><strong>2.2</strong> - דיון</li>
                                <li><strong>2.2</strong> - יצירת דיון</li>
                                <li><strong>8.2</strong> - הפגנה</li>
                                <li><strong>2.2</strong> - דיון</li>
                            </ul>
                        </div>
                    </div>
                </div>
                            <span class="number">
                                4.4
                            </span>
                            <span class="text">
                                דיון פתוח
                            </span>
            </div>
            <div class="event event-next" style="left: 100%">
                <div class="icon next-icon">
                    <span class="i"></span>
                </div>
                            <span class="number">
                                15.4
                            </span>
                            <span class="text">
                                תאריך יעד
                            </span>
            </div>
        </div>
    </div>
</div>
<div class="add-offer add-offer-inner">
   <h2>
  
	</h2>
    <div class="text-box cf">
         <h3><span class="arrow"><%=action.type%></span> <span class="blue-title"><%=action.title%></span></h3>
       
			 <!--<div id="discussion_image" style="width: 292px;height: 164px; overflow:hidden;" class='auto-scale floatRight'>
                    <img src="<%= action.image_field ? action.image_field.url ||'' : '' %>" alt=""/>
                </div> -->
				
				<div id="discussion_image" style="width: 212px;height: 164px; overflow:hidden;" class='auto-scale floatRight'>
                    <img src="http://uru.s3.amazonaws.com/582gas-offshore.jpg" alt=""/>
					 <!--  images/sample-2.jpg" -->

                </div>
        <div class="add-offer-info">
            תאריך: 
			<strong><%=action.from_date.format('dd.mm.yyyy') %></strong> 
			|  שעה: 
			<strong><%=action.from_date.format('HH:MM') %>-<%=action.to_date.format('HH:MM') %></strong>
        </div>
        <div class="add-offer-info m-2">
            מיקום: 
			<strong><%=action.location%></strong>
        </div>
        <p><%-action.text_field%></p>

        <a class="more-text" href="">קרא עוד</a>
        <a class="less-text" href="">קרא עוד</a>
        <div class="add-offer-users">
            כמות משתתפים רצויה:
			<%=action.required_participants%>
        </div>
    </div>

    <div class="add-offer-bottom cf">
        <div class="btn-box row-btn-box">
            <a class="btn-grey" href="">
			הגב
			</a>
            <a class="btn-grey"  href="">
			שתף
			</a>
           
        </div>
        <div class="tags">
            <% for (var c = 0; c<action.tags.length ; c++) { %>
                    <a href="/discussions/?tag_name=<%=action.tags[c]%>"> <%=action.tags[c] %></a>
           <% }%>
          <!--  <div class="more">
                <span></span>
                <ul>
                    <li><a href="">הצג עוד תגיות</a></li>
                    <li><a href="">הוסף תגית</a></li>
                </ul>
            </div>-->
        </div>
    </div>
    <div class="add-offer-btn-box">
        <a href="">הצטרף</a>
    </div>
</div>

 <%-partial('partials/action_shopping_cart.ejs')%>


<div class="members-box cf">
<h2>משתתפים <small>(21)</small></h2>
<div class="one-members">
    <div class="img-box">
        <img width="60" src="images/user-1.jpg" alt="" />
        <span></span>
    </div>
    <div class="members-popup">
        <h4>יונתן שפירא</h4>
        <div class="proxy">
            <span>3</span>
        </div>
        <div class="respect">
            <span>20</span>
        </div>
    </div>
</div>
<div class="one-members">
    <div class="img-box">
        <img width="60" src="images/user-1.jpg" alt="" />
        <span></span>
    </div>
    <div class="members-popup">
        <h4>יונתן שפירא</h4>
        <div class="proxy">
            <span>3</span>
        </div>
        <div class="respect">
            <span>20</span>
        </div>
    </div>
</div>
<div class="one-members">
    <div class="img-box">
        <img width="60" src="images/user-1.jpg" alt="" />
        <span></span>
    </div>
    <div class="members-popup">
        <h4>יונתן שפירא</h4>
        <div class="proxy">
            <span>3</span>
        </div>
        <div class="respect">
            <span>20</span>
        </div>
    </div>
</div>
<div class="one-members">
    <div class="img-box">
        <img width="60" src="images/user-1.jpg" alt="" />
        <span></span>
    </div>
    <div class="members-popup">
        <h4>יונתן שפירא</h4>
        <div class="proxy">
            <span>3</span>
        </div>
        <div class="respect">
            <span>20</span>
        </div>
    </div>
</div>
<div class="one-members">
    <div class="img-box">
        <img width="60" src="images/user-1.jpg" alt="" />
        <span></span>
    </div>
    <div class="members-popup">
        <h4>יונתן שפירא</h4>
        <div class="proxy">
            <span>3</span>
        </div>
        <div class="respect">
            <span>20</span>
        </div>
    </div>
</div>
<div class="one-members">
    <div class="img-box">
        <img width="60" src="images/user-1.jpg" alt="" />
        <span></span>
    </div>
    <div class="members-popup">
        <h4>יונתן שפירא</h4>
        <div class="proxy">
            <span>3</span>
        </div>
        <div class="respect">
            <span>20</span>
        </div>
    </div>
</div>
<div class="one-members">
    <div class="img-box">
        <img width="60" src="images/user-1.jpg" alt="" />
        <span></span>
    </div>
    <div class="members-popup">
        <h4>יונתן שפירא</h4>
        <div class="proxy">
            <span>3</span>
        </div>
        <div class="respect">
            <span>20</span>
        </div>
    </div>
</div>
<div class="one-members">
    <div class="img-box">
        <img width="60" src="images/user-1.jpg" alt="" />
        <span></span>
    </div>
    <div class="members-popup">
        <h4>יונתן שפירא</h4>
        <div class="proxy">
            <span>3</span>
        </div>
        <div class="respect">
            <span>20</span>
        </div>
    </div>
</div>
<div class="one-members">
    <div class="img-box">
        <img width="60" src="images/user-1.jpg" alt="" />
        <span></span>
    </div>
    <div class="members-popup">
        <h4>יונתן שפירא</h4>
        <div class="proxy">
            <span>3</span>
        </div>
        <div class="respect">
            <span>20</span>
        </div>
    </div>
</div>
<div class="one-members">
    <div class="img-box">
        <img width="60" src="images/user-1.jpg" alt="" />
        <span></span>
    </div>
    <div class="members-popup">
        <h4>יונתן שפירא</h4>
        <div class="proxy">
            <span>3</span>
        </div>
        <div class="respect">
            <span>20</span>
        </div>
    </div>
</div>
<div class="one-members">
    <div class="img-box">
        <img width="60" src="images/user-1.jpg" alt="" />
        <span></span>
    </div>
    <div class="members-popup">
        <h4>יונתן שפירא</h4>
        <div class="proxy">
            <span>3</span>
        </div>
        <div class="respect">
            <span>20</span>
        </div>
    </div>
</div>
<div class="one-members">
    <div class="img-box">
        <img width="60" src="images/user-1.jpg" alt="" />
        <span></span>
    </div>
    <div class="members-popup">
        <h4>יונתן שפירא</h4>
        <div class="proxy">
            <span>3</span>
        </div>
        <div class="respect">
            <span>20</span>
        </div>
    </div>
</div>
<div class="one-members">
    <div class="img-box">
        <img width="60" src="images/user-1.jpg" alt="" />
        <span></span>
    </div>
    <div class="members-popup">
        <h4>יונתן שפירא</h4>
        <div class="proxy">
            <span>3</span>
        </div>
        <div class="respect">
            <span>20</span>
        </div>
    </div>
</div>
<div class="one-members">
    <div class="img-box">
        <img width="60" src="images/user-1.jpg" alt="" />
        <span></span>
    </div>
    <div class="members-popup">
        <h4>יונתן שפירא</h4>
        <div class="proxy">
            <span>3</span>
        </div>
        <div class="respect">
            <span>20</span>
        </div>
    </div>
</div>
<br clear="all" />
<div class="more-deals">
    <a href="">תועצה דוע</a>
</div>
</div>

</div>
</div>
<div class="system-notice">
    <div class="extra">
        <a class="close" href=""></a>
        <strong>:תכרעמ תעדוה</strong> תורקל הזל ומרגו וביגה ,ופתש .הפונת לגעמ תויהל דתעתמ הז ןויד
    </div>
</div>
<div class="comments-box comments-box-inner">
    <div class="extra cf">
        <select class="left-select">
            <option>ךיראת יפל ןיימ</option>
            <option>רזוי יפל ןיימ</option>
            <option>תואצות יפל ןיימ</option>
        </select>
        <h2>תובוגת <small>(4)</small></h2>
        <div class="comment-one noBorder">
            <div class="user-right user-right-small">
                <span class="arrow"></span>
                <div class="left">
                    <a href="">טדנמ ןת</a>
                    <a href="">בוקע</a>
                    <a href="">העדוה חלש</a>
                </div>
                <div class="right">
                    <div class="img-box transparent-img">
                        <img width="60" alt="" src="images/user-1.jpg">
                        <span></span>
                    </div>
                    <h4>רומשאר זעוב</h4>
                    <div class="proxy">
                        <span>3</span>
                    </div>
                    <div class="respect">
                        <span>20</span>
                    </div>
                </div>
            </div>
            <div class="text">
                <p class="date">12:02 ,13.3.12</</p>
                <p>.הירפירפה יבשות ןובשח לע אובל םיכירצ אל םידופיק .איהש הממ רתוי תויהל ךופהת הירפירפהו ,ץראה זכרמב קר ונבי םה םינלבקה לע השקנ םא
                    http://www,youtube.com/watch?tv=rs_9w7ZMG6Y</p>
            </div>
            <div class="btn-box">
                <a href="">טטצ</a>
                <a href="">ףתש</a>
                <div class="like"><img src="images/like-btn.png" alt="" /></div>
            </div>
            <div class="ratio">
                <a href="" class="up"></a>
                <div class="count">252</div>
                <a href="" class="down"></a>
            </div>
        </div>
        <div class="comment-one comment-one-even">
            <div class="user-right user-right-small">
                <span class="arrow"></span>
                <div class="left">
                    <a href="">טדנמ ןת</a>
                    <a href="">בוקע</a>
                    <a href="">העדוה חלש</a>
                </div>
                <div class="right">
                    <div class="img-box transparent-img">
                        <img width="60" alt="" src="images/user-1.jpg">
                        <span></span>
                    </div>
                    <h4>רומשאר זעוב</h4>
                    <div class="proxy">
                        <span>3</span>
                    </div>
                    <div class="respect">
                        <span>20</span>
                    </div>
                </div>
            </div>
            <div class="text">
                <p class="date">12:02 ,13.3.12</</p>
                <p>.הירפירפה יבשות ןובשח לע אובל םיכירצ אל םידופיק .איהש הממ רתוי תויהל ךופהת הירפירפהו ,ץראה זכרמב קר ונבי םה םינלבקה לע השקנ םא
                    http://www,youtube.com/watch?tv=rs_9w7ZMG6Y</p>
            </div>
            <div class="btn-box">
                <a href="">טטצ</a>
                <a href="">ףתש</a>
                <div class="like"><img src="images/like-btn.png" alt="" /></div>
            </div>
            <div class="ratio">
                <a href="" class="up"></a>
                <div class="count">252</div>
                <a href="" class="down"></a>
            </div>
        </div>
        <div class="comment-one">
            <div class="user-right user-right-small">
                <span class="arrow"></span>
                <div class="left">
                    <a href="">טדנמ ןת</a>
                    <a href="">בוקע</a>
                    <a href="">העדוה חלש</a>
                </div>
                <div class="right">
                    <div class="img-box transparent-img">
                        <img width="60" alt="" src="images/user-1.jpg">
                        <span></span>
                    </div>
                    <h4>רומשאר זעוב</h4>
                    <div class="proxy">
                        <span>3</span>
                    </div>
                    <div class="respect">
                        <span>20</span>
                    </div>
                </div>
            </div>
            <div class="text">
                <p class="date">12:02 ,13.3.12</</p>
                <p>.הירפירפה יבשות ןובשח לע אובל םיכירצ אל םידופיק .איהש הממ רתוי תויהל ךופהת הירפירפהו ,ץראה זכרמב קר ונבי םה םינלבקה לע השקנ םא
                    http://www,youtube.com/watch?tv=rs_9w7ZMG6Y</p>
            </div>
            <div class="btn-box">
                <a href="">טטצ</a>
                <a href="">ףתש</a>
                <div class="like"><img src="images/like-btn.png" alt="" /></div>
            </div>
            <div class="ratio">
                <a href="" class="up"></a>
                <div class="count">252</div>
                <a href="" class="down"></a>
            </div>
        </div>
        <div class="comment-one comment-one-even">
            <div class="user-right user-right-small">
                <span class="arrow"></span>
                <div class="left">
                    <a href="">טדנמ ןת</a>
                    <a href="">בוקע</a>
                    <a href="">העדוה חלש</a>
                </div>
                <div class="right">
                    <div class="img-box transparent-img">
                        <img width="60" alt="" src="images/user-1.jpg">
                        <span></span>
                    </div>
                    <h4>רומשאר זעוב</h4>
                    <div class="proxy">
                        <span>3</span>
                    </div>
                    <div class="respect">
                        <span>20</span>
                    </div>
                </div>
            </div>
            <div class="text">
                <p class="date">12:02 ,13.3.12</</p>
                <p>.הירפירפה יבשות ןובשח לע אובל םיכירצ אל םידופיק .איהש הממ רתוי תויהל ךופהת הירפירפהו ,ץראה זכרמב קר ונבי םה םינלבקה לע השקנ םא
                    http://www,youtube.com/watch?tv=rs_9w7ZMG6Y</p>
            </div>
            <div class="btn-box">
                <a href="">טטצ</a>
                <a href="">ףתש</a>
                <div class="like"><img src="images/like-btn.png" alt="" /></div>
            </div>
            <div class="ratio">
                <a href="" class="up"></a>
                <div class="count">252</div>
                <a href="" class="down"></a>
            </div>
        </div>
        <div class="write-comment">
            <h3>הבוגת תביתכ</h3>
            <div class="text-box cf">
                <div class="left">
                    <textarea class="four-col" cols="0" rows="0"></textarea>
                </div>
                <div class="user-right">
                    <div class="img-box">
                        <img width="60" src="images/user-1.jpg" alt="" />
                        <span></span>
                    </div>
                    <h4>ינא</h4>
                    <div class="date">13.3.12</div>
                    <div class="proxy">
                        <span>3</span>
                    </div>
                    <div class="respect">
                        <span>20</span>
                    </div>
                </div>
            </div>
            <a class="green-btn" href="">עצה</a>
        </div>
    </div>
</div>
<div id="footer">
    <div class="extra cf">
        <div class="one-col">
            <h4>ורוע תעונת</h4>
            <p>לש ולוקש ןמזה עיגהש הנבה ךותמ המקוה ורוע
                תויהל םיאכז ונלוכשו ,עמשיי לארשיב בוטה
                לש ולוקש ןמזה עיגהש הנבה ךותמ המקוה ורו
                ,עמשיי לארשיב בוטה .תוטלחהה תעביקב םיפתוש
                .תוטלחהה תעביקב םיפתושתויהל םיאכז ונלוכשו</p>
        </div>
        <div class="two-col">
            <h4>םירושיק</h4>
            <ul>
                <li><a href="">ונחנא ימ</a></li>
                <li><a href="">תושדח</a></li>
                <li><a href="">שומיש יאנת</a></li>
                <li><a href="">םיגולבש</a></li>
                <li><a href="">םיגולב</a></li>
                <li><a href="">הרזע</a></li>
            </ul>
        </div>
        <div class="three-col">
            <h4>תומח תויגת</h4>
            <div class="tags">
                <a href="">הלטבא</a>
                <a href="">הלכלכ</a>
                <a href="">ינוע</a>
                <a href="">תיתשת</a><br />
                <a href="">לשממו היטרקומד</a>
                <a href="">הלטבא</a>
                <a href="">הלכלכ</a>
                <a href="">ינוע</a>
                <div class="more">
                    <span></span>
                    <ul>
                        <li><a href="">תויגת דוע גצה</a></li>
                        <li><a href="">תיגת ףסוה</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
 <script type="text/javascript">
	var action_id='<%=action._id%>';
     $(document).ready(function () {
         
		  
		  
       
     });
 </script>
</body>
</html>
