<!DOCTYPE html>
<% error_message = locals.error_message || ''; %>
<html>
<head>

<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# <%= settings.facebook_app_name %>: http://ogp.me/ns/fb/<%= settings.facebook_app_name %>#">
    <meta property="fb:app_id" content="<%= settings.facebook_app_id %>" />
    <meta property="og:url"    content="<%= settings.root_path %>/actions/<%= action.id %>" />

    <% include partials/head.ejs %>
</head>

</head>
<body class="body-action">
<% include partials/body_top.ejs %>
<div id="wrap">
    <div id="header">
        <% include partials/menu.ejs %>
        <% include partials/user_box.ejs %>
        <% include partials/failures.ejs %>
        <% include partials/tag_search.ejs %>
        <% include partials/social_popup.ejs %>
    </div>


<div id="content" class="cf">

<div class="followers-box">
    <div class="extra holds_the_timeline">
        <div class="tabs-box"></div>
        <div class="extra-space"></div>
    </div>
</div>
<div class="add-offer add-offer-inner">


    <div id="minInfo" class="text-box cf" >
        <h3><span class="arrow"><%=action.category && action.category.name%></span> <span class="blue-title"><%=action.title%></span></h3>
				<div id="discussion_image" style="width: 212px;height: 164px; overflow:hidden;" class='auto-scale floatRight'>
                    <img src="<%= action.image_field ? action.image_field.url ||'' : '' %>" alt=""/>
                </div>
        <div class="add-offer-info">
            תאריך: 
			<strong><%=action.from_date.format('dd.mm.yyyy') %></strong> 
			|  שעה: 
			<strong><%=action.from_date.format('HH:MM') %>-<%=action.to_date.format('HH:MM') %></strong>
        </div>
        <div class="add-offer-info m-2">
            מיקום: 
			<strong><%=action.location?action.location.address:''%></strong>
        </div>
           <div class="action-text-overflow" >
            <p><%-action.text_field%></p>
           </div>


        <a class="more-text" href="">קרא עוד</a>
        <div class="add-offer-users">
            כמות משתתפים רצויה:
			<%=action.required_participants%>
        </div>
    </div>


    <div id="fullInfo" class="add-offer text-box cf fullInfo" style="display: none">
        <h3><span class="arrow"><%= action.category && action.category.name %></span> <span class="blue-title"><%=action.title%></span></h3>
        <div class="text-box cf">
            <div id="discussion_image" style="width: 139px;height: 135px; overflow:hidden;" class='auto-scale floatRight'>
                <img src="<%= action.image_field ? action.image_field.url ||'' : '' %>" alt=""/>
            </div>
            <div class="details">
                <div class="detail-date">
                    <span class="icon"></span>
                    תאריך:
						<strong><%= action.from_date.format('dd.mm.yyyy') %></strong> 
					|  שעה: 
					<strong><%= action.from_date.format('HH:MM') %>-<%=action.to_date.format('HH:MM') %></strong>
                </div>
                <div class="detail-resourse">
                    <span class="icon"></span>
                    משאבים נדרשים:
					<% for (var i=0;i < action.action_resources.length;i++){%>
                         <span class="check"><%=action.action_resources[i].resource && action.action_resources[i].resource.name %></span>
                    <% } %>
					
                </div>
                <div class="detail-ratio">
                    <span class="icon"></span>
                    כמות משתתפים רצויה:  
					<strong class="green"><%=action.required_participants %></strong>
					|  כמות משתתפים נוכחית:
                    <% if (action.num_of_going < action.required_participants) { %>
                        <!--there use to be here class going red that counts going users (what avner did)-->
                        <strong class="going red ">18</strong>
                    <% } else{ %>
                        <strong class="going green"><%=action.num_of_going %></strong>
                    <% } %>

                </div>
                <div class="detail-address">
                    <span class="icon"></span>
                    מיקום: 
				<strong><%=action.location?action.location.address:''%></strong>
                </div>
            </div>
			<p><%- action.text_field %></p>
            <a id="readLess" class="read_less" href="">קרא פחות</a>
        </div>

        <div id="map" class="map" style="width:691px ;height:125px "></div>
    </div>

    <div class="add-offer-bottom cf">
        <div class="btn-box row-btn-box">
            <a class="btn-grey" href="#" id="action_comment_reply_button">הגב</a>

            <a class="btn-grey share" rel="/actions/<%=action._id%>"
               data-img_src="<%= action.image_field ? action.image_field.url ||'' : '' %>" data-text_preview="<%=action.text_field_preview%>" data-title="<%=action.title%>"
               data-name="<%=action.text_field_preview%>"
               href="/facebookShare?link=/actions/<%=action._id%>">
                שתף
            </a>
        </div>
        <div class="tags">
            <% for (var c = 0; c<action.tags.length ; c++) { %>
                <a href="?tag_name=<%=action.tags[c]%>"> <%=action.tags[c] %></a>
            <% }%>
        </div>
    </div>
    <div
        class="add-offer-btn-box social-on-click"
        data-rel="/actions/<%=action._id%>"
        data-img_src="<%= action.image_field ? action.image_field.url ||'' : '' %>"
        data-title="<%=action.title%>"
        data-main_title="<%= action.cycle_id && action.cycle_id[0].cycle.title %>">
        <a href="#">
            <% if(!action.is_going) { %>
            הצטרף
            <% } else { %>
            עזוב
            <% } %>
        </a>
    </div>
</div>

<% include partials/action_shopping_cart.ejs %>

<div class="members-box members-box-action-approved cf">
    <h2>משתתפים<small id="going_number"></small></h2>
	<div  id="participant"></div>
    <br clear="all" />
    <div class="more-deals" >
        <a href="">עוד הצעות</a>
    </div>
</div>

</div><!-- content -->
</div><!-- wrap -->

<div class="comments-box comments-box-inner">
    <div class="extra cf">
        <select class="left-select">
            <option>
			מיין לפי תאריך
			</option>
            <option>
			מיין לפי יוזר
			</option>
            <option>
			מיין לפי תוצאות
			</option>
        </select>
        <h2>תגובות<small id="comments_number"></small></h2>
        <div id="comments"></div>
        <a href="javascript:void(0)" class="more_comments" style="display:none;">הראה עוד</a>
        <div class="write-comment">
            <h3>
                כתיבת תגובה
            </h3>

            <div class="text-box cf"
            <%if(user_logged){%> data-creator_id="<%=user._id%>" <%}%> >
            <div class="left">
                <textarea id="discussion_comment" dir="rtl" class="four-col" cols="0" rows="0"></textarea>
            </div>
            <div class="user-right">
                <div class="img-box" style="overflow: hidden;">
                    <div style="width:70px; height:70px;" class='auto-scale'>
                        <% if(user_logged) { %>
                        <img src="<%=avatar%>" alt="אני"/>
                        <% } %>
                    </div>
                    <span></span>
                </div>
                <h4>אני</h4>

                <div class="date"><%=(new Date()).format('dd.mm.yy') %></div>
                <% if(user_logged){ %>
                <div class="proxy">
                    <span><%=user.num_of_proxies_i_represent%> </span>
                </div>
                <div class="respect">
                    <span class="score"><%=user.score%></span>
                </div>
                <% } %>
            </div>
        </div>
        <a id="submit_post" class="green-btn" href="javascript:void(0);">
            שלח
        </a>
    </div>
</div>

<% include partials/footer.ejs %>
<% include partials/action_common.ejs %>

<script type="text/javascript">
var current_section=3;
var action_id = '<%= action._id %>';
var cycle_id = '<%= action.cycle_id[0].cycle.id %>';
var my_id = "<%= user_logged ? user._id : '' %>";
var cycle_title = "<%= action.cycle_id[0].cycle.title %>";
$(document).ready(function () {
    timeline.render(cycle_id, cycle_title, action_id);
    $('.followers-diagram').on("mouseenter", ".icon", function(e){
        e.preventDefault();
        var popup_event = $(this).children('.popup-event');
        if(!popup_event.hasClass('showdiv')) {
            popup_event.stop(true, true);
            popup_event.show();
        }
    });

    $('.followers-diagram').on("mouseleave", ".icon", function(e){
        e.preventDefault();
        var popup_event = $(this).children('.popup-event');
        if(!popup_event.hasClass('showdiv')) {
            popup_event.fadeOut(2000);
        }
    })
    //start from index 0 loding 2 rows 14*7
    var goingModel = new window.uru.GoingModel();
    goingModel.loadGoingUsers(0,2);
    //loadPosts();
});
</script>

</body>
</html>
