<!DOCTYPE html>
<%
var error_message = error_message || '';
%>

<html>
<head>
<!--<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# <%= settings.facebook_app_name %>: http://ogp.me/ns/fb/<%= settings.facebook_app_name %>#">-->
    <% include partials/head.ejs %>
    <script src="/js/jquery-fieldselection.js" type="text/javascript"></script>
    <script src="/plugins/ckeditor/ckeditor.js"></script>
    <script src="/plugins/ckeditor/adapters/jquery.js"></script>

  <!--  <meta property="fb:app_id" content="<XXX%= settings.facebook_app_id %>" />
    <meta property="og:type"   content="<XXX%= settings.facebook_app_name %>:discussion" />
    <meta property="og:url"    content="<XXX%= settings.root_path %>/discussions/<XXX%= discussion.id %>" />
    <meta property="og:title"  content="<XXX%=discussion.title%>" />
    <meta property="og:description"  content="<XXX%=discussion.text_field%>" />
    <meta property="og:image"  content="<XXX%= discussion.image_field && discussion.image_field.url ? discussion.image_field.url : 'http://site.e-dologic.co.il/philip_morris/Xls_script/uru_mailing/logo.jpg' %>" />
-->


</head>
<body class="body-action">
<% include partials/body_top.ejs %>
<div id="wrap">
    <div id="header">
        <% include partials/menu.ejs %>
        <% include partials/user_box.ejs %>
        <% include partials/failures.ejs %>
        <% include partials/tag_search.ejs %>
    </div>
<div id="content" class="cf">
<div class="followers-box">
    <div class="extra">
        <h2><span>ציר הזמן</span> חייבים להציל את הקיפודים</h2>
        <div class="followers-diagram">
            <div class="event event-prev" style="left: 0px">
                <div class="icon prev-icon">
                    <span class="i"></span>
                </div>
                            <span class="number">
                                2.2
                            </span>
                            <span class="text">
                                יצירת דיון
                            </span>
            </div>
            <div class="event event-plus" style="left: 600px">
                <div class="icon plus-icon">
                    <span class="i"></span>
                </div>
                            <span class="number">
                                2.2
                            </span>
                            <span class="text">
                                יצירת דיון
                            </span>
            </div>
            <div class="event event-triangle" style="left: 750px">
                <div class="icon triangle-icon">
                    <span class="i"></span>
                </div>
                            <span class="number">
                                8.3
                            </span>
                            <span class="text">
                                היום
                            </span>
            </div>
            <div class="event" style="left: 150px">
                <div class="icon green-icon">
                    <span class="i"></span>
                    <div class="popup-event type-one">
                        <div class="popup-text">
                            <h4>הפגנה למען הקיפודים</h4>
                            <p>אחד העם 19</p>
                            <p>תל אביב</p><br>
                            <p>20:00</p>
                            <a href="" class="join-btn">
							הצטרף
							</a>
                        </div>
                    </div>
                </div>
                            <span class="number">
                                4.4
                            </span>
                            <span class="text">
                                דיון פתוח
                            </span>
            </div>
            <div class="event" style="left: 300px">
                <div class="icon blue-icon">
                    <span class="i"></span>
                    <div class="popup-event type-two">
                        <div class="popup-text">
                            <img width="112" alt="" class="floatRight" src="images/sample-7.jpg">
                            <h5>אירוע חשוב מאוד</h5>
                            <p>הרצאה יוצאת מן הכלל מפי פרופ’ כהן אחד העם 91, תל אביב</p>
                        </div>
                    </div>
                </div>
                            <span class="number">
                                4.4
                            </span>
                            <span class="text">
                                דיון פתוח
                            </span>
            </div>
            <div class="event" style="left: 450px">
                <div class="icon grey-icon">
                    <span class="i"></span>
                    <div class="popup-event type-three">
                        <div class="popup-text">
                            <h3>פברואר</h3>
                            <ul class="">
                                <li><strong>2.2</strong> - יצירת דיון</li>
                                <li><strong>8.2</strong> - הפגנה</li>
                                <li><strong>2.2</strong> - דיון</li>
                                <li><strong>2.2</strong> - יצירת דיון</li>
                                <li><strong>8.2</strong> - הפגנה</li>
                                <li><strong>2.2</strong> - דיון</li>
                                <li><strong>2.2</strong> - יצירת דיון</li>
                                <li><strong>8.2</strong> - הפגנה</li>
                                <li><strong>2.2</strong> - דיון</li>
                            </ul>
                        </div>
                    </div>
                </div>
                            <span class="number">
                                4.4
                            </span>
                            <span class="text">
                                דיון פתוח
                            </span>
            </div>
            <div class="event event-next" style="left: 100%">
                <div class="icon next-icon">
                    <span class="i"></span>
                </div>
                            <span class="number">
                                15.4
                            </span>
                            <span class="text">
                                תאריך יעד
                            </span>
            </div>
        </div>
    </div>
</div>
<div class="add-offer add-offer-inner">
   <h2>
  
	</h2>
    <div class="text-box cf">
         <h3><span class="arrow"><%=action.type%></span> <span class="blue-title"><%=action.title%></span></h3>
       
			 <!--<div id="discussion_image" style="width: 292px;height: 164px; overflow:hidden;" class='auto-scale floatRight'>
                    <img src="<%= action.image_field ? action.image_field.url ||'' : '' %>" alt=""/>
                </div> -->
				
				<div id="discussion_image" style="width: 212px;height: 164px; overflow:hidden;" class='auto-scale floatRight'>
                    <img src="http://uru.s3.amazonaws.com/582gas-offshore.jpg" alt=""/>
					 <!--  images/sample-2.jpg" -->

                </div>
        <div class="add-offer-info">
            תאריך: 
			<strong><%=action.from_date.format('dd.mm.yyyy') %></strong> 
			|  שעה: 
			<strong><%=action.from_date.format('HH:MM') %>-<%=action.to_date.format('HH:MM') %></strong>
        </div>
        <div class="add-offer-info m-2">
            מיקום: 
			<strong><%=action.location%></strong>
        </div>
        <p><%-action.text_field%></p>

        <a class="more-text" href="">קרא עוד</a>
        <a class="less-text" href="">קרא עוד</a>
        <div class="add-offer-users">
            כמות משתתפים רצויה:
			<%=action.required_participants%>
        </div>
    </div>

    <div class="add-offer-bottom cf">
        <div class="btn-box row-btn-box">
            <a class="btn-grey" href="#" id="action_comment_reply_button">
			הגב
			</a>
            <a class="btn-grey"  href="">
			שתף
			</a>
           
        </div>
        <div class="tags">
            <% for (var c = 0; c<action.tags.length ; c++) { %>
                    <a href="/discussions/?tag_name=<%=action.tags[c]%>"> <%=action.tags[c] %></a>
           <% }%>
          <!--  <div class="more">
                <span></span>
                <ul>
                    <li><a href="">הצג עוד תגיות</a></li>
                    <li><a href="">הוסף תגית</a></li>
                </ul>
            </div>-->
        </div>
    </div>
    <div class="add-offer-btn-box">
        <a href="#" >הצטרף</a>
    </div>
</div>

 <% include partials/action_shopping_cart.ejs %>


<div class="members-box cf">
<h2>משתתפים <small>(21)</small></h2>
	<div  id="participant">
	</div>

<br clear="all" />
<div class="more-deals">
    <a href="">עוד הצעות</a>
</div>
</div>

</div>
</div>
<div class="system-notice">
    <div class="extra">
        <a class="close" href=""></a>
        <strong>:תכרעמ תעדוה</strong> תורקל הזל ומרגו וביגה ,ופתש .הפונת לגעמ תויהל דתעתמ הז ןויד
    </div>
</div>
<div class="comments-box comments-box-inner">
    <div class="extra cf">
        <select class="left-select">
            <option>
			מיין לפי תאריך
			</option>
            <option>
			מיין לפי יוזר
			</option>
            <option>
			מיין לפי תוצאות
			</option>
        </select>
        <h2>
		תגובות
		<small id="comments_number"></small></h2>
        <div id="comments">

        </div>
        <a href="javascript:void(0)" class="more_comments" style="display:none;">הראה עוד</a>
        <div class="write-comment">
            <h3>
                כתיבת תגובה
            </h3>

            <div class="text-box cf"
            <%if(user_logged){%> data-creator_id="<%=user._id%>" <%}%> >
            <div class="left">
                <textarea id="discussion_comment" dir="rtl" class="four-col" cols="0" rows="0"></textarea>
            </div>
            <div class="user-right">
                <div class="img-box" style="overflow: hidden;">
                    <div style="width:70px; height:70px;" class='auto-scale'>
                        <% if(user_logged) { %>
                        <img src="<%=avatar%>" alt="אני"/>
                        <% } %>
                    </div>
                    <span></span>
                </div>
                <h4>אני</h4>

                <div class="date"><%=(new Date()).format('dd.mm.yy') %></div>
                <% if(user_logged){ %>
                <div class="proxy">
                    <span><%=user.num_of_proxies_i_represent%> </span>
                </div>
                <div class="respect">
                    <span class="score"><%=user.score%></span>
                </div>
                <% } %>
            </div>
        </div>
        <a id="submit_post" class="green-btn" href="javascript:void(0);">
            הצע
        </a>
    </div>
</div>

<%- partial('partials/footer.ejs') %>

 <script type="text/javascript">




 var action_id='<%=action._id%>';
 $(document).ready(function () {

     var new_post_ref_id = null;  //if not null =>the create new post is connected to anther post
     var action_title = "<%= action.title%>"
     vardiscussion_img_field_preview = "<%= action.image_field ? action.image_field.url ||'' : '' %>";



     $('.add-offer-btn-box').click(function(e){
         e.preventDefault();
         db_functions.joinOrLeaveAction(function(err,data){
             if(err){
                 console.log(err) ;
             }
             else{
                 //update bt
             }
         })
     });

     // just focus
     $("#action_comment_reply_button").on('click', function (e) {
         e.preventDefault();
         var discussionComment = $("textarea#discussion_comment").focus();
         focusOnCommentBox();
     });

     function setUserScore(userID, score) {
         $('[ data-creator_id=' + userID + ']').find('.score').empty().append(score);
     }


     function setCommentNumber(number) {

         $('#comments_number')[0].innerHTML = '(' + number + ')';
     }


      //TODO: fix
      $("#submit_post").on('click', function (e) {
            e.preventDefault();
            db_functions.addPostToAction(action_id, $("textarea#discussion_comment").val(), new_post_ref_id, function (err, post) {
                // $("#user_tokens").text(post.updated_user_tokens);
                if (!err) {
                    if (my_id)
                        setUserScore(my_id, post.creator_id.score);
                    dust.render('discussion_comment', post, function (err, out) {
                        $("#comments").append(out);
                        $("textarea#discussion_comment").val('');
                        new_post_ref_id = null;
                        postsNumber++;
                        setCommentNumber(postsNumber);
                    });
                }
            })
         });


          var current_offset = 0;

     function renderComments(comments) {
         var i;
         for (i = 0; i < comments.length; i++) {
             comments[i].isFirst = (i === 0);
             comments[i].isEven = ((i % 2)== 0);
             comments[i].voting =      comments[i].votes_for - comments[i].votes_against;
         }
         dust.renderArray('discussion_comment', comments, null, function (err, out) {
             if (!err) {
                 var comments = $("#comments");
                 comments.append(out);
                 var hash = window.location.hash;
                 if (hash) {
                     if (!scrollTo(hash)) {
                         var match = /^#post_([0-9a-f]+)/.exec(hash);
                         if (match) {
                             var post_id = match[1];

                             db_functions.getPostById(post_id, function (err, post) {
                                 dust.render('discussion_comment', post, function (err, out) {
                                     if (!err)
                                         comments.append(out);
                                     scrollTo(hash);
                                 });
                             });
                         }
                     }
                 }

                 image_autoscale($('.auto-scale img', comments));

                 initTooltipWithMessage($('#comments .right .proxy'), 'מנדטים');
                 initTooltipWithMessage($('#comments .right .respect'), 'מוניטין');

             }
         });
     }

          function loadPosts() {
              var selectedOption = $("#sorting_select").val();
              db_functions.getSortedPostByAction(action_id, selectedOption,current_offset, function (err, data) {
                  if (err) {
                      console.log(err);
                  } else {
                      current_offset += data.objects.length;

                      $.each(data.objects, function (index, post) {
                          post.title = action_title;
                          post.image_field_preview = discussion_img_field_preview;
                      });

                      renderComments(data.objects);

                      if(data.meta.total_count > current_offset )
                          $('.more_comments').show();
                      else
                          $('.more_comments').hide();
                      postsNumber = data.meta.total_count;
                      setCommentNumber(postsNumber);

                      if(typeof(FB) != 'undefined')
                          FB.XFBML.parse();
                  }
              })
          }

          $('.more_comments').click(function() {
              loadPosts();
          });

          $('#sorting_select').change(function() {
              $("#comments").empty();
              current_offset = 0;
              loadPosts();
          });

          loadPosts();


     db_functions.getActionGoing(action_id,function(err,data){

     })
       
 });
 </script>
</body>
</html>
