<!DOCTYPE html>

<html>
<head>
    <% include partials/head.ejs %>

    <meta property="og:image"  content="<%= articles[0].image_field && articles[0].image_field.url ? articles[0].image_field.url : 'http://site.e-dologic.co.il/philip_morris/Xls_script/uru_mailing/logo.jpg' %>" />
    <meta property="fb:admins" content="1096517123,569038621,775273695"/>
    <meta property="fb:app_id" content="336034919824744"/>
    <script src="/resources/js/jquery-fieldselection.js" type="text/javascript"></script>
</head>
<body>
<%=  cleanHtml(articles[0].title) %>
<% include partials/body_top.ejs %>
<div id="wrap">
        <div id="header">
            <% include partials/menu.ejs %>
            <% include partials/user_box.ejs %>
            <% include partials/failures.ejs %>
            <% include partials/tag_search.ejs %>
        </div>
        <div id="content" class="cf">
            <h2><a class="arrow no_underline" href="javascrpit:void(0)"><%= blogger.blog_title || ""%> </a> <%= blogger.blog_sub_titile || ""%></h2>
            <div class="rightCol" id="articles" >
                <% for (var i = 0; i < articles.length && i < 8 ; i++) { %>
                       <div class="one-post" item_id="<%= articles[i].id %>" id="<%= articles[i].id %>">
                         <a href="/blogs/article/<%= articles[i].id %>">
                            <h3>
                                <%= articles[i].title %>
                             </h3>
                          </a>
                            <div class="date-post">
                                <%= articles[i].time.format('dd/mm/yy') %>
                            </div>
                             <div class="img-box floatRight" style="overflow: hidden;">
                                <div style="width:253px; height:168px; overflow:hidden; " class='auto-scale' >
                                       <img style="margin: 3px 0 5px 25px;" src="<%=articles[i].image_field ? articles[i].image_field.url ||'' : '' %>" alt=""/>
                          <!--         <img class="floatRight" src="http://uru.s3.amazonaws.com/wind_755.jpg" alt="" />   -->
                                    <br>
                                </div>
                                <span></span>
                            </div>

                                <p><%-articles[i].text%></p>

                            <div class="bottom cf">
                                <div class="right">
                                    <div class="tags">

                                        <div class="like-btn fb-like"
                                        <% if (!isBlog) { %>
                                             data-href="http://www.uru.org.il/blogs/article/<%= articles[i]._id %>"
                                        <% }else{%>
                                            data-href="http://www.uru.org.il/blogs/<%= articles[0].user_id %>"
                                        <% }%>
                                             data-send="false" data-layout="button_count" data-width="90" data-show-faces="false">
                                        </div>

                                     <% for (var c = 0; c <articles[i].tags.length; c++) { %>
                                           <a class="tag-search" href="javascript:void(0);"><%=articles[i].tags[c] %></a>
                                     <% }%>

                                        <!--<a class="like-btn gray_and_soon" href=""><img src="images/like-btn.png" alt="" /></a>-->


                                    </div>
                                </div>
                                 <% if (!isBlog) { %>
                                    <a href="#write-comment" class="btn-grey" href="">הגב</a>
                                 <% }%>
                            </div>
                            <div class="post-comment">
                                <div class="fb-comments"
                                <% if (!isBlog) { %>
                                data-href="http://www.uru.org.il/blogs/article/<%= articles[i]._id %>"
                                <% }else{%>
                                data-href="http://www.uru.org.il/blogs/<%= articles[0].user_id %>"
                                <% }%>
                                     data-num-posts="3" data-width="570"></div>

                                <h3>תגובות</h3>
                            </div>

                        </div>
                <% }%>

                     <% if (articles.length>8) { %>
                    <div class="nav-post">
                        <a href="">פוסטים קודמים</a> | <a href="">פוסטים הבאים</a>
                    </div>
                <% }%>
            </div>
            <div class="leftCol leftCol-width noPadding">
                <div class="profile-box">
                    <div class="profile-info cf">
                        <%if (blogger.avatar_url) { %>
                        <a href="/myuru/<%=blogger._id%>">
                           <div class="img-box">
                                <img width="112" height="120" src="<%=blogger.avatar_url() %> " alt="" />
                                <span></span>
                            </div>
                        </a>

                        <% } %>
                        <div class="left">
                            <h4><%=blogger.first_name %> <%=blogger.last_name %></h4>

                         <p><% if (blogger.blog_text_1) { %>       <%=blogger.blog_text_1 %>      <% } %>&nbsp;</p>
                         <p><% if (blogger.blog_text_2) { %>       <%=blogger.blog_text_2 %>     <% } %>&nbsp;</p>
                        <p><% if (blogger.blog_text_3) { %>        <%=blogger.blog_text_3 %>      <% } %>&nbsp;</p>
                        </div>
                        <div class="badges cf">
                            <div class="proxy">
                                <span><%=blogger.num_of_proxies_i_represent %></span> מנדטים
                            </div>
                            <div class="respect">
                                <span><%=blogger.score %></span> מוניטין
                            </div>
                        </div>
                     </div>
                    <% if (blogger.biography) { %>        <p><%=blogger.biography %></p>      <% } %>

                    <div class="links">
                        <p><a href="">www.mywebsite.com</a></p>
                        <p><a href="">www.facebook.com/myname</a></p>
                    </div>

                    <div class="btns-box cf">
                        <% if (blogger) { %>
                            <a class="floatLeft" href="/api/articles/?user_id=<%=blogger._id%>&rss=true ">RSS</a>
                        <% } else {%>
                            <a class="floatLeft" href="javascript:void(0);">RSS</a>
                        <% } %>
                        <a href="javascript:void(0);" class="floatRight gray_and_soon">דואר</a>
                    </div>
                </div>
                <div class="left-search">
                    <form class="bolg-search"  action="#">
                        <label>חיפוש</label>
                        <input class="search_term" type="text" value="" />
                        <input type="submit" value="חפש" />
                    </form>
                </div>
                <div class="left-tags">
                    <h3>תגיות</h3>
                    <div class="tags">
                        <% for (var i = 0; i < tags.length ; i++) { %>
                               <a class="tag-search" href="javascript:void(0);"><%= tags[i].tag %></a>
                        <% }%>


                    </div>
                </div>
            </div>
        </div>

<% if (!isBlog) { %>
<a name="write-comment">       </a>
<div class="comments-box">
        <div class="extra cf">
            <div class="write-comment">
                <h3>
                    כתיבת תגובה
                </h3>

                <div class="text-box cf"
                <%if(user_logged){%> data-creator_id="<%=user._id%>" <%}%> >
                <div class="left">
                    <textarea id="article_comment" dir="rtl" class="four-col" cols="0" rows="0"></textarea>
                </div>
                <div class="user-right">
                    <div class="img-box" style="overflow: hidden;">
                        <div style="width:70px; height:70px;" class='auto-scale'>
                            <% if(user_logged) { %>
                            <img src="<%=avatar%>" alt="אני"/>
                            <% } %>
                        </div>
                        <span></span>
                    </div>
                    <h4>אני</h4>

                    <div class="date"><%=(new Date()).format('dd.mm.yy') %></div>
                    <% if(user_logged){ %>
                    <div class="proxy">
                        <span>3</span>
                    </div>
                    <div class="respect">
                        <span class="score"><%=user.score%></span>
                    </div>
                    <% } %>
                </div>
            </div>
            <a id="submit_post" class="green-btn" href="javascript:void(0);">
                פרסם
            </a>
        </div>
    </div>
        <% } %>
</div>

<% include partials/footer.ejs %>

<script type="text/javascript">

var current_section=4;
var bloggerId='<%=blogger ? blogger._id:'' %>';
var currentUserId='<%=user ? user._id:'' %>';
var isBlog=<%=isBlog %>;
<% if (!isBlog) { %>
var single_article_id  ='<%=articles[0]._id %>';
<% } %>
$(document).ready(function () {


    $.each($(".one-post"), function (index,item) {
              getComments  (item.id)  ;
    });
});

function getComments(article_id) {
    if(article_id)
    {
        db_functions.getArticleComments(article_id, function(err, data){
                var comments    =  isBlog?  data.objects.slice(0,2):data.objects;
                for (i = 0; i < comments.length; i++) {
                    //    comments[i].isFirst = (i === 0);
                    //    comments[i].isEven = ((i % 2)== 0);
                        comments[i].voting =      comments[i].votes_for - comments[i].votes_against;
                        comments[i].isBalancePositive =( comments[i].balance>0);
                        comments[i].isBalanceNegative =( comments[i].balance<0);
                }
                dust.renderArray('article_comment', comments, null, function (err, out) {

                    $("#"+article_id+" .post-comment").append(out);
                });


        });
    }
}

 $("#submit_post").on('click', function (e) {
        e.preventDefault();
        db_functions.addArticleComment($("textarea#article_comment").val(),single_article_id , function (err, post) {
            // $("#user_tokens").text(post.updated_user_tokens);
            if (err==="success") {
              //  if (my_id)
              //      setUserScore(my_id, post.creator_id.score);
                post.voting = post.votes_for - post.votes_against;
                dust.render('article_comment', post, function (err, out) {
                    $("#"+single_article_id+" .post-comment").append(out);
                    $("textarea#article_comment").val('');
                });
            }
        })
    });


     $('.vote_for').live("click", function(event){
        vote.apply($(this),['add']);
      });
      $('.vote_against').live('click', function (e) {
          vote.apply($(this),['remove']);

      });
      function vote(actionType){
              var post_id = $(this).parents('.one').data("id");
              var button = $(this);
             // var func = $(this).parents('#comments').length ? db_functions.voteForPost : db_functions.voteForSuggestion;
              db_functions.voteOnArticleComment(   post_id,actionType,function (err, post_obj)
              {
                  if (err==="success") {

                         button.parents(".ratio").find(".count").text(Math.round(post_obj.votes_for-post_obj.votes_against ));
                         var down_arrow = button.parents(".ratio").find(".down");
                         var up_arrow =button.parents(".ratio").find(".up");
                          down_arrow.removeClass("balance-negative");
                          up_arrow.removeClass("balance-positive");
                          if(post_obj.balance>0){
                              up_arrow.addClass("balance-positive");
                          }
                          if(post_obj.balance<0){
                              down_arrow.addClass("balance-negative");
                          }


                  }
                  else {
                      if (err.responseText == 'Error: there is not enought tokens')
                          popupProvider.showOkPopup( {message:     'אין לך מספיק אסימונים'});
//                      if (err.responseText == 'user already voted for this post')
//                          popupProvider.showOkPopup( {message:     'באפשרותך לתת עד אסימון אחד לתגובה בדיון'});
                      if (err.responseText == 'soory, can\'t vote to your own post')
                          popupProvider.showOkPopup( {message:     'מצטערים, לא ניתן להצביע לתגובה של עצמך'});
                  }
              })
      }

    $('.bolg-search').live("submit",function () {
       searchTerm = $(this).find(".search_term").val();
       db_functions.getUserArticlesByKeywords(bloggerId, searchTerm, null, function(err, data){
           $.each(data.objects, function (index,item) {
                 item.text=item.text.replace(searchTerm,'<span class="highlight">'+searchTerm+'</span>' )
          });
          $("#articles").empty()
          dust.renderArray('blog_article', data.objects, null, function (err, out) {

              $("#articles").append(out);
               $.each(data.objects, function (index,item) {
                            getComments  (item._id)  ;
                  });
          });
       });
       return false;

    });

 </script>
</body>
</html>
