<!DOCTYPE html>

<html>
<head>
  <% include partials/head.ejs %>
</head>
<body>
<% include partials/body_top.ejs %>
<div id="wrap">
        <div id="header">
            <% include partials/menu.ejs %>
            <% include partials/user_box.ejs %>
            <% include partials/failures.ejs %>
            <% include partials/tag_search.ejs %>
            <% include partials/social_popup.ejs %>
        </div>

        <div id="content" class="cf">
            <div class="right-add-offer">
                <div id="cycle" class="add-offer add-offer-small">
                    <h2><span class="arrow"> <%= cycle.subject_name %></span>
                        <br>
                        <%= cycle.title %>
                    </h2>

                        <a class="share-btn" data-img_src="{image_field_preview.url}" data-text_preview="{text_field_preview}" data-title="{title}" rel="/cycles/{_id}" href="/facebookShare?link=/cycles/{_id}"><span>שתף</span></a>

                        <a class="green-btn social-on-click" data-text_preview="<%=cycle.text_field_preview%>" title="לקידום הנושא ולקבלת עדכונים על המשך הפעילות לחצו כאן"  data-title="<%=cycle.title%>"data-img_src="<%= cycle.image_field && cycle.image_field.url %>" data-rel="/cycles/<%= cycle.id %>" href="javascript:void(0)"> </a>

                    <div class="text-box cf">
                    <div class="cycle-content">
                    <% if (cycle.image_field) { %>

                      <div class="img-box floatRight" style="overflow: hidden;">
                                <div style="width:260px; height:190px;" class='auto-scale'>
                                      <img src="<%=cycle.image_field && cycle.image_field.url %>" title="<%= cycle.title %>"/>

                                </div>
                                <span></span>
                            </div>
                    <% } %>

                        <h3><%- cycle.discussion_title %></h3>
                        <p> <%- cycle.text_field %>   </p>
                        </div>
                        <p id="read_more"> <a class="read-more" href="javascript:void(0);"> קרא עוד </a> </p> </div>
                    <div class="add-offer-bottom ">
                        <div class="right">
                            <div class="followers">
                                <p id="followers_count" ><div class="blue-box"> <%= cycle.followers_count %>  </div>
                                עוקבים אחרי מעגל תנופה זה
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="add-offer-bottom ">
                        <div class="right">
                            <div class="tags">
                                תגיות:
                                <!--
                                    <div class="info">
                                        <span class="talks">33</span>
                                        <span class="watched">151</span>
                                    </div>
                                    -->
                                <% if (cycle.tags) for (var c = 0; c<cycle.tags.length; c++) { %>
                                <a href="?tag_name=<%=cycle.tags[c]%>"> <%=cycle.tags[c] %></a>
                                <% }%>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="popular-comments cf">
                    <div class="top">
                        <a href=""><span></span>תגובות פופולריות מהדיונים</a>
                    </div>
                    <div id="comments" class="hide-box">

                    </div>
                </div>
            </div>
            <div class="card-left">


                <%if(cycle.id=="508026e8cb2276020000001f"){%>

                <a target="_blank" href="https://www.facebook.com/pages/%D7%90%D7%95%D7%A8%D7%9C%D7%99-%D7%95%D7%92%D7%99%D7%90/177621142281988"><img style="float: right;margin: 10px 0 10px 10px" src="../../images/Orly&Guy_logo.png" > </a>
                <h3 style="line-height: 20px;
color: #3B63EF;
margin: 0;
font-size: 30px;
margin-top: 15px;">
                    אורלי וגיא</h3>
                <span style="color: #7F7F7E;
                font: normal 13px/17px Arial; margin-top: -10px " >
בשיתוף עם תוכנית הבוקר של אורלי וגיא

                     </span>
                <img src="../../images/Orly&Guy_image.png" style="width:100%;margin-bottom: 10px">
                <div style="border-bottom: 1px solid #D6DBDE">
                   </div>


                <%} else{ %>
                <h3><span>סל מידע</span></h3>
                <div class="comment-slide">
                    <a href="" id="prev" ></a>
                    <a href="" id="next" ></a>
                    <div class="slide-c"></div>
                </div>
                <%} %>

            </div>
        </div>
    </div>

    <div class="followers-box cycle">
        <div class="extra holds_the_timeline">
            <div class="tabs-box">
            </div>
            <div class="btn-box">
                <a href="/actions/create/<%= cycle.id %>" >+ הצע פעולה חדשה</a>
            </div>
        </div>
    </div>
    <div  class="comments-box">
        <div class="extra cf">
            <div class="updates-box cf">
                <div class="right">
                    <h2>עדכונים</h2>
                    <div class="updates">
                    </div>
                </div>
                <div class="left">
                    <h2>פעולות הממתינות לאישור</h2>
                    <div class="anticipation-box">
                        <a href="../actions/cycle/<%=cycle._id%>" class="btn">הראה לי את כולן</a>
                    </div>
                </div>
            </div>
            <div class="blog-box cf">
                <h2>מובילי דעת קהל</h2>


                     <% if (cycle.opinion_shapers) for (var c = 0; c<cycle.opinion_shapers.length && c<3 ; c++) { %>
                             <div class="one <% if (c==2) {%>last<% }%> ">

                             <div class="img-box" style="overflow: hidden;">
                                 <a href="/myuru/<%=cycle.opinion_shapers[c].user_id._id%>">
                                     <div style="width:112px;height:120px; overflow:hidden; " class='auto-scale' >
                                         <img  src="<%=cycle.opinion_shapers[c].user_id.avatar_url %>" alt=""/>
                                         <span class="fillter"></span>
                                     </div>
                                     <span></span>
                                </a>
                             </div>
                                <h4 class="opinion_shaper"><a href="/myuru/<%=cycle.opinion_shapers[c].user_id._id%>"><%=cycle.opinion_shapers[c].user_id.first_name %> <%=cycle.opinion_shapers[c].user_id.last_name %></a></h4>
                                <p class="opinion_shaper"><% if (cycle.opinion_shapers[c].text) {%>  <%=cycle.opinion_shapers[c].text %>  <% } %></p>
                                 <div class="badges">
                                     <div class="proxy">
                                         <span><%=cycle.opinion_shapers[c].user_id.num_of_proxies_i_represent %></span>
                                     </div>
                                     <div class="respect">
                                         <span><%=cycle.opinion_shapers[c].user_id.score %></span>
                                     </div>
                                 </div>
                             </div>
                     <% }%>

            </div>
            <div class="followers-ppl cf" id="followers">
                <h2>עוקבים</h2>

            </div>

        </div>

    </div>
<!--<div class="cycle_join_tooltip">
    <p class="cycle_tooltip_text">
        לקידום הנושא ולקבלת עדכונים על המשך הפעילות לחצו כאן
    </p>
</div>-->






<% include partials/footer.ejs %>



<script type="text/javascript">
    var _main=$(document).ready( function () {

        jQuery.easing.def = "easeOutCirc";
        var my_id = "<%=user_logged ? user._id : ''%>";
        var cycle_id = "<%=cycle.id%>";

        var cycle_title = "<%=cycle.title%>";
        var user = "<%=cycle.id%>";
        //set mail subject for social popup

        $(".<%= cycle.is_user_follower_of_cycle ? "share-btn":"green-btn" %>").show();

        window.vars={};
        window.vars.object_id = "<%=cycle.id%>";
        window.vars.mail_subject = "הצטרפתי לקידום הפעילות בנושא "
                + cycle_title
                + ". מה איתך?"
        window.vars.mail_subject = encodeURIComponent(window.vars.mail_subject);
        window.vars.mail_body = "החלטתי לקחת חלק בפעילות של תנועת עורו בתחום"
                + " "
                + cycle_title
                + ". גם לך חשוב לקדם את הנושא? אם כן, אפשר לקבל פרטים נוספים, להצטרף ולתמוך באתר עורו. אשמח לראות אותך שם! "
                + "http://www.uru.org.il/cycles/"
                + cycle_id;
        window.vars.mail_body = encodeURIComponent(window.vars.mail_body);

        <%
        if (user_logged&&proxy) { %>
            var proxy = JSON.parse('<%-proxy%>');
        <%
        } else { %>
            var proxy = [];
        <%
        }
        %>

        $('#comments').on('click', '#add_or_remove_proxy', function (e) {
            var userData = $(this).parents('.comment-one');
            var proxyId = userData.data('creator_id');
            var userName = userData.data('creator_name');
            e.preventDefault();

            if(!my_id){
                popupProvider.showLoginPopup({}, function(err, result){
                    if(!err)
                        window.location = window.location + '?user_name=' + userName + '&proxy_id=' + proxyId + '&post_id=' + post_id;
                });
            }else{
                proxyCommon.addOrRemoveProxy(proxy, proxyId, userName, my_id, function(newProxy){
                    proxy = newProxy.proxy;
                })
            }


        });

            $(".inline").colorbox({ inline: true, width: "730" });

            $('.popular-comments .user-right').hover(function () {
                $(this).toggleClass('hover');
            });
            $('.comments-box .comment-one .user-right').hover(function () {
                $(this).toggleClass('hover');
            });

            $('.hide-box').hide();
            $('.popular-comments .top a').click(function () {
                $(this).parents('.popular-comments').find('.hide-box').slideToggle();
                $(this).parents('.popular-comments').toggleClass('hover');
                return false;
            });


            $('.green-btn').click(function(){
                var button = $(this);
                //button.text('...');

                db_functions.joinToCycleFollowers(cycle_id, function(err, result){
                    //  button.text(result.is_follower ? "הפסק לעקוב" : "אני בעד");
                    //button.text('');
                    $('#followers_count strong').text(result.followers_count);
                    $(".green-btn").hide();
                    $(".share-btn").show();

                   // if(result.is_follower){
                    share() ;

                   // }
                })
            });

            $('.share-btn').click(share);

            function share()
            {
                setTimeout(function(){
                    $('#box-share,#screen').show();
                    //$('#social-popup-mail').attr("href", "mailto:?subject=" + mail_subject + "&body=" + mail_body);
                    $('#close').click(function(){
                        $('#box-share,#screen').hide();
                    })
                }, 100);
                return false;
            }

            db_functions.getCycleShoppingCart(cycle_id, function ( err,data) {

                    $.each(data.objects, function (index, item) {
                        dust.render('discussion_information_item', item, function (err, out) {
                            $('.slide-c').append(out);
                        });
                    });

                    $('.slide-c')
                       .after('<div id="nav2">')
                       .cycle({
                           fx: 'turnDown',
                           speed: 'fast',
                           timeout: 0,
                           pager: '#nav2',
                           next: '#next',
                           prev: '#prev'
                       });
                    if (data.objects.length < 2) {
                        $("#prev").hide();
                        $("#next").hide();
                    }

            });

            db_functions.getCycleUpdates(cycle_id, function (err, data) {

                        $.each(data.objects, function (index, item) {
                            item.text_field_preview = item.text_field.trim().substring(0, 300).split(" ").slice(0, -1).join(" ") + "... ";
                        });
                        dust.renderArray('cycle_update', data.objects, function (err, out) {
                            $('.updates').append(out);

                        });
           });

            timeline.render(cycle_id, cycle_title, null);
            //timeline.addTabEvents(cycle_title);

            db_functions.getPendingActionsByCycle(cycle_id, 4, function ( data,err) {

                dust.renderArray('cycle_pending_action', data.objects, function (err, out) {
                    $('.anticipation-box').prepend(out);

                });
           });

           	var killScroll = false;
           	var followersPage=0;
           	getFollowers();

            function   getFollowers()
            {

                 db_functions.getCylceFollowers(cycle_id, followersPage,function ( data) {
                    followersPage++;
                   if(data.meta.total_count<14) {
                         killScroll = true;
                     }
                    dust.renderArray('cycle_follower', data.objects, function (err, out) {
                        $('#followers').append(out);

                    });
                });
            }
            	// Detect that we are at bottom of page, and call autoloading function
            $(window).scroll(function(){
                if  ($(window).scrollTop()+100 >= ($(document).height() - ($(window).height()))){
                    if (killScroll == false) { // - Keeps the loader from fetching more than once.
                        //killScroll = true; // - Set killScroll to true, to make sure we do not trigger this code again before it's done running.
                         getFollowers();
                    }
                }
            });
            $('#read_more').click(function () {
                $(".cycle-content").height("auto");
                 $(this).hide();
            });

            $('.hide-box').on('mouseenter', ".side_menu",
                    function (e) {
                        $(this).addClass('hover');
                        $('.left', this).show().css({width:0}).animate({'width':87});

                    }).on('mouseleave', ".side_menu", function (e) {
                        var side = $(this);
                        side.removeClass('hover');
                        $('.left', this).animate({'width':0}, function () {
                            $(this).hide();
                        });
             });

             db_functions.getCyclePosts(cycle_id, function (err,data) {
                   for (i = 0; i < data.objects.length; i++) {
                       data.objects[i].isFirst = (i === 0);
                       data.objects[i].isEven = ((i % 2)== 0);
                       data.objects[i].voting = data.objects[i].votes_for - data.objects[i].votes_against;
                       if(i == data.objects.length-1 || data.objects[i].discussion_id != data.objects[i+1].discussion_id )
                       {
                           data.objects[i].discussion_button=true;
                       }
                   }
                  dust.renderArray('cycle_post', data.objects, function (err, out) {
                      $('.hide-box').append(out);
                  });
             });

             $('.hide-box').on('click', '.vote_for', function () {
                     vote.apply($(this),['add']);
             });

             $('.hide-box').on('click', ".vote_against", function () {
                 vote.apply($(this),['remove']);
             });


        function vote(actionType){
            var post_id = $(this).parents('.one').data("id");
            var button = $(this);

            var user_info = {
                user_logged_in : user.first_name ? true : false,
                action_done : (user.actions_done_by_user && user.actions_done_by_user.vote_on_object) ? true : false,
                action_name : "vote_on_object",
                tokens_owned : user.tokens ? user.tokens : 0
            }
            db_functions.voteForPost(post_id, actionType, user_info, function (err, post_obj) {
                if (!err) {
                    if(!user.actions_done_by_user.vote_on_object)
                    {
                        user.actions_done_by_user.vote_on_object = true;
                    }
                       button.parents(".ratio").find(".count").text(Math.round(post_obj.votes_for-post_obj.votes_against ));
                       var down_arrow = button.parents(".ratio").find(".down");
                       var up_arrow =button.parents(".ratio").find(".up");
                       down_arrow.removeClass("balance0").removeClass("balance1").removeClass("balance2").removeClass("balance3").removeClass("balance-1").removeClass("balance-2").removeClass("balance-3").addClass("balance"+post_obj.voter_balance);
                       up_arrow.removeClass("balance0").removeClass("balance1").removeClass("balance2").removeClass("balance3").removeClass("balance-1").removeClass("balance-2").removeClass("balance-3").addClass("balance"+post_obj.voter_balance);
                }
                else {
                    if (err.responseText == 'Error: there is not enought tokens')
                        popupProvider.showOkPopup( {message:     'אין לך מספיק אסימונים'});
                    if (err.responseText == 'user already voted for this post')
                        popupProvider.showOkPopup( {message:     'באפשרותך לתת עד שלושה אסימונים לתגובה בדיון'});
                    if (err.responseText == 'soory, can\'t vote to your own post')
                        popupProvider.showOkPopup( {message:     'מצטערים, לא ניתן להצביע לתגובה של עצמך'});
                }
            })
        }

        $('.followers-diagram .event .icon').live("hover", function(){
         //  console.log('elip');
            $(this).find('.popup-text').ellipsis();
        });
        $('.followers-diagram .event .green-icon .popup-event').live('click',function(){
            window.location.href = '/updates/'+$(this).attr('item-id');
        });

        $('.followers-diagram .event .blue-icon .popup-event').live('click',function(){
            window.location.href = '/actions/'+$(this).attr('item-id');
        });

        $('.infoBox').live('click',function(){
            var box = $(this)[0].getElementsByClassName('popup-event')[0];
            window.location.href = '/actions/' + box.getAttribute('item-id');
        });

        $('.holds_the_timeline').on("click",'.join-btn', function(e){
            e.preventDefault();
            var action_id = $(this).attr('item-id');
            db_functions.joinOrLeaveAction(action_id,function(err,data){
                if(err){
                    console.log(err) ;
                }
            })
        });



 /*       $('.join-btn').click(function(e){
            e.preventDefault();
            var action_id = $(this).attr('item-id');
            db_functions.joinOrLeaveAction(action_id,function(err,data){
                if(err){
                    console.log(err) ;
                }
                else{
                    setJoinBT(data);
                }
            })
        });
*/
        //click on the action blue icon goes to action
        $('.holds_the_timeline').on("click",'.blue-icon', function(e){
            e.preventDefault();
            var action_id = $(this).find(".type-one").attr("item-id");
            window.location.replace("/actions/" + action_id);
        });

        //click on the update green icon goes to action
        $('.holds_the_timeline').on("click",'.green-icon', function(e){
            e.preventDefault();
            var update_id = $(this).find(".type-one").attr("item-id");
            window.location.replace("/updates/" + update_id);
        });

        $('.followers-diagram').on("mouseenter", ".icon", function(e){
            e.preventDefault();
            var popup_event = $(this).children('.popup-event');
            popup_event.stop(true, true);
            popup_event.show();
        });

        $('.followers-diagram').on("mouseleave", ".icon", function(e){
            e.preventDefault();
            var popup_event = $(this).children('.popup-event');
            popup_event.fadeOut(2000);
        })

        //
        //.popup-event
        //$('.popup-text').live("hover", function(){
         //   alert("Goodbye!"); });
        // $('.popup-text').ellipsis();
        //.popup-event
    });

</script>
</body>
</html>
