<!DOCTYPE html>
<%
var error_message = error_message || '';
%>
<html>
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# <%= settings.facebook_app_name %>: http://ogp.me/ns/fb/<%= settings.facebook_app_name %>#">
    <meta property="fb:app_id" content="<%= settings.facebook_app_id %>" />
    <meta property="og:url"    content="<%= settings.root_path %>/daily_discussions/<%= discussion.id %>" />
    <meta name="title" content="<%=discussion.title%>" />
    <% include partials/head.ejs %>
</head>
<body>
<% include partials/body_top.ejs %>
<div id="wrap">
    <div id="header">
        <% include partials/menu.ejs %>
        <% include partials/user_box.ejs %>
        <% include partials/failures.ejs %>
        <% include partials/tag_search.ejs %>
    </div>
    <div id="content" class="cf">
        <div class="add-offer">
            <h2><span class="arrow">
<%=discussion.subject.name%>
            </span>
                <%=discussion.title%>
            </h2>

            <div class="text-box1 cf">
                <div class="">
                    <div id="discussion_image" style="width: 212px;height: 164px; overflow:hidden;" class='auto-scale floatRight'>
                        <img src="<%= discussion.image_field ? discussion.image_field.url ||'' : '' %>" title="<%= discussion.title %>"/>
                    </div>
                    <%- discussion.text_field %>
                </div>
            </div>

            <div class="add-offer-bottom cf">
                <div class="btn-box">

                    <a class="btn-grey share" rel="/daily_discussions/<%=discussion.id%>"
                       data-img_src="<%= discussion.image_field ? discussion.image_field.url ||'' : '' %>"
                       data-text_preview="<%=discussion.text_field_preview?discussion.text_field_preview:''%>"
                       data-title=" דיון יומי באתר עורו: <%=discussion.title%>"
                       data-name="<%=discussion.title%>"
                       href="/facebookShare?link=/daily_discussions/<%=discussion.id%>">
                        שתף
                    </a>


                </div>
                <div class="tags">
                    <% for (var c = 0; c
                    <discussion. tags.length
                    ; c++) { %>
                    <a href="?tag_name=<%=discussion.tags[c]%>"> <%=discussion. tags[c] %></a>
                    <% }%>


                </div>

            </div>
        </div>


        <% if (discussion.id=='50bf219dd673cc0200000032' || discussion.id=='50bf2f9238fe6d2471000022'  ) { %>
        <div id="debate_1_3156" style="margin-right: 100px"></div>

        <script>
            (function () {
                var opst = document.createElement('script');
                opst.type = 'text/javascript';
                opst.async = true;
                opst.src = 'http://www.opinionstage.com/debates/3156/embed.js';
                (document.getElementsByTagName('head')[0] ||
                        document.getElementsByTagName('body')[0]).appendChild(opst);
            }());
        </script>

        <% } %>
        <div class="">

                <div class="fb-comments"  data-href="http://www.uru.org.il/daily_discussions/<%= discussion.id %>"  data-num-posts="3" data-width="713" colorscheme="light" > </div>

        </div>



    </div>
</div>
<% if(discussion.system_message) { %>
<div class="system-notice">
    <div class="extra">
        <a class="close" href="javascript:void(0);"></a>

        <%- discussion.system_message %>

    </div>
</div>
<% } %>


</div>

<% if (discussion.id=='50bf219dd673cc0200000032' || discussion.id=='50bf2f9238fe6d2471000022'  ) { %>


<div id="CornerPromotionDiv" class="CornerPromotionDiv">
    <div class="header" >
        דיונים אחרים שעשויים לעניין אותך :
        <a class="closeCornerPromotion"  >
            סגור
        </a>
    </div>
    <div style="padding:10px">

        <div  style="width: 128px;height: 90px; overflow:hidden;" class='auto-scale floatRight'>
            <img src="http://uru.s3.amazonaws.com/cc-by-sa-alonuziel_395.jpg" title="" style="border:solid 1px #d8d7d5"/>
        </div>
        <div>
            <a class="cornerPromotionTitle1" href="/discussions/subject/<%= discussion.subject._id %>">
                לכל הדיונים בנושא
                <%= discussion.subject.name %>
            </a>
        </div>
    </div>
</div>


<% }else if(discussion.cycle) {%>


<div id="CornerPromotionDiv" class="CornerPromotionDiv">
    <div class="header" >
        מעגל תנופה שעשוי לעניין אותך:
        <a class="closeCornerPromotion"  >
            סגור
        </a>
    </div>
    <div style="padding:10px">

        <div  style="width: 128px;height: 90px; overflow:hidden;" class='auto-scale floatRight'>
            <img src="<%= discussion.cycle.image_field ? discussion.cycle.image_field.url ||'' : '' %>" title="" style="border:solid 1px #d8d7d5"/>
        </div>
        <div>
            <a class="cornerPromotionTitle" href="/cycles/<%= discussion.cycle._id %>">
                <%= discussion.cycle.title %>
            </a>
        </div>
    </div>
</div>

<% }else if(discussion.discussion){%>
<div id="CornerPromotionDiv" class="CornerPromotionDiv">
    <div class="header" >
        דיון שעשוי לעניין אותך:
        <a class="closeCornerPromotion"  >
            סגור
        </a>
    </div>
    <div style="padding:10px">

        <div  style="width: 128px;height: 90px; overflow:hidden;" class='auto-scale floatRight'>
            <img src="<%= discussion.discussion.image_field ? discussion.discussion.image_field.url ||'' : '' %>" title="" style="border:solid 1px #d8d7d5"/>
        </div>
        <div>
            <a class="cornerPromotionTitle" href="/discussions/<%= discussion.discussion._id %>">
                <%= discussion.discussion.title %>
            </a>
        </div>
    </div>
</div>

<% }%>
<% include partials/footer.ejs %>
<script type="text/javascript">
var current_section = 1;

$(document).ready(function () {



    var discussion_id = "<%=discussion.id%>";
    var creator_id = "<%=discussion.creator_id%>";


   /*
    var h=  $(".hidden_textarea").get(0).scrollHeight;
    $(".discussion_content").height(h);
     */

    $('.system-notice .close').click(function () {

        $(this).parents('.system-notice').fadeOut(800);
    });





     var closed = false;
    $('.closeCornerPromotion').click(function() {  // OR  $(window).scroll(function() {
        $('#CornerPromotionDiv').stop().animate({'right' : -300},250,null);
        closed=true;
        return false;
    });

    $(document).scroll(function() {
        if(closed) return;
        $('#CornerPromotionDiv').stop().animate({'right' : 0},250,function (){
        });
    });

});




</script>
</body>
</html>
