<!DOCTYPE html>

<html>
<head>
    <%- partial('partials/head.ejs') %>
</head>
<body>
<div id="wrap">
    <div id="header">
        <%-partial('partials/menu.ejs')%>
        <%-partial('partials/user_box.ejs')%>
        <%-partial('partials/failures.ejs')%>

        <%- partial('partials/tag_search.ejs') %>
    </div>
    <div id="content" class="cf">
        <div class="add-offer">
            <h2><span class="arrow">
נושא הדיון
            </span>
                חייבים להציל את הקיפודים
            </h2>
            <div class="text-box cf">
                <img class="floatRight" src="/images/sample-2.jpg" alt="" />
                <p>
                    באזורי הפריפריה של ישראל, בצפון הארץ ובדרומה, מסתובבים אלפי קיפודים
                    <span class="edit-text"><span class="popup-window"><span class="arrow"></span><a class="close" href=""></a><a class="green-btn" href="">בגה</a><a class="grey-btn" href="">
                        הצע הצעה לשינוי
                    </a></span>
חסרי בית. הגורם העיקרי שאשם במצבם הוא קבלני העפר והבניין, שהרסו
את אזורי המחיה הטבעיים של הקיפודים בעקבות תנופת הפיתוח והבנייה

של השנים האחרונות.

                    </span> <br />
                    הקיפודים הם חלק בלתי נפרד מהנוף של ישראל וקיומם חשוב למגוון הביולוגי
                    ולחקלאות. לכן על מדינת ישראל אל ליבה את קיפודיה, להגן עליהם ועל מרחב
                    המחיה שלהם ולשקם את אוכלוסיות הקיפודים שנפגעו.

                </p>
                <p><a href="">
                    קרא עוד
                </a></p>
            </div>
            <div class="add-offer-bottom cf">
                <div class="btn-box">
                    <a class="btn-green" href="">
                        הגב
                    </a>
                    <a class="btn-grey" href="">
                        שתף
                    </a>
                    <div class="btns-grey">
                        <a href="">
                            הצעה לשינוי
                        </a>
                        <a href="">
                            היסטוריה
                        </a>
                    </div>
                </div>
                <div class="tags">
                    <a href="">
                        אבטלה
                    </a>
                    <a href="">
                        כלכלה
                    </a>
                    <a href="">
                        עוני
                    </a>
                    <div class="more">
                        <span></span>
                        <ul>
                            <li><a href="">
                                הצג עוד תגיות
                            </a></li>
                            <li><a href="">
                                הוסף תגית
                            </a></li>
                        </ul>
                    </div>
                </div>
                <div class="slide-box">
                    <div class="summary">
                        <input type="text" id="amount" value="6.20" />
                        <span>
                            123 מדרגים
                        </span>
                    </div>
                    <div class="slider">
                    </div>
                    <div class="slider-numbers">
                        <span>1</span>
                        <span>2</span>
                        <span>3</span>
                        <span>4</span>
                        <span>5</span>
                        <span>6</span>
                        <span>7</span>
                        <span>8</span>
                        <span>9</span>
                        <span>10</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-left">
            <h3><span>
עגלת המידע
            </span></h3>
            <div class="diagram-box cf">
                <img src="/images/diagram-three.png" alt="" />
                <div class="percent">
                    <span>43%</span>
                    יצביעו
                </div>
                <div class="percent">
                    <span>57%</span>
                    לא יודעים
                </div>
            </div>
            <div class="comment-slide">
                <a href="" id="prev" ></a>
                <a href="" id="next" ></a>
                <div class="slide-c">
                    <div class="one">
                        של הלשכה שפורסם השבוע התגלו נתונים בדו”ח  בדו”ח של הלשכה המרכזית לסטטיסטיקה
                    </div>
                    <div class="one">
                        של הלשכה שפורסם השבוע התגלו נתונים בדו”ח
                    </div>
                </div>
            </div>
        </div>
        <div class="write-comment">
            <h3>
                הצעה לשינוי
            </h3>
            <div class="text-box cf">
                <div class="left">
                    <p><strong>
                        :רובין כתב
                    </strong>היינבהו חותיפה תפונת תובקעב םידופיקה לש םייעבטה היחמה ירוזא תא וסרהש ,ןיינבהו רפעה ינלבק אוה םבצמב םשאש ירקיעה םרוגה <br /> .תונורחאה םינשה לש</p>
                    <label>
                        ההצעה לשינוי שלי:
                    </label>
                    <textarea class="five-col" cols="0" rows="0"></textarea>
                    <label>
                        טיעונים, הצדקות ונימוקים:
                    </label>
                    <textarea class="two-col" cols="0" rows="0"></textarea>
                </div>
                <div class="user-right">
                    <div class="img-box">
                        <img width="60" src="/images/user-1.jpg" alt="" />
                        <span></span>
                    </div>
                    <h4>אני</h4>
                    <div class="date">13.3.12</div>
                    <div class="proxy">
                        <span>3</span>
                    </div>
                    <div class="respect">
                        <span>20</span>
                    </div>
                </div>
            </div>
            <a class="grey-btn" href=""><span>
מתחרט
            </span></a>
            <a class="green-btn" href="">
                הצע
            </a>
        </div>
    </div>
</div>
<div class="system-notice">
    <div class="extra">
        <a class="close" href=""></a>
        <strong>
            הודעת מערכת:
        </strong>
        דיון זה מתעתד להיות מעגל תנופה. שתפו, הגיבו וגרמו לזה לקרות
    </div>
</div>
<div class="comments-box">
    <div class="extra cf">
        <select class="left-select">
            <option>
                מיין לפי תאריך
            </option>
            <option>
                מיין לפי יוזר
            </option>
            <option>
                מיין לפי תוצאות
            </option>
        </select>
        <h2>
            תגובות
            <small>(4)</small></h2>
        <div class="comment-one noBorder">
            <div class="user-right">
                <span class="arrow"></span>
                <div class="left">
                    <a href="">
                        תן מנדט
                    </a>
                    <a href="">
                        עקוב
                    </a>
                    <a href="">
                        שלח הודעה
                    </a>
                </div>
                <div class="right">
                    <div class="img-box transparent-img">
                        <img width="60" alt="" src="/images/user-1.jpg">
                        <span></span>
                    </div>
                    <h4>
                        בועז ראשמור
                    </h4>
                    <div class="date">13.3.12</div>
                    <div class="proxy">
                        <span>3</span>
                    </div>
                    <div class="respect">
                        <span>20</span>
                    </div>
                </div>
            </div>
            <div class="text">
                <p>.הירפירפה יבשות ןובשח לע אובל םיכירצ אל םידופיק .איהש הממ רתוי תויהל ךופהת הירפירפהו ,ץראה זכרמב קר ונבי םה םינלבקה לע השקנ םא
                    http://www,youtube.com/watch?tv=rs_9w7ZMG6Y</p>
                <div class="status">
                    <div class="yes">
                        <div class="green">
                            מסכים(2)
                        </div>
                        <div class="number">9</div>
                    </div>
                    <div class="no">
                        <div class="red">
                            לא מסכים
                        </div>
                        <div class="number">14</div>
                    </div>
                </div>
            </div>
            <div class="like-btn"><img src="/images/like-btn.png" alt="" /></div>
            <div class="nav-btns">
                <a href="">
                    צטט
                </a>
                <a href="">
                    שתף
                </a>
            </div>
        </div>
        <div class="comment-one">
            <div class="user-right">
                <span class="arrow"></span>
                <div class="left">
                    <a href="">
                        תן מנדט
                    </a>
                    <a href="">
                        עקוב
                    </a>
                    <a href="">
                        שלח הודעה
                    </a>
                </div>
                <div class="right">
                    <div class="img-box">
                        <img width="60" alt="" src="/images/user-1.jpg">
                        <span></span>
                    </div>
                    <h4>
                        רומשאר זעוב
                    </h4>
                    <div class="date">13.3.12</div>
                    <div class="proxy">
                        <span>3</span>
                    </div>
                    <div class="respect">
                        <span>20</span>
                    </div>
                </div>
            </div>
            <div class="text">
                <p>.<a href="">הירפירפה יבשות</a> ןובשח לע אובל םיכירצ אל םידופיק .איהש הממ רתוי תויהל ךופהת הירפירפהו ,ץראה זכרמב קר ונבי םה םינלבקה לע השקנ םא
                    http://www,youtube.com/watch?tv=rs_9w7ZMG6Y</p>
                <div class="date">13:00 ,13.3.12-ב הכרענ הבוגתה</div>
                <div class="status">
                    <div class="yes">
                        <div class="green">םיכסמ(2)</div>
                        <div class="number">9</div>
                    </div>
                    <div class="no">
                        <div class="red">םיכסמ אל</div>
                        <div class="number">14</div>
                    </div>
                </div>
            </div>
            <div class="like-btn"><img src="/images/like-btn.png" alt="" /></div>
            <div class="nav-btns">
                <a href="">טטצ</a>
                <a href="">ףתש</a>
            </div>
        </div>
        <div class="write-comment">
            <h3>
                כתיבת תגובה
            </h3>
            <div class="text-box cf">
                <div class="left">
                    <textarea class="four-col" cols="0" rows="0"></textarea>
                </div>
                <div class="user-right">
                    <div class="img-box">
                        <img width="60" src="/images/user-1.jpg" alt="" />
                        <span></span>
                    </div>
                    <h4>אני</h4>
                    <div class="date">13.3.12</div>
                    <div class="proxy">
                        <span>3</span>
                    </div>
                    <div class="respect">
                        <span>20</span>
                    </div>
                </div>
            </div>
            <a class="green-btn" href="">עצה</a>
        </div>
    </div>
</div>
<%- partial('partials/footer.ejs') %>
<script type="text/javascript">
    $(document).ready(function () {

        $(".inline").colorbox({ inline: true, width: "730" });

        $('.slide-c')
                .after('<div id="nav2">')
                .cycle({
                    fx: 'turnDown',
                    speed: 'fast',
                    timeout: 0,
                    pager: '#nav2',
                    next: '#next',
                    prev: '#prev'
                });

        $(".slider").slider({
            value: 5.0,
            min: 0,
            max: 10,
            step: 0.10,
            slide: function (event, ui) {
                $("#amount").val(ui.value);
            }
        });
        $("#amount").val($(".slider").slider("value"));
        $('.comments-box .comment-one .user-right').hover(function () {
            $(this).toggleClass('hover');
        });
    });
</script>
</body>
</html>
