<!DOCTYPE html>
<%
var error_message = error_message || '';
%>
<html>
<head>
    <%- partial('partials/head.ejs') %>
    <script src="/resources/js/jquery-fieldselection.js" type="text/javascript"></script>
</head>
<body>
<%- partial('partials/body_top.ejs') %>
<div id="wrap">
    <div id="header">
        <%-partial('partials/menu.ejs')%>
        <%-partial('partials/user_box.ejs')%>
        <%-partial('partials/failures.ejs')%>
        <%-partial('partials/tag_search.ejs') %>
    </div>
    <div id="content" class="cf">
        <div class="add-offer">
            <h2><span class="arrow">
<%=discussion.subject_name%>
            </span>
                <%=discussion.title%>
            </h2>

            <div class="text-box cf">
                <div style="width: 212px;height: 164px" class='auto-scale floatRight'>
                    <img src="<%= discussion.image_field ? discussion.image_field.url ||'' : '' %>" alt=""/>
                </div>
                <div class="discussion_content discussion content">
                    <textarea id="discussion_content" class="hidden_textarea"><%=discussion.text_field%></textarea>
                </div>


                <p id="read_more" style="display:none;">
                    <a href="javascript:void(0);">
                        קרא עוד
                    </a>
                </p>

            </div>
            <div class="add-offer-bottom cf">
                <div class="btn-box">
                    <a class="btn-green" id="discussion_comment_reply_button" href="javascript:void(0);">
                        הגב
                    </a>

                    <a class="btn-grey share" rel="/discussions/<%=discussion.id%>" data-name="<%=discussion.text_field_preview%>" href="/facebookShare?link=/discussions/<%=discussion.id%>">
                        שתף
                    </a>

                    <div class="btns-grey">
                        <a class="gray_and_soon" href="">
                            הצעה לשינוי
                        </a>
                        <a class="gray_and_soon" href="">
                            היסטוריה
                        </a>
                    </div>
                </div>
                <div class="tags">
                    <% for (var c = 0; c
                    <discussion. tags.length
                    ; c++) { %>
                    <a href="javascript:void(0);"> <%=discussion. tags[c] %></a>
                    <% }%>

                    <div class="more">
                        <span></span>
                        <ul>
                            <li><a href="">
                                הצג עוד תגיות
                            </a></li>
                            <li><a href="">
                                הוסף תגית
                            </a></li>
                        </ul>
                    </div>
                </div>
                <div class="slide-box">
                    <div class="summary">
                        <input type="text" id="amount" value="<%= Math.round(discussion.grade*100)/100 %>"/>
                        <span> <div class="inlinediv" id="graders"><%= Math.round(discussion.evaluate_counter) %>
                        </div> מדרגים</span>
                    </div>
                    <div class="slider">
                    </div>
                    <div class="slider-numbers">
                        <span>1</span>
                        <span>2</span>
                        <span>3</span>
                        <span>4</span>
                        <span>5</span>
                        <span>6</span>
                        <span>7</span>
                        <span>8</span>
                        <span>9</span>
                        <span>10</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-left">
            <h3><span>
סל מידע
            </span></h3>

            <div class="comment-slide">
                <a href="" id="prev"></a>
                <a href="" id="next"></a>

                <div class="slide-c">
                </div>
            </div>
        </div>
        <div id='write-comment' class="write-comment" style="display: none;">
            <h3>
                הצעה לשינוי
            </h3>

            <div class="text-box cf">
                <div class="left">
                    <p id='discussion_content_txt'><strong>:רובין כתב</strong>

                    </p>
                    <label>
                        ההצעה לשינוי שלי:
                    </label>
                    <textarea id='discussion_suggest' class="five-col" cols="0" rows="0"></textarea>
                    <label>
                        טיעונים, הצדקות ונימוקים:
                    </label>
                    <textarea id="discussion_explanation" class="two-col" cols="0" rows="0"></textarea>
                </div>
                <div class="user-right">
                    <div class="img-box" style="overflow: hidden;">
                        <div style="width:70px; height:70px;" class='auto-scale'>
                            <% if(user_logged) { %>
                            <img src="<%=avatar%>" alt="אני"/>
                            <% } %>
                        </div>
                        <span></span>
                    </div>
                    <h4>אני</h4>

                    <div class="date"><%=(new Date()).format('dd.mm.yy') %></div>
                    <% if(user_logged){ %>
                    <div class="proxy">
                        <span>3</span>
                    </div>
                    <div class="respect">
                        <span>20</span>
                    </div>
                    <% } %>
                </div>
            </div>
            <a class="grey-btn" id="cancelWriteCommentBT" href="javascript:void(0);"><span>
מתחרט
            </span></a>
            <a id="send_suggestion" class="green-btn" href="javascript:void(0);">
                הצע
            </a>
        </div>
        <div class="deals-box">
            <h2>הצעות לשינוי
                <small id="suggestion_number"></small>
            </h2>
            <div id="suggestion_list"></div>
            <div class="more-deals">
                <a href="">עוד הצעות</a>
            </div>
        </div>
    </div>
</div>
<% if(discussion.system_message) { %>
<div class="system-notice">
    <div class="extra">
        <a class="close" href="javascript:void(0);"></a>

        <%- discussion.system_message %>

    </div>
</div>
<% } %>


<div class="comments-box">
    <div class="extra cf">

        <select class="left-select" id="sorting_select">
            <option value="-creation_date">
                תאריך
            </option>
            <!-- <option id="first_name">
                מיין לפי יוזר
            </option>-->
            <option value="-total_votes">
                שנויים במחלוקת
            </option>
            <option value="-popularity">
                פוסטים הכי טובים
            </option>
        </select>

        <h2>
            תגובות
            <small id="comments_number"></small>
        </h2>
        <div id="comments">

        </div>
        <div class="write-comment">
            <h3>
                כתיבת תגובה
            </h3>

            <div class="text-box cf"
            <%if(user_logged){%> data-creator_id="<%=user._id%>" <%}%> >
            <div class="left">
                <textarea id="discussion_comment" class="four-col" cols="0" rows="0"></textarea>
            </div>
            <div class="user-right">
                <div class="img-box" style="overflow: hidden;">
                    <div style="width:70px; height:70px;" class='auto-scale'>
                        <% if(user_logged) { %>
                        <img src="<%=avatar%>" alt="אני"/>
                        <% } %>
                    </div>
                    <span></span>
                </div>
                <h4>אני</h4>

                <div class="date"><%=(new Date()).format('dd.mm.yy') %></div>
                <% if(user_logged){ %>
                <div class="proxy">
                    <span>3</span>
                </div>
                <div class="respect">
                    <span class="score"><%=user.score%></span>
                </div>
                <% } %>
            </div>
        </div>
        <a id="submit_post" class="green-btn" href="javascript:void(0);">
פרסם
        </a>
    </div>
</div>
</div>
<!--<div class="add-offer">
<div class="text-box">
<span class="edit-text">-->
     <span class="popup-window">
         <span class="arrow"></span>
         <a class="close" href="javascript:void(0);"></a>
        	 <a id="pop_post_bt" class="green-btn" href="javascript:void(0);">הגב</a>
             <a id="pop_suggest_bt" class="grey-btn suggest" href="javascript:void(0);">
                 הצע הצעה לשינוי
             </a>
     </span>

<form id="proxy_form" style="display:none;">
    <fieldset>
        <label for="give_tokens">Tokens</label>
        <select id="give_tokens" name="tokens" dir="ltr">
            <option>-3</option>
            <option>-2</option>
            <option>-1</option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
        </select>
    </fieldset>
</form>
<!--</span>
</div>
</div>
-->


<%- partial('partials/footer.ejs') %>
<script type="text/javascript">
var current_section=1;

$(document).ready(function () {

    var my_id = "<%=user_logged ? user._id : ''%>";
    var discussion_id = "<%=discussion.id%>";
    var creator_id = "<%=discussion.creator_id%>";
    var mouseDown, mouseUp, top, left;
    var grade_id = "<%= discussion.grade_obj ? discussion.grade_obj.grade_id : 0 %>";
    var sugg_grade_id;
    var new_post_ref_id = null;  //if not null =>the create new post is connected to anther post
    var my_discussion_grade = Number("<%= discussion.grade_obj ? discussion.grade_obj.value || 0 : 0 %>");
    var discussion_grade = Number("<%= discussion.grade%>");

    var postsNumber = 0;
    var is_creator= (my_id==creator_id);

    var vision = $('#discussion_content').text();

    var onGiveProxy;


    $( "#proxy_form" ).dialog({
        autoOpen: false,
        height: 300,
        width: 350,
        modal: true,
        buttons: {
            "תן/קח אסימונים": function() {

                var self = this;

                $( self ).dialog( "disable" );
                var bValid = true;
                if(onGiveProxy) {

                    onGiveProxy(Number($('#give_tokens',this).val()),function() {
                        $( self ).dialog( "close" );
                    });
                }
            },
            'בטל': function() {
                $( this ).dialog( "close" );
            }
        },
        open:function(){
            $(this).dialog('enable');
        }
    });


    $("#discussion_content").val($("#discussion_content").text());
    $(".slider").slider({
        disabled: is_creator ,
        value:my_discussion_grade,
        range:"min",
        min:0,
        max:10,
        step:0.10,
        change:function (event, ui) {

            my_discussion_grade = ui.value;
            db_functions.addDiscussionGrade(discussion_id, my_discussion_grade, grade_id, function (err, data) {

                if (!err) {
                    $("#amount").val(Math.round(data.new_grade * 100) / 100);
                    $("#graders").text(Math.round(data.evaluate_counter));
                    $(".dark_bar").css('width', (my_discussion_grade * 10) + '%');
                    grade_id = data.grade_id;
                }
                else
                    console.log(err);
            });
        }
    });

    $(".inline").colorbox({ inline:true, width:"730" });


    /***************************************************/


    function setUserScore(userID, score) {
        $('[ data-creator_id=' + userID + ']').find('.score').empty().append(score);
    }

    function setCommentNumber(number) {

        $('#comments_number')[0].innerHTML = '(' + number + ')';
    }

    db_functions.getDiscussionShoppingCart(discussion_id, function (err, data) {

        $.each(data.objects, function (index, item) {
            dust.render('discussion_information_item', item, function (err, out) {
                $('.slide-c').append(out);
            });


        });

        $('.slide-c')
                .after('<div id="nav2">')
                .cycle({
                    fx:'scrollHorz',
                    speed:'fast',
                    timeout:0,
                    pager:'#nav2',
                    next:'#prev',
                    prev:'#next'
                });

        if(data.objects.length < 2){
            $("#prev").hide();
            $("#next").hide();
        }

    });

    $('.discussion_content').on('mousedown', function (e) {
        mouseDown = e;
        console.log(e);
    })
            .on('mouseup',
            function (e) {
                mouseUp = e;

                left = Math.ceil((mouseDown.clientX + mouseUp.clientX) / 2 - ($(".popup-window").width() / 2));
                top = Math.min(mouseDown.clientY, mouseUp.clientY) - $(".popup-window").height() - 40 + $(window).scrollTop();
                console.log(e);

            }).on('keydown',
            function (e) {
                console.log(e.keyCode == 27);
                if (!(e.shiftKey && (e.keyCode <= 40 && e.keyCode >= 37) || (e.ctrlKey && e.keyCode == 65))) e.preventDefault();
            }).on('dragstart', function (e) {
                e.preventDefault();
            });

    $('.popup-window .close').on('click', function () {
        $('.popup-window').hide();
    });

    $('.popup-window').on('focus', function (e) {
        e.preventDefault();
    });

    $("#discussion_content").select(function () {
        range = $(this).getSelection();
        $(".popup-window")
                .css({ top:top + 20, left:left, opacity:0 })
                .show()
                .animate({ top:'-=20px', opacity:1 }, 100, 'linear');

        console.log(range);
    });


    $('#pop_suggest_bt').on("click", function (e) {
        e.preventDefault();
        $('#discussion_content_txt').text('"' + range.text + '"');
        $('#write-comment').show();
        $('textarea#discussion_suggest').focus();
        $(".popup-window").hide();
    });


    $('#comments').on('click', '#add_or_remove_proxy', function () {
//        $( "#proxy_form" ).dialog( "open" );
//        var self = this;
//        var proxy_id = $(this).parents('.comment-one').data("creator_id");
//        var given_mandates = $(this).parents('.comment-one').data("num-given-mandates");
//
//        onGiveProxy = function(tokens,callback) {
//            console.log(tokens);
//
//            if(given_mandates + tokens > 3 || given_mandates + tokens < -3){
//                alert("can't give more then 3 tokens to a user" || "can't take more tokens then u gave a user");
//                setTimeout(callback,1000);
//            }else{
//                db_functions.addOrRemoveProxyMandate(my_id, proxy_id, tokens, function(err, data){
//
//                    if(err){
//                        alert(err.responseText);
//                        callback(err);
//                    }
//                    else{
////                    $(self).parents('.comment-one').data("num-given-mandates", $(self).parents('.comment-one').data("num-given-mandates") + tokens);
////                    $(self).parents('.comment-one').find(".proxy.num").value =  $(self).parents('.comment-one').find(".proxy.num").value + tokens;
//                        if(tokens < 0)
//                            alert("האסימונים ילקחו בקרוב");
//                        callback(err, data);
//                    }
//                })
//
//            }
//
//        };

    });

    $('#comments').on('click', '.vote_for', function () {
        var post_id = $(this).parents('.comment-one').data("id");
        var button = $(this);
        var func = $(this).parents('#comments').length ? db_functions.voteForPost : db_functions.voteForSuggestion;
        func.call(db_functions, post_id, "add", function (err, post_obj) {
            if (!err) {

//                var votes_for = button.parent('div').find('.number');
                var votes_for = button.parents(".status").find(".yes").find(".number");
                var votes_against = button.parents(".status").find(".no").find(".number");

                votes_for.text(Math.round(post_obj.votes_for));
                votes_against.text(Math.round(post_obj.votes_against));
            }
            else {
                if (err.responseText == 'Error: there is not enought tokens')
                    alert('not enough tokens');
                if (err.responseText == 'user already voted for this post')
                    alert('already voted');
                if (err.responseText == 'soory, can\'t vote to your own post')
                    alert('soory, can\'t vote to your own post');
            }
        })
    });

    $('#comments').on('click', ".vote_against", function () {
        var post_id = $(this).parents('.comment-one').data("id");
        var button = $(this);
        var func = $(this).parents('#comments').length ? db_functions.voteForPost : db_functions.voteForSuggestion;
        func.call(db_functions, post_id, "remove", function (err, post_obj) {
            if (!err) {
                var votes_for = button.parents(".status").find(".yes").find(".number");
                var votes_against = button.parents(".status").find(".no").find(".number");

                votes_for.text(Math.round(post_obj.votes_for));
                votes_against.text(Math.round(post_obj.votes_against));
            }
            else {
                if (err.responseText == 'Error: there is not enought tokens')
                    alert('not enough tokens');
                if (err.responseText == 'user already voted for this post')
                    alert('already voted');
                if (err.responseText == 'soory, can\'t vote to your own post')
                    alert('soory, can\'t vote to your own post');

            }

        })
    });

    /*      $('.comments-box .comment-one .user-right').hover(function () {
     $(this).toggleClass('hover');
     });*/

    $('#comments,#suggestion_list').on('mouseenter', ".side_menu",
            function (e) {
                $(this).addClass('hover');
                $('.left', this).show().css({width:0}).animate({'width':87});

            }).on('mouseleave', ".side_menu", function (e) {
                var side = $(this);
                side.removeClass('hover');
                $('.left', this).animate({'width':0}, function () {
                    $(this).hide();
                });
            });

    // copy the post text+ user to   discussion_comment
    $('#comments').on('click', ".quote_button", function (e) {
        var userName,
                text;

        var postDiv = $(this).parents('.comment-one');
        e.preventDefault();
        $("textarea#discussion_comment").focus();
        userName = postDiv.data('creator_name');
        new_post_ref_id = postDiv.data('id');
        text = "[quote=" + '"' + userName + '"' + " " + "]\n"
                + $('.post_text', postDiv).text()
                + '\n'
                + "[/quote]"
                + '\n';

        $("textarea#discussion_comment").val(text).focus();
    });

    $('#comments').on('click', ".post_quote a", function (e) {

        var post_id = $(this).parents(".comment-one").data("id");
        var ref_to_post_id = $(this).parents(".comment-one").data("ref-id");
//        var link = window.location.href;
//
//        //remove hash if exist
//        if(window.location.hash){
//            link = link.slice(0, link.indexOf("#"));
//        }
//        var post_ref_id;
//        link = link + "#post_id" + post_ref_id;

        scrollTo("#post_" + ref_to_post_id);
    })

    $('#suggestion_list').on('click', ".grey-btn", function (e) {
//        var userName,
//                text;
//        var postDiv = $(this).parents('.one');
//        e.preventDefault();
//        $("textarea#discussion_comment").focus();
//        userName = postDiv.data('creator_name');
//        new_post_ref_id = postDiv.data('id');
//        text = $('.text-left p:last-child', postDiv).text();
//        text = userName + ' אמר:"' + text + '"\n';
//        text = text + " ";
//        $("textarea#discussion_comment").val(text).focus();
//
//


        var userName,
                text;

        var postDiv = $(this).parents('.one');
        e.preventDefault();
        $("textarea#discussion_comment").focus();
        userName = postDiv.data('creator_name');
        new_post_ref_id = postDiv.data('id');

       var change_text = $('.change_text', postDiv).text();
       var explanation = $('.explanation', postDiv).text();


       if($('.explanation', postDiv).text().trim() == "נימוק:"){

           text = "[quote=" + '"' + userName + '"' + " " + "]\n"
                   + change_text
                   + '\n'
                   + "[/quote]"
                   + '\n';
       }else{
           text = "[quote=" + '"' + userName + '"' + " " + "]\n"
                   + change_text
                   + '\n'
                   + explanation
                   + '\n'
                   + "[/quote]"
                   + '\n';
       }
        $("textarea#discussion_comment").val(text).focus();
    });

    $('#comments,#suggestion_list').on('click', ".follow_user", function (e) {
        var creator_id = $(this).parents('.comment-one,.one').data("creator_id");
        var self = this;

        db_functions.joinOrLeaveUserFollowers(creator_id, function (err, user) {
            if (user.is_follower)
                $(self).text("עקוב");
            else
                $(self).text("עזוב");


        });
    });

    // focus and copy the selected text of discussion
    $('#pop_post_bt').on("click", function (e) {
        e.preventDefault();
        new_post_ref_id = null;
        $(".popup-window").hide();
        $("textarea#discussion_comment").val('"' + range.text + '"').focus();

    });

    // just focus
    $("#discussion_comment_reply_button").on('click', function (e) {
        e.preventDefault();
        var discussionComment = $("textarea#discussion_comment").focus();
    });

    var suggest_grade_id = new Object();

    function render_suggestion(suggestion) {
        if (suggestion.parts && suggestion.parts.length) {
            var original = $('#discussion_content').val();
            suggestion.original_part = function () {
                var from = suggestion.parts[0].start;
                var end = suggestion.parts[0].end;
                return original.substr(from, end - from);
            };
            suggestion.alternative_part = function () {
                return suggestion.parts[0].text;
            };

            dust.render('discussion_suggestion', suggestion, function (err, out) {
                $('#suggestion_list').prepend(out);
                image_autoscale($('#suggestion_list .auto-scale img'));
                var suggestion_grade_val = suggestion.grade_obj ? suggestion.grade_obj.evalueation_grade : my_discussion_grade;
                suggest_grade_id[suggestion.id] = suggestion.grade_obj ? suggestion.grade_obj._id : null;
                $(".suggest_slider_" + suggestion.id).slider({
                    value:suggestion_grade_val,
                    range:"min",
                    min:0,
                    max:10,
                    step:0.10,
                    slide: function(event, ui){
                        var rating = ui.value;
                        var grade = is_creator ? discussion_grade : my_discussion_grade;
                        if(rating >= grade){
                            $(this).parents(".bottom-box").find(".agree_disagree").removeClass("disagree").addClass("agree")
                        }else{
                            $(this).parents(".bottom-box").find(".agree_disagree").removeClass("agree").addClass("disagree");

                        }
                    },
                    change:function (event, ui) {
                        var rating = ui.value;
                        db_functions.addSuggestionGrade(suggestion.id, discussion_id, rating, suggest_grade_id[suggestion.id], function (err, data) {
                            if (!err) {
                                $("#suggest_grade_" + suggestion.id).val(Math.round((data.new_grade * 100) / 100));
                                $("#suggest_graders_" + suggestion.id).text(Math.round(data.evaluate_counter));
                                $("#agrees_" + suggestion.id).text(Math.round(data.agrees));
                                $("#not_agrees_" + suggestion.id).text(Math.round(data.not_agrees));
                                $("#wanted_amount_of_tokens_" + suggestion.id).text(data.wanted_amount_of_tokens);
                                $("#curr_amount_of_tokens_" + suggestion.id).text(Math.round(data.curr_amount_of_tokens));
                                suggest_grade_id[suggestion.id] = data.grade_id;

                                //already_graded
                            }
                            else
                                console.log(err);
                        });
                    }
                });

                $(".suggest_slider_" + suggestion.id).prepend($("<div>").addClass("dark_bar").css('width', (my_discussion_grade * 10) + '%'));
            });
        }
        return null;

    }

    db_functions.getSuggestionByDiscussion(discussion_id, 1, 0, function (err, data) {
        $.each(data.objects, function (index, suggestion) {
            render_suggestion(suggestion);
        });

        $('#suggestion_number').text('(' + data.meta.total_count + ')');
        if (data.objects.length > 0) {
            $(".deals-box").show();
            if (data.meta.total_count >= 2) {
                $(".more-deals").show();
                $(".more-deals a").on('click', function (e) {

                    db_functions.getSuggestionByDiscussion(discussion_id, null, 1, function (err, data) {
                        $.each(data.objects, function (index, suggestion) {
                            render_suggestion(suggestion);
                        });
                    });
                    $(".more-deals").hide();
                    return false;
                });

            }

        }
        else {
            $(".deals-box").hide();
        }
    });


    function renderComments(comments) {
        var i;
        for (i = 0; i < comments.length; i++) {
            comments[i].isFirst = (i === 0);

        }
        dust.renderArray('discussion_comment', comments, null, function (err, out) {
            if (!err) {
                var comments = $("#comments");
                comments.empty();
                comments.append(out);
                var hash = window.location.hash;
                if(hash){
                    if(!scrollTo(hash)){
                        var match = /^#post_([0-9a-f]+)/.exec(hash);
                        if(match) {
                            var post_id = match[1];

                            db_functions.getPostById(post_id,function(err, post){
                                dust.render('discussion_comment', post, function (err, out) {
                                    if(!err)
                                        comments.append(out);
                                        scrollTo(hash);
                                });
                            });
                        }
                    }
                }

                image_autoscale($('.auto-scale img',comments));
            }
        });
    }

    function loadPosts() {
        var selectedOption = $("#sorting_select").val();
        db_functions.getSortedPostByDiscussion(discussion_id, selectedOption, function (err, data) {
            if (err) {
                console.log(err);
            } else {
                renderComments(data.objects);
                postsNumber = data.meta.total_count;
                setCommentNumber(postsNumber);
            }
        })
    }

    $('#sorting_select').change(loadPosts);

    loadPosts();

    $("#cancelWriteCommentBT").live("click", function () {
        $('#write-comment').hide();
    });

    $("#submit_post").on('click', function (e) {
        e.preventDefault();
        db_functions.addPostToDiscussion(discussion_id, $("textarea#discussion_comment").val(), new_post_ref_id, function (err, post) {
            // $("#user_tokens").text(post.updated_user_tokens);
            if (!err) {
                if (my_id)
                    setUserScore(my_id, post.creator_id.score);
                dust.render('discussion_comment', post, function (err, out) {
                    $("#comments").append(out);
                    $("textarea#discussion_comment").val('');
                    new_post_ref_id = null;
                    postsNumber++;
                    setCommentNumber(postsNumber);
                });
            }
        })
    });

    $('form').on('submit', function (e) {
        e.preventDefault();
    });


//            $('.sugg_rating_button').click(function(){
    $('#suggestion_list').on('click', '.sugg_rating_button', function () {
        var rating = Number($(this).parent().find($(".sugg_rating_select")).val());
        sugg_grade_id = $(this).parent().data('grade');

        var suggestion_id = $(this).parent().attr('id');
        var self = this;
        db_functions.addSuggestionGrade(suggestion_id, discussion_id, rating, sugg_grade_id, function (err, data) {
            if (!err) {
                db_functions.getSuggestionByDiscussion(discussion_id, function (err, data) {
                    $.each(data.objects, function (index, suggestion) {
                        render_suggestion(suggestion);
                    });
                })
            }
        });
    });

    $('#suggest_button').click(function () {
        $('#suggest_div').show();
    });

    $('#close_suggest').click(function () {
        $('#suggest_div').hide();
        $("textarea#discussion_suggest").val('');
    });


    $('#send_suggestion').click(function () {
        var part = {start:range.start, end:range.end, text:$("textarea#discussion_suggest").val()};
        //arrange spaces
        if(vision[part.end - 1] == " " && part.text[part.text.length - 1] != " ")

            part.text += " ";
        var explanation = $("#discussion_explanation").val();
        db_functions.addSuggestionToDiscussion(discussion_id, [part], explanation, function (err, data) {
            if (!err) {
                $('#write-comment').hide();
                /*
                 $("textarea#discussion_suggest").val('');
                 $("#user_tokens").text(data.updated_user_tokens);*/
                render_suggestion(data)
                $(".deals-box").show();
            }else{
                var err = err;
            }
        });


    });


    $('.system-notice .close').click(function () {

        $(this).parents('.system-notice').fadeOut(800);
    });


});
</script>
</body>
</html>
