<!DOCTYPE html>

<html>
<head>
    <%- partial('partials/head.ejs') %>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.tikunim-box h2').click(function () {
                $(this).parent().toggleClass('active');
            });
            $('.user-box h2').click(function () {
                $(this).parent().toggleClass('active');
            });
        });
    </script>
</head>
<body>
<div id="wrap">
    <div id="header">
        <%-partial('partials/menu.ejs')%>
        <%-partial('partials/user_box.ejs')%>
        <%-partial('partials/failures.ejs')%>
        <%- partial('partials/tag_search.ejs') %>

    </div>
    <div id="content" class="cf">
        <div class="services-box services-box-all cf">
            <div class="services-blue services-blue-two cf">
                <a class="service-1" href=""><span class="text">הלכלכ הרבחו</span><span class="icon"></span></a>
                <a class="service-2" href=""><span class="text"> היטרקומד לשממו</span><span class="icon"></span></a>
                <a class="service-3" href=""><span class="text">ךוניח</span><span class="icon"></span></a>
                <a class="service-4" href=""><span class="text">תויתשת םיתורשו םיירוביצ</span><span class="icon"></span></a>
                <a class="service-5" href=""><span class="text">הקוסעת</span><span class="icon"></span></a>
            </div>
            <div class="services-blue services-blue-three cf">
                <a class="service-6" href=""><span class="text"> היגרנא הביבסו</span><span class="icon"></span></a>
                <a class="service-7" href=""><span class="text">לטנב ןויוש</span><span class="icon"></span></a>
            </div>
            <div class="services-green">
                <span class="empty"></span>
                <a href="" class="service-10"><span class="text">עדימה תלגעל</span><span class="icon"></span></a>
            </div>
            <a class="green-btn" href="">שדח ןויד רוצ</a>
        </div>
        <select class="left-select">
            <option>ךיראת יפל ןיימ</option>
            <option>רזוי יפל ןיימ</option>
            <option>םינויד תומכ יפל ןיימ</option>
        </select>
        <h2>תכרעמב םינוידה לכ</h2>
        <div class="one-box cf">
            <div class="right">
                <img class="floatRight" src="images/sample-5.jpg" alt="" />
                <div class="text">
                    <h4>תנו לקיפודים לחיות באופן חופשי</h4>
                    <p>רפעה ינלבק אוה םבצמב םשאש ירקיעה םרוגה .תיב ירסח םידופיק יפלא םיבבותסמ לארשי לש הירפירפה ירוזאב :ריצקת
                        לארשי לש הירפירפה ירוזאב, היינבהו חותיפה תפונת תובקעב םידופיקה לש םייעבטה היחמה ירוזאתא וסרהש ,ןייבנהו
                        .רפעה ינלבק אוה םבצמב םשאש ירקיעה םרוגה .תיב ירסח םידופיק יפלא םיבבוסמ</p>
                </div>
                <div class="bottom cf">
                    <div class="ratio">
                        :יחכונ גוריד <span>6.20</span>
                    </div>
                    <div class="info">
                        <div class="first">
                            <strong>:החיתפ ךיראת</strong> 13.05.2011
                        </div>
                        <div>
                            <strong>:םיפתתשמ רפסמ</strong> 21
                        </div>
                    </div>
                </div>
            </div>
            <div class="left">
                <a href="">ףרטצה</a>
                <a href=""><span>ףתש</span></a>
            </div>
        </div>
        <div class="one-box cf">
            <div class="right">
                <img class="floatRight" src="images/sample-5.jpg" alt="" />
                <div class="text">
                    <h4>ישפוח ןפואב תויחל םידופיקל ונת</h4>
                    <p>רפעה ינלבק אוה םבצמב םשאש ירקיעה םרוגה .תיב ירסח םידופיק יפלא םיבבותסמ לארשי לש הירפירפה ירוזאב :ריצקת
                        לארשי לש הירפירפה ירוזאב, היינבהו חותיפה תפונת תובקעב םידופיקה לש םייעבטה היחמה ירוזאתא וסרהש ,ןייבנהו
                        .רפעה ינלבק אוה םבצמב םשאש ירקיעה םרוגה .תיב ירסח םידופיק יפלא םיבבוסמ</p>
                </div>
                <div class="bottom cf">
                    <div class="ratio">
                        :יחכונ גוריד <span>6.20</span>
                    </div>
                    <div class="info">
                        <div class="first">
                            <strong>:החיתפ ךיראת</strong> 13.05.2011
                        </div>
                        <div>
                            <strong>:םיפתתשמ רפסמ</strong> 21
                        </div>
                    </div>
                </div>
            </div>
            <div class="left">
                <a href="">ףרטצה</a>
                <a href=""><span>ףתש</span></a>
            </div>
        </div>
        <div class="one-box cf">
            <div class="right">
                <img class="floatRight" src="images/sample-5.jpg" alt="" />
                <div class="text">
                    <h4>ישפוח ןפואב תויחל םידופיקל ונת</h4>
                    <p>רפעה ינלבק אוה םבצמב םשאש ירקיעה םרוגה .תיב ירסח םידופיק יפלא םיבבותסמ לארשי לש הירפירפה ירוזאב :ריצקת
                        לארשי לש הירפירפה ירוזאב, היינבהו חותיפה תפונת תובקעב םידופיקה לש םייעבטה היחמה ירוזאתא וסרהש ,ןייבנהו
                        .רפעה ינלבק אוה םבצמב םשאש ירקיעה םרוגה .תיב ירסח םידופיק יפלא םיבבוסמ</p>
                </div>
                <div class="bottom cf">
                    <div class="ratio">
                        :יחכונ גוריד <span>6.20</span>
                    </div>
                    <div class="info">
                        <div class="first">
                            <strong>:החיתפ ךיראת</strong> 13.05.2011
                        </div>
                        <div>
                            <strong>:םיפתתשמ רפסמ</strong> 21
                        </div>
                    </div>
                </div>
            </div>
            <div class="left">
                <a href="">ףרטצה</a>
                <a href=""><span>ףתש</span></a>
            </div>
        </div>
        <div class="one-box cf">
            <div class="right">
                <img class="floatRight" src="images/sample-5.jpg" alt="" />
                <div class="text">
                    <h4>ישפוח ןפואב תויחל םידופיקל ונת</h4>
                    <p>רפעה ינלבק אוה םבצמב םשאש ירקיעה םרוגה .תיב ירסח םידופיק יפלא םיבבותסמ לארשי לש הירפירפה ירוזאב :ריצקת
                        לארשי לש הירפירפה ירוזאב, היינבהו חותיפה תפונת תובקעב םידופיקה לש םייעבטה היחמה ירוזאתא וסרהש ,ןייבנהו
                        .רפעה ינלבק אוה םבצמב םשאש ירקיעה םרוגה .תיב ירסח םידופיק יפלא םיבבוסמ</p>
                </div>
                <div class="bottom cf">
                    <div class="ratio">
                        :יחכונ גוריד <span>6.20</span>
                    </div>
                    <div class="info">
                        <div class="first">
                            <strong>:החיתפ ךיראת</strong> 13.05.2011
                        </div>
                        <div>
                            <strong>:םיפתתשמ רפסמ</strong> 21
                        </div>
                    </div>
                </div>
            </div>
            <div class="left">
                <a href="">ףרטצה</a>
                <a href=""><span>ףתש</span></a>
            </div>
        </div>
    </div>
</div>
<div id="footer">
    <div class="extra cf">
        <div class="one-col">
            <h4>ורוע תעונת</h4>
            <p>לש ולוקש ןמזה עיגהש הנבה ךותמ המקוה ורוע
                תויהל םיאכז ונלוכשו ,עמשיי לארשיב בוטה
                לש ולוקש ןמזה עיגהש הנבה ךותמ המקוה ורו
                ,עמשיי לארשיב בוטה .תוטלחהה תעביקב םיפתוש
                .תוטלחהה תעביקב םיפתושתויהל םיאכז ונלוכשו</p>
        </div>
        <div class="two-col">
            <h4>םירושיק</h4>
            <ul>
                <li><a href="">ונחנא ימ</a></li>
                <li><a href="">תושדח</a></li>
                <li><a href="">שומיש יאנת</a></li>
                <li><a href="">םיגולבש</a></li>
                <li><a href="">םיגולב</a></li>
                <li><a href="">הרזע</a></li>
            </ul>
        </div>
        <div class="three-col">
            <h4>תומח תויגת</h4>
            <div class="tags">
                <a href="">הלטבא</a>
                <a href="">הלכלכ</a>
                <a href="">ינוע</a>
                <a href="">תיתשת</a><br />
                <a href="">לשממו היטרקומד</a>
                <a href="">הלטבא</a>
                <a href="">הלכלכ</a>
                <a href="">ינוע</a>
                <div class="more">
                    <span></span>
                    <ul>
                        <li><a href="">תויגת דוע גצה</a></li>
                        <li><a href="">תיגת ףסוה</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
