<!DOCTYPE html>
<html>
<head>
    <title>פוליטיקלי קורקט</title>


    <meta property="og:type" content="website" />
    <meta property="og:title" content="פוליטיקלי קורקט: כל מה שצריך לדעת לפני ששמים את הפתק בקלפי" />
    <meta property="og:description" content="דרגו אמירות של מועמדים לכנסת, גלו באיזה צד אתם במפה הפוליטית ואת כל המידע על המועמד ומפלגתו" />

    <meta property="og:site_name" content="עורו" />
    <meta property="og:url" content="http://www.uru.org.il/elections_game" />



    <meta property="og:image"               content="http://www.uru.org.il/images/logo_game_200px---height.png" />
    <meta property="og:image:secure_url"    content="https://uru.herokuapp.com/images/logo_game_200px---height.png" />



    <meta property="fb:admins" content="1096517123,569038621,775273695"/>
    <meta property="fb:app_id" content="375874372423704"/>
    <!-- 375874372423704  175023072601087-->

    <% include partials/head_min.ejs %>
    <style>


    body{
        margin: 0;
        font-family:arial;
        background: #EDEDED url(/images/bg_top1.png) 0 0 repeat-x;

    }

    #wrapper{
        width:100%;
        padding:0;
        margin:auto;
    }

    #header_wrapper{
        width:940px;
        padding:0 20px;
        margin:auto;
        height:215px;
        background:url(/images/bg_top.png) top center no-repeat;
        z-index: 1;
        position:relative;
    }

    #header_top{
        width:100%;
        padding-top:10px;
        height:120px;
    }

    #header_bottom{
        width:100%;
        height:70px;

    }

    #logo_holder{
        width:150px;
        float:right;
        height:86px;
        padding-top:10px;
        text-align:right;
    }

    #title_holder{

        float:right;
        width:640px;
        height:120px;

        margin:auto;
        text-align:center;
        font-size: 60px;
        line-height: 30px;
        color: #4a4a4b;
        font-family: 'AdumaFOTHeavy';
    }
    #title_holder span{

        font-size: 16px;
    }

    #title_holder_inner{
        margin-top: 30px;
    }

    #logo_holder img,
    #title_holder img{
        vertical-align:middle;
    }

    #social_holder{
        float:right;
        width:150px;
    }

    #social_holder .social_item{
        margin:10px 0;
        text-align: left;
    }

    #participants_holder{
        width:810px;
        float:right;
    }

    #participants_total{
        font-size:23px;
        max-width:220px;
        float:right;
        color:#9b9a9a;
        line-height:70px;
    }

    #participants_thumbs{
        max-width:620px;
        float:right;
        border-left: 1px solid #d5d5d5;
        padding: 0px 15px;
        margin: 14px 0;
        padding: 10px 7px 10px 7px;
        margin: 4px 0;
    }

    .participant_thumb{
        float:right;
        height:32px;
        width:32px;
        background:url(/images/participant_thumb.png) 0 0 no-repeat;
        margin: 0 4px;
    }

    #login{
        position: relative;
        margin-top: -32px;
        float:left;
        width:130px;
    }

    #login input{
        border:0px;
        background:url(/images/sprite.png) -1px -119px no-repeat;
        margin:16px 0;
        width:118px;
        height:40px;
        float:left;
        cursor:pointer;
    }

    #content_wrapper{

        direction:rtl;
        margin-top: -14px;
        z-index: 0;
        float: right;
        width: 100%;
        background: url(/images/bg_content.jpg) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        min-height: 520px;
        position: relative;

    }
    #play_progress,
    #how_to_play{
        position:relative;
        margin:auto;
        width:670px;
        padding:15px 50px;
        font-size:16px;
        color:#7c7763;
        background:#f8f3de;
        -moz-border-radius-topleft: 0px;
        -moz-border-radius-topright:0px;
        -moz-border-radius-bottomleft:10px;
        -moz-border-radius-bottomright:10px;
        -webkit-border-top-left-radius:0px;
        -webkit-border-top-right-radius:0px;
        -webkit-border-bottom-left-radius:10px;
        -webkit-border-bottom-right-radius:10px;
        border-top-left-radius:0px;
        border-top-right-radius:0px;
        border-bottom-left-radius:10px;
        border-bottom-right-radius:10px;
        -moz-box-shadow: 0px 2px 5px #000000;
        -webkit-box-shadow: 0px 2px 5px #000000;
        box-shadow: 0px 2px 5px #000000;
    }
    #play_progress{
        display: none;
    }
    #how_to_play h2{
        color:#7c7763;
        margin:0 3px;
        font-size:16px;
        font-weight:bold;
    }

    .close_button{
        position:absolute;
        bottom:-15px;
        left:-15px;
        background:url(/images/sprite.png) -108px -13px no-repeat;
        height:28px;
        width:28px;
        cursor:pointer;
    }

    #quotes_holder{
        width:820px;
        margin:15px auto 0px auto;
        padding:15px 50px 0 50px;
    }

    #quotes_counter{
        float:right;
        color:#afbcf7;
        font-style:italic;
    }
    #goto_results{
        display: none;
        float: left;
    }
    #goto_results a{

        color:#afbcf7;
        font-style:italic;
    }

    #current_quote_holder{
        position:relative;
        display: none;
        border: 5px solid #fff;
        background:#fff url(/images/bg_quote.jpg) bottom center repeat-x;
        margin:30px auto;
        padding:15px 40px;
    }

    blockquote{
        font-size: 40px;
        font-family: david;
        color: #4A4A4B;
        display: block;
        width: 90%;
        height: auto;
        margin: 0px;
        padding: 30px 40px 30px 20px;
        position: relative;
        line-height: 48px;
    }

    .quote_start{
        width:32px;
        height:23px;
        background:url(/images/sprite.png) -50px -13px no-repeat;
        display:block;
        position:absolute;
        top:0px;
        right:5px;
    }

    .quote_end{
        width:32px;
        height:23px;
        background:url(/images/sprite.png) -10px -14px no-repeat;
        display:block;
        position:absolute;
        bottom:0px;
        left:0px;
    }

    .quote_credit{
        display: none;
    }


     .quote_source,
    .quote_credit{
        font-family:david;
        font-size:23px;
        font-weight:bold;
        color:#3b63ef;
        float:right;
        width: 100%;
    }
    .quote_source{

        position: absolute;
        bottom: -15px;
        right: 550px;

    }
    .quote_source a{
        text-decoration:underline;
        font-family:david;
        font-size:20px;
        font-weight:normal;
        color:#3b63ef;
    }
    .quote_credit a{
        text-decoration:underline;
        font-family:david;
        font-size:23px;
        font-weight:bold;
        color:#3b63ef;
    }

    .quote_source a:hover,
    .quote_credit a:hover{
        text-decoration:underline;
    }
    .quote_credit a.source{
        font-weight: normal;
        margin-right: 10px;
        font-size: 14px;
    }


    .quote_party{
        font-family:david;
        font-size:23px;
        font-weight:normal;
        color:#3b63ef;
    }

    #current_quote_photo{
        position: absolute;
        top: 38%;
        left: 710px;
        border:3px solid #fff;
        height: 118px;
        overflow:hidden;
        height:118px;
        width: 82px;
    }

    #current_quote_photo img{
        vertical-align:middle;
        position: absolute;
        height:118px;
        -moz-box-shadow: 0px 1px 3px #8e8d8d;
        -webkit-box-shadow: 0px 1px 3px #8e8d8d;
        box-shadow: 0px 1px 3px #8e8d8d;
    }

    #poll_holder{
        width:100%;
        margin: 0px auto 15px auto;

        position: absolute;
        bottom: -49px;
        clear: both;
    }

    .poll_option{
        border:0px;
        margin:0px auto;
        cursor:pointer;
        float:right;
        padding:0px;
    }

    .poll_option#option_1{ display:block; height:60px; width:166px; background:url(/images/sprite.png) -614px -220px no-repeat; }
    .poll_option#option_1:hover{ background-position:-614px -293px; }
    .poll_option#option_1:active{ background-position:-614px -373px; }

    .poll_option#option_2{ display:block; height:60px; width:149px; background:url(/images/sprite.png) -465px -220px no-repeat; }
    .poll_option#option_2:hover{ background-position:-465px -293px; }
    .poll_option#option_2:active{ background-position:-465px -373px; }

    .poll_option#option_3{ display:block; height:60px; width:160px; background:url(/images/sprite.png) -305px -220px no-repeat; }
    .poll_option#option_3:hover{ background-position:-305px -293px; }
    .poll_option#option_3:active{ background-position:-305px -373px; }

    .poll_option#option_4{ display:block; height:60px; width:150px; background:url(/images/sprite.png) -155px -220px no-repeat; }
    .poll_option#option_4:hover{ background-position:-155px -293px; }
    .poll_option#option_4:active{ background-position:-155px -373px; }

    .poll_option#option_0{ display:block; height:60px; width:155px; background:url(/images/sprite.png) 0px -220px no-repeat; }
    .poll_option#option_0:hover{ background-position:-0px -293px; }
    .poll_option#option_0:active{ background-position:-0px -373px; }

    #other_buttons_holder{
        width: 780px;
        margin: 15px auto;
        height: 48px;
        position: relative;
        top: 120px;
    }

    #other_buttons_holder input{
        border:0px;
        cursor:pointer;
    }

    .end_game{ float:right; display:block; height:48px; width:275px; margin-right:4px; padding: 0; background:url(/images/sprite.png) -502px -463px no-repeat; }
    .end_game:hover{ background-position: -502px -525px; }
    .end_game:active{ background-position: -502px -590px; }

    .to_index{ float:left; display:block; height:48px; width:275px; padding: 0; background:url(/images/sprite.png) 0px -460px no-repeat; }
    .to_index:hover{ background-position: -0px -522px; }
    .to_index:active{ background-position: -0px -587px; }

    #footer_wrapper{
        background:url(/images/bg_footer.jpg) 0 0 repeat-x;
        direction:rtl;
        width:100%;
        float:right;
        padding:0px;
        height:290px;
    }

    #footer_content{
        padding-top: 20px;

        width:800px;
        border-top:1px solid #5e5e5d;
        margin:65px auto 0px auto;
    }

    #footer_wrapper h3{
        color:#e2e8fc;
        font-size:14px;
        font-weight:bold;
    }

    #footer_wrapper .col{
        float:right;
        width:160px;
        font-size:12px;
        color:#cccccc;
        margin:0 20px;
    }

    #footer_wrapper .col ul{
        padding:0px;
        margin:0px;
    }

    #footer_wrapper .col ul li{
        list-style:none;
        padding:0px;
        margin:0px;
        text-indent:0px;
        font-size:12px;
        color:#cccccc;
    }

    #footer_wrapper .col ul li ul{
        padding-right:10px;
    }

    #footer_wrapper .col ul li ul li{
        list-style:initial;
        margin-right:8px;
    }
    #footer_wrapper .col a{
        text-decoration:none;
        color:#cccccc;
    }

    #footer_wrapper .col a:hover{
        text-decoration:underline;
    }

    #social_icon_row{
        float:right;
        width:100%;
    }

    #preload_img{
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 0;
    }
    .social_icon{
        float:right;
        width:26px;
        margin:3px 4px;
    }

     #logo {
        position: absolute;
        top: 23px;
        right: 0;
        background: url(/images/logo.png) 0 0 no-repeat;
        width: 79px;
        height: 89px;
    }

     #logo:hover {
        background-position: 100% 0;
    }

    #game_progress_holder{
        display: none;
        position:relative;
        margin:auto;
        width:900px;
        height:60px;
        padding:15px 20px;
        font-size:16px;
        color:#7c7763;
        background:#2f4aa8;
        -moz-border-radius-topleft: 0px;
        -moz-border-radius-topright:0px;
        -moz-border-radius-bottomleft:10px;
        -moz-border-radius-bottomright:10px;
        -webkit-border-top-left-radius:0px;
        -webkit-border-top-right-radius:0px;
        -webkit-border-bottom-left-radius:8px;
        -webkit-border-bottom-right-radius:8px;
        border-top-left-radius:0px;
        border-top-right-radius:0px;
        border-bottom-left-radius:8px;
        border-bottom-right-radius:8px;
        -moz-box-shadow: 0px 2px 5px #000000;
        -webkit-box-shadow: 0px 2px 5px #000000;
        box-shadow: 0px 2px 5px #000000;
    }

    #game_progress_holder h2{
        color:#fff;
        margin:0 3px;
        font-size:30px;
        font-weight:bold;
    }

    #game_progress_holder span{
        color:#d1d1d1;
        font-size:22px;
    }

    #game_progress_holder .text{
        float:right;
    }



    .button_end_game input{

        float:left;
        margin-top: 5px;
        background:url(/images/URU_game.results_btn_func_sprite.png) no-repeat 0 0;
        width:154px;
        height:52px;
        display:block;
        border:0px;
        padding-left:20px;
        cursor:pointer;
    }

    .button_end_game input:hover{                         /* -524 */
        background:url(/images/URU_game.results_btn_func_sprite.png) no-repeat 0 -52px;
    }

    .button_end_game input:active{
        background:url(/images/URU_game.results_btn_func_sprite.png) no-repeat 0 -104px;
    }

    .button_end_game input.disabled{
        cursor: default;
        background:url(/images/URU_game.results_btn_func_sprite.png) no-repeat 0 -155px;
    }

    .game_progress{
        width:481px;
        height:20px;
        display:block;
        background:url(/images/bg_game_progress_bar.png) 0 0 no-repeat;
        float:right;
        margin-top:20px;
        margin-right:20px;
        position:relative;
    }

    .game_progress_bar{
        position:absolute;
        width:0%;
        height:16px;
        display:block;
        background:url(/images/game_progress_bar.png) top right repeat-x;
        top:2px;
        right:1px;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        border-radius:3px;
    }

    .game_progress_bar_indicator{
        position:absolute;
        width:33px;
        height:29px;
        display:block;
        top:11px;
        right:0%;
    }

    .game_progress_bar_indicator img{
        position:relative;
        left:17px;
    }

    .game_progress_percentage{
        width: 436px;
        height: 20px;
        float: right;
        display: block;
        position: relative;
        top: 4px;
    }

    .game_progress span{
        float:right;
        position:absolute;
        top:20px;
        color:#ececed;
        text-align:center;
    }

    .list_button{
        margin: 0 270px 10px;
        display: inline-block;
        float: left;
        width: 275px;
        height: 50px;
        background: url(/images/sprite.png) no-repeat 0 -587px;
    }

    .list_button:hover{

        background: url(/images/sprite.png) no-repeat 0 -460px;
    }

    .list_button:active{

        background: url(/images/sprite.png) no-repeat 0 -522px;
    }
    </style>


</head>
<body>


<script type="text/javascript">
    var facebookAppId = '<%= settings.facebook_app_id %>';

    var tag_name = "<% if (typeof tag_name !== "undefined") {%> <%= tag_name || '' %><% } %>";
    var current_section=null;
    $(document).ready(function () {
        $('.tikunim-box h2').click(function () {
            $(this).parent().toggleClass('active');
        });
    });

    $.getScript("//connect.facebook.net/us_EN/all.js", function () {
        FB.init({
            appId:facebookAppId, // App ID local
            status:true, // check login status
            cookie:false, // enable cookies to allow the server to access the session
            xfbml:true, // parse XFBML
            oauth:true
        });
    });
</script>

<div id="wrapper">
    <img src="/images/quote_photo.png" id="preload_img"  >
    <div id="header_wrapper">
        <div id="header_top">
            <div id="logo_holder">
                <a id="logo" href="/"></a>
            </div>
            <div id="title_holder">
               <img src="/images/logo_game.png">
             </div>


            <div id="social_holder">
                 <!--
                <div class="social_item fb">
                    <div class="pluginButton pluginButtonSmall pluginButtonInline pluginConnectButtonDisconnected" title="">
                        <div>
                            <button type="submit">Like
                                <i class="pluginButtonIcon img sp_like sx_like_fav"></i>
                            </button>
                        </div>
                    </div>
                </div>
                   -->
                <div class="social_item fb" style="position: relative">
                    <div  style="width:80px;height: 20px ;left:0; overflow: hidden;position:absolute;direction: ltr; ">
                    <div class="fb-like" data-href="http://www.uru.org.il/elections_game" data-send="false" data-layout="button_count" data-width="450" data-show-faces="false"></div>
                    </div>
                </div>

                <!--
           <div class="social_item gp">

                    <div class="g-plusone"></div>


                    <script type="text/javascript">

                        (function() {
                            var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
                            po.src = 'https://apis.google.com/js/plusone.js';
                            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
                        })();

                    </script>
                </div>
            -->
                <div class="social_item tw" style="margin-top: 40px">
                    <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://http://www.uru.org.il/elections_game" data-text="פוליטיקלי קורקט: כל מה שצריך לדעת לפני ששמים את הפתק בקלפי דרגו אמירות של מועמדים לכנסת, גלו באיזה צד אתם במפה הפוליטית ואת כל המידע על המועמד ומפלגתו">Tweet</a>
                    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                </div>
            </div>
        </div>
        <div id="header_bottom">
            <div id="participants_holder">
                <div id="participants_total">
                    סה"כ השתתפו:
                    <%= game_played %>
                </div>
                <div id="participants_thumbs">
                    <% for (var c = 0; c < users_icons_count ; c++) { %>
                    <div class="img-box" style="overflow: hidden;float: right;margin-right: 5px">
                        <div style="width:42px; height:42px; overflow:hidden; " class='auto-scale' >
                            <img  src="<%=users[c].avatar_url()%>" alt="<%users[c].first_name%>"/>
                        </div>
                        <span></span>
                    </div>
                    <% }%>

                </div>
            </div>
            <div id="login">
                <% include partials/user_box.ejs %>
            </div>
        </div>
    </div>
    <div id="content_wrapper">


        <div id="game_progress_holder">
            <div class="text">
                <h2>דרגו 25 ציטוטים</h2>
                <span>כדי לקבל תוצאות ראשוניות</span>
            </div>
            <div class="game_progress">
                <div class="game_progress_bar"></div>
                <div class="game_progress_bar_indicator"><img src="/images/indicator.png"></div>
                <div class="game_progress_percentage">
                    <span style="right:0%;">0</span>
                    <span style="right:25%;">25</span>
                    <span style="right:52%;">50</span>
                    <span style="right:80%;">75</span>
                    <span style="right:102%;">100</span>
                </div>
            </div>
            <div class="button_end_game">
                <input type="button" class='disabled' >

            </div>
        </div>


        <div id="how_to_play">
            <h2>
            איך אני יודע באיזה צד אני במפה הפוליטית?
                </h2>
            לפניכם ציטוטים נבחרים של נבחרינו.
            סמנו לפי הדרוג את עמדתכם לגבי תוכן הציטוט
            ותגלו מאחורי מי אתם עומדים בבחירות 2013


            <div class="close_button"></div>
        </div>

        <div id="play_progress">
            <h2>
                עכשיו תוכלו לעבור לעמוד התוצאות
            </h2>
            כדי שתוכלו לקבל תמונה מלאה יותר על השקפת העולם של המועמדים, מעבר לאמירותיהם, בתחתית עמוד התוצאות תמצאו הפניות לרקע, מידע וכלים שישקפו את עשייתם. כך תוכלו לבחור במפלגה שהכי קרובה לדעותיכם
          <a href="/elections_game/results" >
              המשך לעמוד התוצאות >>
          </a>
            <div class="close_button"></div>
        </div>

        <div id="quotes_holder">
            <!--
                      <div id="quotes_counter">

                          ציטוט
                          <span id="currute_count"> </span>
                          <!--
                          מתוך
                          <span id="total_qoute_count"> </span>

            </div> -->

            <div id="current_quote_holder">

            </div>
        </div>
        <div id="poll_holder">
            <div style="width: 780px;margin: auto;">
                <input class="poll_option" id="option_1" type="button" data-response="very_positive" />
                <input class="poll_option" id="option_2" type="button" data-response="positive" />
                <input class="poll_option" id="option_3" type="button" data-response="negative" />
                <input class="poll_option" id="option_4" type="button" data-response="very_negative" />
                <input class="poll_option" id="option_0" type="button" data-response="skip" />
            </div>
        </div>

    </div>

    <!--
 <div id="other_buttons_holder">
     <input class="end_game"  type="button" />
     <input class="to_index"  type="button" />
 </div>
  -->
    <% include partials/ections_game_footer.ejs %>
</div>
<% include partials/includes.ejs %>
<script type="text/javascript">


    $(document).ready(function () {

        var hash= "<%=hash%>";
        var my_id = "<%=user_logged ? user._id : ''%>";
        var quotes=null;
        var current_qoute=-1;
        var played_quotes=0;
        var skipped=0;

        loadQoutes();

        function loadQoutes(){
            db_functions.getQuoteGameQuotes(false,null,function (err, data) {
                if(err != 'success'){
                    window.location.reload() ;
                }
                quotes=data.objects ;
                current_qoute=-1;
                played_quotes= data.meta.played_quotes||0;
                if(played_quotes>20){
                    $(this).parents('#how_to_play').hide();
                }
                //$("#total_qoute_count").text(data.objects.length + played_quotes ) ;
                showNextQoute();
            });
        }



        var buttons_disabled=true;
        $('.poll_option').click(function () {
                if(buttons_disabled) {
                    return;
                }  else  {
                    buttons_disabled=true;
                }
                var quote_id   =quotes[current_qoute]._id;
                var response =$(this).data('response');
                if(response=='skip'){
                    skipped++;
                }
                $('.quote_credit').show();

                quotes[current_qoute].response=  response;
                $('#current_quote_photo img').attr('src',quotes[current_qoute].candidate.image_field_thumb.url).load(function() {
                    $('#current_quote_photo img').css('left', '-' +(($("#current_quote_photo img").width()-82)/2)+'px');
                });  ;
                $('#current_quote_photo img').css('left', '-' +(($("#current_quote_photo img").width()-82)/2)+'px');

                setTimeout(showNextQoute , 2000);
                db_functions.setQuoteGameResponse(my_id, quote_id,hash, response,quotes[current_qoute].candidate._id,false,function (err, data) {

                });

            $('#how_to_play').hide();
            $('#play_progress').hide();

            $('#game_progress_holder').show();

        });


        function showNextQoute() {
            current_qoute++;
            if (current_qoute==quotes.length) {
                loadQoutes();
                return ;
            }
            if(current_qoute+1 + played_quotes - skipped < 25 ){
                $('#game_progress_holder .text h2').text('דרגו 25 ציטוטים');
                $('#game_progress_holder .text span').text('כדי לקבל תוצאות ראשוניות');
            }

            if(current_qoute+1 + played_quotes - skipped >= 25 ){
                $('#how_to_play').hide();
                $('#play_progress').hide();

                $('#game_progress_holder').show();

                $('.button_end_game input').removeClass('disabled');
                $('#game_progress_holder .text h2').text('דרגו 50 ציטוטים');
                $('#game_progress_holder .text span').text('כדי לקבל תוצאות בסיסיות');
            }
            if(current_qoute+1 + played_quotes - skipped >= 50 ){
                $('#game_progress_holder .text h2').text('דרגו 75 ציטוטים');
                $('#game_progress_holder .text span').text('כדי לקבל תוצאות מבוססות');
            }
            if(current_qoute+1 + played_quotes - skipped >= 75 ){
                $('#game_progress_holder .text h2').text('דרגו 100 ציטוטים');
                $('#game_progress_holder .text span').text('כדי לקבל תוצאות אמינות');
            }
            $('#preload_img').attr('src',quotes[current_qoute].candidate.image_field_thumb.url);
            $("#current_qoute_count").text(current_qoute+1 + played_quotes-skipped)  ;
            progress(current_qoute+1 + played_quotes-skipped)
            dust.render('quote', quotes[current_qoute], function (err, out) {
                $('#current_quote_holder').html(out);

                $('#current_quote_holder').show();
                buttons_disabled=false;
            });
            if(current_qoute+1 + played_quotes - skipped == 25 ){
                $('#how_to_play').hide();
                $('#play_progress').show();

                $('#game_progress_holder').hide();
            }
        }
        $('.button_end_game input').click(function () {
            if(!$(this).hasClass('disabled')){
                completeGame();
            }

        });

        function completeGame() {
            window.location.href = '/elections_game/results'     ;
          //  console.log("results");
        }

        function progress(i){
            $(".game_progress_bar_indicator").css('right',i+'%');
            $(".game_progress_bar").css('width',i+'%');
        }

        $('.close_button').click(function () {
            $('#how_to_play').hide();
            $('#play_progress').hide();
            $('#game_progress_holder').show();

        });

        $('.pluginButton').click(function () {


                var title='            פוליטיקלי קורקט- כל מה שצריך לדעת לפני ששמים את הפתק בקלפי';
                var body='            דרגו את העמדה שלכם, גלו באיזה צד אתם במפה הפוליטית ואת כל המידע על המועמד ומפלגתו';

                FB.ui(
                    {
                        method: 'feed',
                        name:title,
                        link: 'http://www.uru.org.il/elections_game',
                        picture: 'http://www.uru.org.il/images/logo_game.png',
                        // caption: title,
                        description: body
                    },
                    function(response) {
                        if (response && response.post_id) {
                            alert('Post was published.');
                        } else {
                            alert('Post was not published.');
                        }
                    }
                );

        }  );


    } );


</script>
</body>
</html>