<!DOCTYPE html>
<html>
<head>

<% include partials/head_min.ejs %>

<meta property="og:type" content="website" />
<meta property="og:title" content="דרגו אמירות של מועמדים לכנסת, גלו באיזה צד אתם במפה הפוליטית ואת כל המידע על המועמד ומפלגתו" />
<meta property="og:description" content="דרגו את העמדה שלכם, גלו באיזה צד אתם במפה הפוליטית ואת כל המידע על המועמד ומפלגתו" />
<meta property="og:image" content="http://www.uru.org.il/images/icon1.png" />
<meta property="og:site_name" content="עורו" />
<meta property="og:url" content="http://www.uru.org.il/elections_game" />

<link href="/css/elections_game.css" rel="stylesheet" />

</head>
<body>

<script type="text/javascript">
    var facebookAppId = '<%= settings.facebook_app_id %>';

    var tag_name = "<% if (typeof tag_name !== "undefined") {%> <%= tag_name || '' %><% } %>";
    var current_section=null;
    $(document).ready(function () {
        $('.tikunim-box h2').click(function () {
            $(this).parent().toggleClass('active');
        });
    });

    $.getScript("//connect.facebook.net/us_EN/all.js", function () {
        FB.init({
            appId:facebookAppId, // App ID local
            status:true, // check login status
            cookie:false, // enable cookies to allow the server to access the session
            xfbml:true, // parse XFBML
            oauth:true
        });
    });
</script>

<div id="wrapper" class="results_page">
<div id="header_wrapper">
    <div id="header_top">
        <div id="logo_holder">
            <a id="logo" href="/"> </a>
        </div>
        <div id="title_holder">
            <img src="/images/logo_game.png">
        </div>
        <div id="social_holder">



            <div class="social_item fb">
                <div  style="width:80px;height: 20px ;left: 323px; overflow: hidden;position:absolute;direction: ltr; ">
                    <div class="fb-like" data-href="http://www.uru.org.il/elections_game" data-send="false" data-layout="button_count" data-width="450" data-show-faces="false"></div>
                </div>
            </div>

           <!--
            <div class="social_item gp">

                <div class="g-plusone"></div>


                <script type="text/javascript">

                    (function() {
                        var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
                        po.src = 'https://apis.google.com/js/plusone.js';
                        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
                    })();

                </script>
            </div>
        -->
            <div class="social_item tw" style="margin-top: 40px">

                <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://http://www.uru.org.il/elections_game" data-text="פוליטיקלי קורקט: כל מה שצריך לדעת לפני ששמים את הפתק בקלפי דרגו אמירות של מועמדים לכנסת, גלו באיזה צד אתם במפה הפוליטית ואת כל המידע על המועמד ומפלגתו">Tweet</a>
                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
            </div>
        </div>
    </div>
    <div id="header_bottom">
        <div id="sponsors_holder">
            <h2>שיתופי פעולה</h2>
            <div id="sponsors_logos">
                <a class="sponsors_logo logo_1" target="_blank" href="http://oknesset.org/"></a>
                <a class="sponsors_logo logo_2" target="_blank" href="http://hamishmar.org.il/"></a>
                <a class="sponsors_logo logo_3" target="_blank" href="http://www.sandtalks.co.il/"></a>
                <a class="sponsors_logo logo_4" target="_blank" href="http://www.mqg.org.il/"></a>
                <div class="sponsors_logo logo_5"></div>
            </div>
        </div>
        <div id="login">
            <% include partials/user_box.ejs %>
        </div>
    </div>
</div>
<div id="content_wrapper">
<% if(candidate_page==false) { %>

<div id="results_holder">
    <div id="results_header">
        <div id="results_title">
            <h2 class="title">
                והרי התוצאות על פי אחוזי ההסכמה
            </h2>
            <h3>
                סה"כ דירגת
                <%= quotes_count %>
            ציטוטים



            </h3>

        </div>
        <div id="results_share">
            <a class="results_share_icon"   href="javascript: void(0)">
                שתף תוצאות
            </a>
            <a class="results_share_icon mail_share"
               data-img_src="<%= share_img %>"
               data-text_preview="אלה המועמדים לבחירות 2013 שאני הזדהיתי איתם. בואו לגלות במי אתם תומכים."
               href="javascript: void(0)"><img src="/images/icon_email_white.png" /></a>
            <a class="results_share_icon tw_share"
               data-img_src="<%= share_img %>"
               data-text_preview="אלה המועמדים לבחירות 2013 שאני הזדהיתי איתם. בואו לגלות במי אתם תומכים."
               href="javascript: void(0)"><img src="/images/icon_tw_white.png" /></a>

            <a class="results_share_icon fb_share"
               rel="/elections_game"
               data-img_src="<%= share_img %>"
               data-text_preview="אלה המועמדים לבחירות 2013 שאני הזדהיתי איתם. בואו לגלות במי אתם תומכים."
               data-text="אלה המועמדים לבחירות 2013 שאני הזדהיתי איתם. בואו לגלות במי אתם תומכים."
               data-title="פוליטיקלי קורקט"
               data-name="פוליטיקלי קורקט"
               href="javascript: void(0)">
                <img src="/images/icon_fb_white.png" />
            </a>



            <div id="game_controls_holder">
                <a class="icon continue" id="continue_game" href="/elections_game">המשך לשחק</a>
                <a class="icon reset"  id="reset_game" href="javascript:void(0);">אפס תוצאות והתחל מחדש</a>
            </div>


            <a class="results_share_icon" href="" id="fb-share" style='text-decoration:none;' type="icon_link" onClick="window.open('http://www.facebook.com/sharer.php?s=100&amp;p[title]=פוליטיקלי קורקט&amp;p[summary]=אלה המועמדים לבחירות 2013 שאני הזדהיתי איתם.         בואו לגלות במי אתם תומכים.&amp;p[url]=http://www.uru.org.il/elections_game&amp;p[images][0]=<%=share_img %>','sharer','toolbar=0,status=0,width=580,height=325');" href="javascript: void(0)">

            </a>

        </div>
    </div>
    <div id="graph_holder">
        <div id="graph">
            <div id="commitment">
							<span>
עכשיו, כשהבנת באיזה צד של המפה אתה עומד ובמי אתה מאמין,
                                <br>
                                יהיה לך הרבה יותר קל לבחור. לחץ ותהיה חלק מאיתנו.


							</span>
                <input class="commit" type="button" />
            </div>
            <div class="graph_col col1">
                <div class="percentage">  <%= winners[0].score %>%</div>
                <div class="bar"></div>
            </div>
            <div class="graph_col col2">
                <div class="percentage"> <%= winners[1].score %>%</div>
                <div class="bar"></div>
            </div>
            <div class="graph_col col3">
                <div class="percentage"> <%= winners[2].score %>%</div>
                <div class="bar"></div>
            </div>
        </div>
    </div>
</div>
<div id="selector_wrapper">
    <div id="selector_holder">
        <div class="selection selected" id="selection_0">
            <div class="photo" >
                    <img src="<%= winners[0].image_field ? winners[0].image_field.url : '/images/quote_photo.png' %>" title="<%= winners[0].name %>"/>
            </div>
            <a href="javascript:void(0);" class="canditate_button">
                <div class="name">
                    <%= winners[0].name %>
                    <div class="title">
                        <%= winners[0].party_19th_knesset.name %>
                    </div>
                </div>
            </a>
        </div>
        <div class="selection "  id="selection_1" >
            <div class="photo">   <img src="<%= winners[1].image_field ? winners[1].image_field.url : '/images/quote_photo.png' %>" title="<%= winners[1].name %>"/></div>
            <a href="javascript:void(0);"  class="canditate_button">
                <div class="name">
                    <%= winners[1].name %>
                    <div class="title">
                        <%= winners[1].party_19th_knesset.name %>
                    </div>
                </div>
            </a>
        </div>
        <div class="selection "  id="selection_2"  >
            <div class="photo"> <img src="<%= winners[2].image_field ? winners[2].image_field.url : '/images/quote_photo.png' %>" title="<%= winners[2].name %>"/></div>
            <a href="javascript:void(0);" class="canditate_button">
                <div class="name">
                    <%= winners[2].name %>
                    <div class="title">
                        <%= winners[2].party_19th_knesset.name %>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
<% }else{ %>
<div style="width: 100%;height: 100px"> </div>
<% } %>
<div id="content_main_wrapper">
<div id="content_main_holder">
<div id="content_right_holder">
<% for(i=0;i<3;i++) { var cand=winners[i]; %>
    <div class="candidate_container" id="info_<%=i%>" style="display:none" >
        <div class="segment about">
            <h2 class="title">

                קצת
                על
                <%= cand.name %>

                ומפלגת
                <%= cand.party_19th_knesset.name %>

            </h2>

            <div class="title_link">
                <a target="_blank" href="/elections_game/list">
                    אינדקס מועמדים ומפלגות
                </a>
            </div>

            <div class="bubble">
                <span> <%= first_win_ratio %>%</span>
                 הזדהו עם
                <%= cand.name %>
            </div>


            <div class="social_holder">
                <a class="share_icon" href="javascript:void(0);">שתף דף מידע</a>
                <a class="share_icon" id="candidate_mail" href="javascript:void(0);"><img src="/images/icon_email_small_blue.png"></a>
                <a class="share_icon" id="candidate_tw" href="javascript:void(0);"><img src="/images/icon_tw_small_blue.png"></a>
                <a class="share_icon" id="candidate_fb"  href="javascript:void(0);" data-id="<%= cand.id %>" data-name="<%= cand.name %>"><img src="/images/icon_fb_small_blue.png"></a>
            </div>

            <div class="text">
                <div class="col_right">
                    <div class="about_politician">
                        <h2>  <%= cand.name %></h2>
                        <%= cand.biography || '' %>
                        <br>
                        <a class="read_more"  target="_blank" href="<%= cand.wikipedia_link %>">
                        לערך המלא  בוויקיפדיה
                    </a>

                    </div>
                    <div class="contact_info">
                        <h3>פרטי התקשרות</h3>
    <% if( cand.telephone) { %>
                        <div class="contact_detail_holder">
                            <div class="detail_name">
                                טלפון:
                            </div>
                            <div class="detail_value">
                                <%= cand.telephone %>
                            </div>
                        </div>
    <% } %>
    <% if( cand.fax) { %>
                        <div class="contact_detail_holder">
                            <div class="detail_name">
                                פקס:
                            </div>
                            <div class="detail_value">
                                <%= cand.fax %>
                            </div>
                        </div>
    <% } %>
    <% if( cand.email) { %>
                        <div class="contact_detail_holder">
                            <div class="detail_name">
                                דוא"ל:
                            </div>
                            <div class="detail_value">
                                <a href="mailto:<%= cand.email %>"><%= cand.email %></a>
                            </div>
                        </div>
    <% } %>


                    </div>
                    <!--
                    <div class="share_buttons">
                        <span>שתף</span>
                        <div class="share_button">
                            <a href=""><img src="/images/icon_email_small.png" /></a>
                        </div>
                        <div class="share_button">
                            <a href=""><img src="/images/icon_tw_small.png" /></a>
                        </div>
                        <div class="share_button">
                            <a href=""><img src="/images/icon_fb_small.png" /></a>
                        </div>
                    </div>
                    -->
                </div>
                <div class="col_left">
                    <div class="about_party">
                        <h2><%= cand.party_19th_knesset.name %></h2>

                        <%= cand.party_19th_knesset.overview||'' %>
                        <br>
                        <a class="read_more"  target="_blank"  href=" <%= cand.party_19th_knesset.wikipedia_link %>">                            לערך המלא  בוויקיפדיה</a>
                   <% if(cand.party_19th_knesset.platform) { %>
                        <a class="read_more"  target="_blank"  href=" <%= cand.party_19th_knesset.platform %>">
                            למצע המפלגה
                        </a>
                        <% } %>


                    </div>
                    <!--   <div class="map">
                          <h3>מקום מגורים</h3>
                         <iframe width="260" height="190" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.co.il/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Amsterdam+20,+Tel+Aviv-Yafo&amp;aq=0&amp;oq=%D7%90%D7%9E&amp;sll=31.406252,35.081816&amp;sspn=7.085721,9.876709&amp;ie=UTF8&amp;hq=&amp;hnear=Amsterdam+20,+Tel+Aviv-Yafo&amp;t=m&amp;ll=32.086429,34.779882&amp;spn=0.013817,0.02223&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe>
                    </div>-->

                    <div class="contact_info">
                        <h3>&nbsp;</h3>

                        <% if( cand.facebook) { %>
                        <div class="contact_detail_holder">

                            <div class="detail_value fb">
                                <a  target="_blank"  href="<%= cand.facebook %>">

פייסבוק
                                </a>
                            </div>
                        </div>
                        <% } %>
                        <% if( cand.twitter) { %>
                        <div class="contact_detail_holder">

                            <div class="detail_value tw">
                                <a  target="_blank"  href="<%= cand.twitter %>">

                                    טוויטר
                                </a>
                            </div>
                        </div>
                        <% } %>
                        <% if( cand.official_site) { %>
                        <div class="contact_detail_holder">

                            <div class="detail_value"><a  target="_blank" href="<%= cand.official_site %>">אתר רשמי</a></div>
                        </div>
                        <% } %>
                    </div>
                </div>
            </div>

        </div>

        <div class="segment">

        <h2 class="title">

            מידע נוסף על פעילות


            <%= cand.name %>
            ו<%= cand.party_19th_knesset.name %>
        </h2>
            </div>
        <% if(cand.governence_quality_text) { %>

        <div class="segment more_stats">

            <div class="header">
                <div class="item logo"><img src="/images/icon_hatnua.png" /></div>
                <div class="item title">מבחן איכות השלטון</div>

            </div>
            <div class="text">
                <%=cand.governence_quality_text%>
                <% if(cand.governence_quality_link) { %>
                <br><div class="item link" style="float:left"><a  target="_blank"  href="  <%=cand.governence_quality_link%>">לקריאה נוספת באתר התנועה לאיכות השלטון</a></div>
                <% } %>
            </div>





        </div>

        <% } %>
        <% if (cand.party_18th_knesset && cand.party_18th_knesset.open_knesset_id) { %>
        <div class="segment more_stats">

             <div id="social_index<%=i%>"></div>


            <div class="text">

                <span class="remark">

                    דירוג המועמד בהתאם להצבעותיו סביב הצעות החוק הרלוונטיות לאג'נדות
                    על פי ניתוח דפוסי הצבעה ונתוני "כנסת פתוחה".
                </span>
                <hr />

            </div>
            <iframe id="openk_<%=i%>" width="610" height="400" style="border: 0" src=""></iframe>

           <div class="agendas" data-ind="<%=i%>">
               <div>
                   <div  class="mishmar auto-scale"  style=" height:40px; width:47px;overflow:hidden;margin-bottom: 10px; "  >
                       <img  src="/images/hamishmar.jpg" alt="המשמר החברתי"/>

                   </div>
                   המדד החברתי
               </div>
               <div>
               <div class="edu auto-scale"  style=" height:40px;width:40px; overflow:hidden;margin-bottom: 10px; "  >
                   <img  src="/images/mirsham.jpg" alt="מרשם"/>


               </div>
               שיפור מערכת הבריאות
               </div>
               <div>
               <div  class="mirsham auto-scale" style="margin-left:0;height:40px;width:65px; overflow:hidden;margin-bottom: 10px; "  >
                   <img  src="/images/hinuch.png" alt="חינוך ישראלי"/>

               </div>
               קידום חינוך ציבורי איכותי
           </div>
           </div>
        </div>
        <% } %>
        <% if (cand.sandtalk_id) { %>
        <div class="segment more_stats kahol">

            <div class="header">
                <div class="item logo"><img src="/images/icon_kahol.png" /></div>
                <div class="item title">מדדי כחול להסכמה ואמון</div>
                <div class="item link"><a target="_blank" href="<%= cand.sandtalk_link %>">לאתר כחול</a></div>
            </div>
            <div class="text">

                <span class="remark">
כחול הינו אתר פוליטי חברתי המתעד הבטחות, תחזיות ואמירות של פוליטיקאים, אנשי ציבור, אנשי רוח, תרבות וספורט בישראל, ומאפשר לגולשים למיין אותן במבחר חיתוכים, להצביע על אמינות ההחלטות, ולהביע הסכמה או התנגדות על כל התבטאות בנפרד
                </span>
                <hr />

            </div>
            <div class="text" id="sandtalk<%=i%>">

            </div>

        </div>
        <% } %>
        <%  var donors=false;
            for (var c = 0; c <cand.doners.length ; c++) {  if(cand.doners[c].nis){ donors=true}}
            if(donors) { %>
            <div class="segment more_stats donors">

            <div class="header">
                <div class="item logo"><img src="/images/icon_israel.png" /></div>
                <div class="item title"> התורמים הגדולים לפריימריס</div>
                <div class="item link"><a target="_blank" href="<%= cand.doners_link %>"> לרשימת התורמים המלאה</a></div>
            </div>
            <div class="text">
                <table>
                    <% for (var c = 0; c <cand.doners.length ; c++) {  if(cand.doners[c].nis){ %>

                        <tr class="<%= c%2? 'even':'odd' %>">
                            <td><%= cand.doners[c].name %></td>
                            <td> <%= cand.doners[c].nis %>
                                ש"ח
                            </td>
                            <td><% if (cand.doners[c].date) {var d= new Date(Date.parse( cand.doners[c].date)).format('dd/mm/yyyy') %><%= d %>   <% }%></td>
                            <td><%= cand.doners[c].location %></td>
                        </tr>
                    <% }}%>
                </table>
            </div>

        </div>
        <% } %>


    </div>
<% } %>
    <div id="back_to_top">חזרה למעלה</div>
</div>
<div id="content_left_sidebar">
    <div class="segment quotes">
        <h2>ציטוטים נוספים</h2>
        <div id="quotes_sidebar_holder">
            <div class="quotes_holder">

              </div>
        </div>
        <div id="more_quotes">
            <a href="javascript:void(0);">עוד ציטוטים</a>
        </div>
    </div>
    <!--
    <div class="segment related">
        <h2>משתמשים שהזדהו עם מועמד זה הזדהו גם עם:</h2>
        <div id="related_items_holder">
            <div class="related_items">
                <div class="related_item">
                    <a class="related_photo" href=""><img src="/images/quote_photo.png" /></a>
                    <div class="related_details">
                        <div class="name">יובל שטייניץ</div>
                        <div class="party">הליכוד ביתנו</div>
                        <a class="read_more" href="">מידע נוסף</a>
                    </div>
                </div>
                <div class="related_item">
                    <a class="related_photo" href=""><img src="/images/quote_photo.png" /></a>
                    <div class="related_details">
                        <div class="name">יובל שטייניץ</div>
                        <div class="party">הליכוד ביתנו</div>
                        <a class="read_more" href="">מידע נוסף</a>
                    </div>
                </div>
                <div class="related_item">
                    <a class="related_photo" href=""><img src="/images/quote_photo.png" /></a>
                    <div class="related_details">
                        <div class="name">יובל שטייניץ</div>
                        <div class="party">הליכוד ביתנו</div>
                        <a class="read_more" href="">מידע נוסף</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    -->
</div>
</div>
</div>
</div>
<% include partials/ections_game_footer.ejs %>
</div>
<% include partials/includes.ejs %>
<script type="text/javascript">


    $(document).ready(function () {

        var winnder_id= '<%=winners[0]._id%>';
        var winners= ["<%=winners[0]._id%>","<%=winners[1]._id%>","<%=winners[2]._id%>"];
        var name= ["<%=winners[0].name%>","<%=winners[1].name%>","<%=winners[2].name%>"];
        var score= ["<%=winners[0].score%>","<%=winners[1].score%>","<%=winners[2].score%>"];
        var open_knesset_id= ["<%=winners[0].open_knesset_id%>","<%=winners[1].open_knesset_id%>","<%=winners[2].open_knesset_id%>"];
        var sandtalk_id= ["<%=winners[0].sandtalk_id%>","<%=winners[1].sandtalk_id%>","<%=winners[2].sandtalk_id%>"];
        var open_knesset_link = ["<%=winners[0].open_knesset_link%>","<%=winners[1].open_knesset_link%>","<%=winners[2].open_knesset_link%>"];
        var current_party_open_knesset_id= ["<%=winners[0].party_19th_knesset.open_knesset_id%>","<%=winners[1].party_19th_knesset.open_knesset_id%>","<%=winners[2].party_19th_knesset.open_knesset_id%>"];
        var prev_party_open_knesset_id= ["<%=winners[0].party_18th_knesset.open_knesset_id%>","<%=winners[1].party_18th_knesset.open_knesset_id%>","<%=winners[2].party_18th_knesset.open_knesset_id%>"];
        var current_party_sandtalk_id= ["<%=winners[0].party_19th_knesset.sandtalk_id%>","<%=winners[1].party_19th_knesset.sandtalk_id%>","<%=winners[2].party_19th_knesset.sandtalk_id%>"];
        var prev_party_sandtalk_id= ["<%=winners[0].party_18th_knesset.sandtalk_id%>","<%=winners[1].party_18th_knesset.sandtalk_id%>","<%=winners[2].party_18th_knesset.sandtalk_id%>"];
        var prev_party_name= ["<%=winners[0].party_18th_knesset.name%>","<%=winners[1].party_18th_knesset.name%>","<%=winners[2].party_18th_knesset.name%>"];
        var data_loaded= [false,false,false];
        var short_mage_link;
        <% if(!user_logged &&  candidate_page==false) { %>
        dust.render('elections_game_disclaimer', null, function (err, out) {
            $.colorbox({
                html:out,
                onComplete:function (e) {
                    $('#login_pop_form').submit(function() {
                        // get all the inputs into an array.
                        var $inputs = $('#login_pop_form :input');

                        // get an associative array of just the values.
                        var values = {};
                        $inputs.each(function() {
                            values[this.name] = $(this).val();
                        });

                        db_functions.login(values["email"], values["password"], function(err, result){
                            if(err){
                             //   callback(err);
                                // $("#login_title").text("נסה שוב");
                                $(".login-popup .noalert").hide();
                                $(".login-popup .alert").show();
                            }
                            else{
                                $(document).one('cbox_closed', function(){
                                    window.location.reload() ;
                              //      callback(err, result);
                                });
                            //    $.colorbox.close();
                            }
                        });
                    });

                    $("#fb_ajax_conncect").live('click', function(){
                        facebookLogin(function(err, result){
                            if(err) {
                            /*
                                $(document).one('cbox_closed', function(){
                                    callback(err, result);
                                }); */
                                $.colorbox.close();

                            }else{
                                window.location.reload() ;
                            }
                        })
                    })
                },
                onClosed:function(){

                }
            });
        });
        <% } %>

        $.each( $('#selector_holder .photo img'), function(index, value) {
            $(this).css('left', '-' +(($(this).width()-82)/2)+'px');

        });
        $('#selector_holder .photo img').load(function(index, value) {
            $(this).css('left', '-' +(($(this).width()-82)/2)+'px');

        }  );


        getCandidateData(0);
        getCandidateQuotes(winners[0]);
        $("#info_0").show();
        loadAgenda(0,74)

         $("#graph .graph_col.col1 .bar").animate({
             height: score[0]+'%'
         }, score[0]*20, function() {

         });

        $("#graph .graph_col.col2 .bar").animate({
            height: score[1]+'%'
            }, score[1]*20, function() {

        });

        $("#graph .graph_col.col3 .bar").animate({
            height: score[2]+'%'
            }, score[2]*20, function() {

        });
        $("#reset_game").click(function(){
            db_functions.getQuoteGameQuotes(true,null,function (err, data) {
                window.location.href = '/elections_game';
            }) ;
        });

        $("#back_to_top").click(function(){
            $("html, body").animate({ scrollTop: 0 }, "slow");
        });

        $('#selector_holder .photo').click(function(){
            var parent= $(this).parent(".selection");
            var i= parent.attr('id').substr(10);
            $(".selection").removeClass("selected");
            parent.addClass("selected");
            changeinfo(i)
        }  );

        $(".canditate_button").click(function(){
            var parent= $(this).parent(".selection");
            var i= parent.attr('id').substr(10);
            $(".selection").removeClass("selected");
            parent.addClass("selected");
            changeinfo(i)

        });
        function changeinfo(i){

            $(".candidate_container").hide();
            getCandidateData(i) ;
            $("#info_"+i).show();
            loadAgenda(i,74)
            getCandidateQuotes  (winners[i]);
        }

        $('.agendas .mishmar').click(function(){
         //   $('.remark').html("            דירוג המועמד בהתאם להצבעותיו סביב הצעות החוק הרלוונטיות לאג'נדת                                            <b>             המדד החברתי                 </b>                  על פי ניתוח דפוסי הצבעה ונתוני \"כנסת פתוחה\".                ");
            var ind=$(this).parent().parent().data('ind');
            loadAgenda(ind,74)
        }) ;
        $('.agendas .edu').click(function(){
         //   $('.remark').html("            דירוג המועמד בהתאם להצבעותיו סביב הצעות החוק הרלוונטיות לאג'נדת                                            <b>             המדד החברתי                 </b>                  על פי ניתוח דפוסי הצבעה ונתוני \"כנסת פתוחה\".                ");
            var ind=$(this).parent().parent().data('ind');
            loadAgenda(ind,61)
        }) ;
        $('.agendas .mirsham').click(function(){
         //   $('.remark').html("            דירוג המועמד בהתאם להצבעותיו סביב הצעות החוק הרלוונטיות לאג'נדת                                            <b>             המדד החברתי                 </b>                  על פי ניתוח דפוסי הצבעה ונתוני \"כנסת פתוחה\".                ");
            var ind=$(this).parent().parent().data('ind');
            loadAgenda(ind,66)

        }) ;


        function getCandidateQuotes(id)   {

            db_functions.getQuoteGameQuotes(false,id,function (err, data) {
                var i=0;
                $('.quotes_holder').html("");
                $.each(data.objects, function (index, quote) {

                    quote.odd= i%2 ? 'odd' : 'even';
                    if(i>2) quote.odd+=' hidden_quotes'
                    quote.vote= quote.voted?  quote.voted.response:'';
                    switch (quote.vote){
                        case 'positive':
                            quote.tooltip   = 'הזדהת' ;
                            break;
                        case 'very_positive':
                            quote.tooltip   = 'הזדהת מאד' ;
                            break;
                        case 'positive':
                            quote.tooltip   = 'התנגדת' ;
                            break;
                        case 'positive':
                            quote.tooltip   = 'התנגדת מאד' ;
                            break;
                    }

                    dust.render('elections_game_additiona_quote', quote, function (err, out) {
                        $('.quotes_holder').append(out);
                    });
                    i++;

                });
                $('#more_quotes').show();

            }) ;
        }


        $('#more_quotes').click(function( ){
            $('.hidden_quotes').show() ;
            $('#more_quotes').hide();

        } );


        function loadAgenda(ind,agenda){
            $('#openk_'+ind).attr('src','http://ydaniv.github.com/ok-agenda-viz/?agenda_id='+agenda+"#member_"+open_knesset_id[ind]);
           // $('#openk_'+ind).attr('src','http://ydaniv.github.com/ok-agenda-viz/?agenda_id='+agenda+'#party_'+prev_party_open_knesset_id[ind]);
        }
        function getCandidateData(i){
             if(data_loaded[i]){
                 return;
             }else
             {
                 data_loaded[i]=true;
             }
            /*
             $.getJSON("http://oknesset.org/api/member/" +open_knesset_id[i]+ "?callback=?", null, function(data) {

             });
             */


            $.getJSON("http://oknesset.org/api/v2/member-agendas/" + open_knesset_id[i] + "/?callback=?", null,function(data) {
                $.each(data.agendas, function (index, agenda) {
                    if(agenda.id==74) {
                        agenda.link=open_knesset_link[i];
                        dust.render('elections_game_social_index', agenda, function (err, out) {
                            $('#social_index'+i).append(out);
                        });
                    }
                });
            });


            $.getJSON("http://www.sandtalks.co.il/api/ranks?consumerKey=jdjhjdewjgdoc1rjwfdjcmzvn1fatlivduxcd09vnmivthpmate1uutey3dlmkmwbvpisc4zshuvsm9p&EntityId="+ sandtalk_id[i]+ "&callback=?", null,function(data) {
                data.name=name[i];
                data.margin=50;
                data.bottom_bar_color =data.beleavePercent <=33 ? "red":(data.beleavePercent <=66 ? "yellow":"green") ;
                data.top_bar_color  =data.agreePercent <=33 ? "red":(data.agreePercent <=66 ? "yellow":"green") ;
                dust.render('elections_game_sandtalk', data, function (err, out) {
                    $('#sandtalk'+i).prepend(out);
                    $('.kahol').show();
                });
            });

            $.getJSON("http://www.sandtalks.co.il/api/ranks?consumerKey=jdjhjdewjgdoc1rjwfdjcmzvn1fatlivduxcd09vnmivthpmate1uutey3dlmkmwbvpisc4zshuvsm9p&EntityId="+ prev_party_sandtalk_id[i]+ "&callback=?", null,function(data) {
                data.name=prev_party_name[i];
                data.margin=0;
                data.bottom_bar_color =data.beleavePercent <=33 ? "red":(data.beleavePercent <=66 ? "yellow":"green") ;
                data.top_bar_color  =data.agreePercent <=33 ? "red":(data.agreePercent <=66 ? "yellow":"green") ;
                dust.render('elections_game_sandtalk', data, function (err, out) {
                    $('#sandtalk'+i).append(out);
                    $('.kahol').show();

                });
            });


        }
        $.getJSON("https://api-ssl.bitly.com/v3/shorten?login=uruisrael&apiKey=R_7929afdab1ef8768426adafd8c1542f3&longUrl="+encodeURIComponent( $(".fb_share").data('img_src'))+ "&callback=?", null,function(data) {
            short_mage_link =data.data.url;
        });



        $(".commit").click(function(){

            window.open('http://www.uru.org.il/cycles/5098eb8bc492d10200000024','_blank');
        });


        $(".mail_share").click(function(){
            var body=encodeURIComponent(short_mage_link)  ;
            window.location.href = "mailto:"+"?subject=" +  encodeURIComponent( $(this).data('text_preview') )  + "&body=" +body;
            return false;
        });
        $(".tw_share").click(function(){
            window.open('https://twitter.com/share?url=' + encodeURIComponent( short_mage_link ) + '&text=' +
                //    encodeURIComponent(global.share_messages.a) + '&via=URUisrael', 'share-twitter', 'status=0,scrollbars=0,location=0,height=320,width=660,resizable=1'
                    encodeURIComponent( $(this).data('text_preview') ) + '&via=URUisrael', 'share-twitter', 'status=0,scrollbars=0,location=0,height=320,width=660,resizable=1'
            );
            return false;
        });


        $(".fb_share").click(function(){


            var link= 'http://www.uru.org.il' + $(this).attr('rel'),
                title = $(this).data('title'),
                image= $(this).data('img_src'),
                body = $(this).data('text_preview'),
                tag_name = "<% if (typeof tag_name !== "undefined") {%> <%= tag_name || '' %><% } %>";
            var current_section=null;
            FB.ui(
                {
                    method: 'feed',
                    link: link,
                    name: title,
                    picture: image,
                    caption: body,
                    description: ' '
                },
                function(response) {
                    if (response && response.post_id) {
                        alert('Post was published.');
                    } else {
                        alert('Post was not published.');
                    }
                }
            );
            return false;
        });
      /*
        $("#candidate_fb").click(function(){
            FB.ui(
                    {
                        method: 'feed',
                        link: link,
                        name: title,
                        picture: image,
                        caption: body,
                        description: ' '
                    },
                    function(response) {
                        if (response && response.post_id) {
                            alert('Post was published.');
                        } else {
                            alert('Post was not published.');
                        }
                    }
            );
        } );
       */

        $('.pluginButton').click(function () {


                var title='            פוליטיקלי קורקט- כל מה שצריך לדעת לפני ששמים את הפתק בקלפי';
                var body='            דרגו את העמדה שלכם, גלו באיזה צד אתם במפה הפוליטית ואת כל המידע על המועמד ומפלגתו';

                FB.ui(
                        {
                            method: 'feed',
                            name:title,
                            link: 'http://www.uru.org.il/elections_game',
                            picture: 'http://www.uru.org.il/images/logo_game.png',
                            // caption: title,
                            description: body
                        },
                        function(response) {
                            if (response && response.post_id) {
                         //       alert('Post was published.');
                            } else {
                         //       alert('Post was not published.');
                            }
                        }
                );
        }  );



    });



</script>
</body>
</html>