<!DOCTYPE html>

<html>
<head>
    <%- partial('partials/head.ejs') %>
</head>

<body>

<div id="wrap">
    <div id="header">
        <%-partial('partials/menu.ejs')%>
        <%-partial('partials/user_box.ejs')%>
        <%-partial('partials/failures.ejs')%>
        <%-partial('partials/tag_search.ejs') %>
    </div>

    <div id="content" class="cf">
        <h2>
            ברוכים הבאים!
        </h2>
        <form class="login-form cf" action="" method="POST">
            <div class="areas">
                <div class="title">
הכנס את כתובת המייל שאיתה נרשמת:
                </div>
                <div class="one">
                    <label>
                        דוא”ל:
                    </label>
                    <input id="email" name="email" class="text" type="text" value="" />
                </div>
            </div>
            <input type="submit" value="שלח" />
        </form>
    </div>
</div>
<%- partial('partials/footer.ejs') %>
</body>
</html>

