<!DOCTYPE html>

<html>
<head>
    <%- partial('partials/head.ejs') %>
</head>
<body
<%if(!user_logged){%>class="big-head"<%}%>>
<div id="wrap">
    <div id="header">
        <%-partial('partials/menu.ejs')%>
        <%-partial('partials/user_box.ejs')%>
        <%-partial('partials/failures.ejs')%>
        <%if(!user_logged){%>
        <div class="main-video">
            <div class="video-box">
                <img src="images/video.jpg" alt=""/>
                <span></span>
            </div>
            <p>תנועת עורו הוקמה מתוך הבנה שהגיע הזמן
                שקולו של הרוב ישמע בישראל, ושכולנו זכאים להיות
                שותפים בקבלת ההחלטות הנוגעות לנו.
                פוליטיקה מתקשרת לנו עם שחיתות, וכחנות וכוחנות.
                אנחנו כאן כדי לשנות את המציאות הזאת.</p>
            <a class="btn" href="">הצטרפו והתחילו להשפיע!</a>
        </div>
        <%}%>
        <%- partial('partials/tag_search.ejs') %>
    </div>
    <div id="content" class="cf">
        <div class="right-col">
            <h2>עוררו עניין</h2>

            <div class="news-list cf">
            </div>
            <%if(user_logged){%>
            <h2>עדכונים</h2>

            <div class="renewal">
                <!--<div class="one cf">-->
                    <!--<div class="right-image">-->
                        <!--<div class="img-box">-->
                            <!--<img src="images/user-1.jpg" alt=""/>-->
                            <!--<img class="shadow" src="images/user-fillter-white.png" alt=""/>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<p><strong>שמואל יעקבי</strong> הצטרף לפעולת ההפגנה שיצרת בנושא חינוך ולימודי הליבה </p>-->

                    <!--<div class="date">13.03.2012 ,21:09</div>-->
                    <!--<a class="btn" href="">שתף</a>-->
                <!--</div>-->
                <!--<div class="one cf">-->
                    <!--<div class="right-image">-->
                        <!--<img src="images/sample-1.jpg" alt=""/>-->
                    <!--</div>-->
                    <!--<p><strong>הפגנה המונית בנושא חוק חינם לילדים בגילאים -3</strong></p>-->

                    <!--<p><strong>מיקום:</strong> גן מאיר, תל אביב (נפגשים בככר רבין מול העירייה) </p>-->

                    <!--<p><strong>מתי:</strong> 17:00 בשעה ,13.03.2012 </p>-->
                    <!--<a class="btn" href="">שתף</a>-->
                <!--</div>-->
                <!--<div class="one cf">-->
                    <!--<div class="right-image">-->
                        <!--<div class="img-box img-box-space">-->
                            <!--<img src="images/user-1.jpg" alt=""/>-->
                            <!--<img class="shadow" src="images/user-fillter-white.png" alt=""/>-->
                        <!--</div>-->
                        <!--<div class="img-box">-->
                            <!--<img src="images/user-1.jpg" alt=""/>-->
                            <!--<img class="shadow" src="images/user-fillter-white.png" alt=""/>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<p><strong>2 חברים שלך</strong> הצטרפו לעצומה בנושא מחירי הדלק </p>-->

                    <!--<div class="date">13.03.2012 ,21:09</div>-->
                    <!--<a class="btn" href="">שתף</a>-->
                <!--</div>-->

            </div>
            <%}%>
            <h2>סיפורי הצלחה</h2>

            <div class="succes-box cf">

            </div>
        </div>
        <div class="left-col">
            <h2>מה בכותרות</h2>

            <div class="one-news">

            </div>
            <!-- <h2>מה מפריע לך?</h2>
            <form  class="comment-form" action="#" >
                <textarea placeholder="כתוב לנו מה מפריע לך ..." name="feedbackTb" cols="0" rows="0"></textarea>
                <input type="image" src="images/send-btn.png" />
            </form>-->
        </div>
        <div class="blog-box">
            <h2>מאמרים מובילים</h2>
        </div>
    </div>
</div>
<%- partial('partials/footer.ejs') %>
</body>
</html>

<script type="text/javascript">

    $(function () {


        $('form.comment-form').live('submit', function (e) {
            e.preventDefault();
            var feedbackTb = this.feedbackTb;
            if (feedbackTb.value.replace(/\s/g, "") == "") {
                return;
            }
            db_functions.addKilkul(this.feedbackTb.value, function (error, data) {
                if (error) {
                    console.log(error);
                } else {
                    feedbackTb.value = '';
                }
            });

        })

        db_functions.getHotObjects(function (data) {
            $.each(data.objects, function (key, article) {
                dust.render('hot_object', article, function (err, html) {
                    $('div.news-list').append(html);
                })
            })
        });

        db_functions.getSuccessStories(function (data) {
            $.each(data.objects, function (key, article) {
                dust.render('success_story', article, function (err, html) {
                    $('div.succes-box').append(html);
                })
            })
        })

        db_functions.getPopularArticles(3, function (data) {
            $.each(data.objects, function (index, article) {
                article.is_last = index == data.objects.length - 1;
                dust.render('article', article, function (err, html) {
                    $('div.blog-box').append(html);
                });
            });
        });


        db_functions.getPopularHeadlines(2, function (data) {
            $.each(data.objects, function (index, headline) {
                dust.render('headline', headline, function (err, html) {
                    $('div.one-news').append(html);
                })
            })
        });

        db_functions.getNotifications(function (data) {
            $.each(data.objects, function (index, notification) {
                dust.render('notification', notification, function (err, html) {
                    $('.renewal').append(html);
                })
            })
        })
    })


</script>