<!DOCTYPE html>

<html>
<head>
    <script>
        var facebookAppId = '<%= facebook_app_id %>';
    </script>
    <%- partial('partials/head.ejs') %>
    <%- partial('partials/facebook.ejs') %>

</head>
<body>
<%- partial('partials/body_top.ejs') %>
<div id="wrap">
<div id="header">
    <%-partial('partials/menu.ejs')%>
    <%-partial('partials/user_box.ejs')%>
    <%-partial('partials/failures.ejs')%>
    <%- partial('partials/tag_search.ejs') %>
</div>
<div id="content" class="cf">
<div class="myuru-top">
    <div class="right">
        <h2>
הפרופיל שלי
        </h2>
        <div class="white-box">
            <div class="user">
                <div class="img-box" style="overflow:hidden;">
				    <div style="width:112px; height:120px; float:right;" class="auto-scale">
                        <img src="<%=avatar%>" alt="<%=pageUser.first_name+' '+ pageUser.last_name%>" />
                     </div>
                    <span></span>
                </div>
                <div class="proxy">
                    <span><%=tokensBarModel.totalProxy%></span> מנדטים
                </div>
                <div class="respect">
                    <span><%=pageUser.score%></span> מוניטין
                </div>
            </div>
            <div class="user-links">
                <h4><%=pageUser.first_name+' '+ pageUser.last_name%></h4>
                <ul>
                    <li><%= pageUser.address || ""%></li>
                    <li><%= pageUser.םccupation || ""%></li>
                </ul>
            </div>
            <form action="">
                <textarea id="biography" placeholder=" כאן אפשר לכתוב ביוגרפיה קצרה דברים שאתה אוהב, אג’נדה, דעות, ומה שתרצה על עצמך." cols="0" <%=biographyReadonly? 'readonly': '' %>
                rows="0"><% if(pageUser.biography){%><%=pageUser.biography%> <% } else { %><% } %></textarea>
                <input id="invite_friends_bt" type="submit" value="הזמן חברים" />
            </form>
        </div>
    </div>
    <div class="left">
        <h2>האסימונים שלי</h2>
        <div class="white-box">
            <div class="token-bar">
                <span class="top-number">15</span>
                <span class="bottom-number">0</span>
             <!--   <div class="token-popup token-popup1">
                    <div class="user-right">
                        <div class="img-box">
                            <img src="images/user-1.jpg" width="41" alt="" />
                            <img class="wraper" src="/images/user-fillter-small-white.png" width="41" alt="" />
                        </div>
                    </div>
                    <div class="user-left">
                        <p>יונתן שפירא</p>
                        <div class="proxy">
                            <span>3</span>
                        </div>
                        <div class="respect">
                            <span>20</span>
                        </div>
                    </div>
                </div>-->
    <!--    <%  var userProxy;
                for(var j=0 ;j<tokensBarModel.proxy.proxies.length;j++){
                userProxy=tokensBarModel.proxy.proxies[j]; %>
                <div id="token-popup<%=userProxy._id %>" class="token-popup" >
                    <div class="user-right">
                        <div class="img-box">
                            <div class="auto-scale"  style="width: 41px;height: 44px">
                                 <img src="<%=userProxy.avatar %>" alt="" />
                            </div>
                            <img class="wraper" src="/images/user-fillter-small-white.png" width="41" alt="" />
                        </div>
                    </div>
                    <div class="user-left">
                       <p><%=userProxy.name %></p>
                        <div class="proxy">
                            <span><%=userProxy.proxy%></span>
                        </div>
                        <div class="respect">
                            <span><%=userProxy.score%></span>
                        </div>
                    </div>
                </div>
              <%}%>-->

                <div class="bars">
                    <div class="border"></div>
                    <div class="empty" style="height:<%=tokensBarModel.gupFromFullPixels()%>"></div>
                  <% if (tokensBarModel.tokensIUsed!==0){ %>
                        <div class="grey" style="height:<%=tokensBarModel.dailyTokensPixels()%>">
                            <div class="info">מכסת אסימונים:<%=tokensBarModel.floorDailyTokens %> </div>
                        </div>
                    <% } %>
                    <div class="green" style="height:<%=tokensBarModel.tokensPixels()%>">
                        <div class="info">אסימונים זמינים: <%=tokensBarModel.floorTokens %></div>
                    </div>
                    <%  var userProxy; 
						for(var j=0 ;j<tokensBarModel.proxy.proxies.length;j++){
						userProxy=tokensBarModel.proxy.proxies[j]; %>




                        <div class="blue"  data-userid="<%=userProxy._id%>" style="height:<%=tokensBarModel.convertToPixels(userProxy.proxy)%>">
								<div class="info" style="overflow: hidden">
									 מוקצים לנציג:
                                    <%=userProxy.proxy%>
								</div>
                                    <div id="token-popup<%=userProxy._id %>" class="token-popup" >
                                        <div class="user-right">
                                            <div class="img-box">
                                                <div class="auto-scale"  style="width: 41px;height: 44px">
                                                    <img src="<%=userProxy.avatar %>" alt="" />
                                                </div>
                                                <img class="wraper" src="/images/user-fillter-small-white.png" width="41" alt="" />
                                            </div>
                                        </div>
                                        <div class="user-left">
                                            <p><%=userProxy.name %></p>
                                            <div class="proxy">
                                                <span dir="ltr"><%=userProxy.proxy%></span>
                                            </div>
                                            <div class="respect">
                                                <span dir="ltr"><%=userProxy.score%></span>
                                            </div>
                                        </div>
                                    </div>
							</div>
					<%}%>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="search-result-box">
    <h2>פעילות שלי במערכת</h2>
    <div class="tabs">
        <ul class="tabs-nav">
            <li><a href="#discussions-tab">דיונים</a></li>
            <li><a href="#cycles-tab">מעגלי תנופה</a></li>
            <li><a href="#actions-tab">פעולות</a></li>
            <li><a href="#articles-tab">בלוגים</a></li>
        </ul>
        <div id="discussions-tab">

        </div>
        <div id="cycles-tab">

        </div>
        <div id="actions-tab">

        </div>
        <div id="articles-tab">

        </div>

    </div>
</div>
<div class="myuru-bottom cf">
    <div class="right">
        <h2>עדכונים</h2>
        <div id="renewal" class="renewal">


        </div>
    </div>
    <div class="left">
        <h2>אחרי מי אני עוקב</h2>
        <div id="users-list" class="users-list">


        </div>
    </div>
</div>
</div>
</div>
<%- partial('partials/footer.ejs') %>
</body>
</html>
<script type="text/javascript">



    $(function(){

        //$(".search-result-box .tabs").tabs();
        var userId='<%=pageUser._id %>';
        function tabSelected(event, ui){
           function convertToTabModel(data,type){
                var i,
                tabGroups=0,
                tabModel={
                    groups:[]
                    ,type:type
                    }   ;

               for(i = 0 ;i<data.objects.length;i++)
               {
                    if(tabModel.groups[tabGroups]===undefined){
                        tabModel.groups[tabGroups]={group:[]};
                    }
                   tabModel.groups[tabGroups].group[i%3] = data.objects[i];
                    if(i%3===2){
                        tabGroups++;
                       // return  tabModel;
                    }
               }

             return tabModel;
           }
           var tabDivId=   ui.panel.id;
           var type=tabDivId.substr(0, tabDivId.indexOf('-'));
            db_functions.getAllItemsByUser(type,userId,function(error,data){
                var  tabDataModel =convertToTabModel(data,type) ;
                dust.render('myuru_tab',tabDataModel,function(err,out)
                {
                    var seletedTab= $('#'+type+'-tab');

                    // seletedTab.remove();
                    seletedTab.empty();

                    seletedTab.append(out);
                   // $('img',seletedTab).autoscale();

                    seletedTab.find('.tab-slide-1')
                            .after('<div class="nav-1 nav">')
                            .cycle({
                                fx: 'scrollLeft',
                                speed: 'fast',
                                timeout: 0,
                                pager: '.nav-1',
                                next: '.next-1',
                                prev: '.prev-1'
                            });



                });
            });





        }

        $( ".tabs" ).tabs({
            selected:0,
            show:tabSelected
        });

        db_functions.getNotifications(function (data) {
            $.each(data.objects, function (index, notification) {
                dust.render('notification', notification, function (err, html) {
                    $('#renewal').append(html);
                })
            })
        }) ;


        /**************************************************************************/
/*        var popupOpen=false;
        $('.blue').hover(function(e){
          if(!popupOpen){
               var userID= $(this).data('userid');
               var tokenbarPosition = $('.token-bar').offset();

                var y= tokenbarPosition.top - window.mouseYPos  +130 ;
                var x=  60;
            $('#token-popup'+userID).css("display","block")
                                       .css('bottom',y+'px')
                                        .css('right',x+'px');
            popupOpen=true;
         }

        },function(e){
               var userID= $(this).data('userid');
               $('#token-popup'+userID).css("display",'');
               popupOpen=false;
           })

        $(document).mousemove(function(e){
            window.mouseXPos = e.pageX;
            window.mouseYPos = e.pageY;
        });*/



      /*  $('.blue').hover(function(e){

            var userID= $(this).data('userid');
            var x= e.pageX<370? 80:10;
                var y= e.offsetY-50  ;//tokenbarPosition.top - window.mouseYPos  +130 ;

                $('#token-popup'+userID).css("display","block")
                        .css('bottom',y+'px')
                   //    .css('right',x+'px');


        },function(e){
            var userID= $(this).data('userid');
            $('#token-popup'+userID).css("display",'');
          //  popupOpen=false;
        })*/

      /*  $(document).mousemove(function(e){
            window.mouseXPos = e.pageX;
            window.mouseYPos = e.pageY;
        });*/


        /**************************************************************************/
        db_functions.getOnWhomUserFollows(userId,function (e,data) {

                dust.renderArray('myuru_follower_item', data.objects,null, function (err, html) {
                    $('#users-list').append(html);

            })
        }) ;

        var biography  = $.trim(   $('#biography').val());
        $('#biography').blur(function() {
           var bio= $.trim(   $('#biography').val());
            if(bio!==biography)   {
                biography = bio;
                db_functions.updateUserDetails(userId,bio,function (e,data) {
                    if(e) {
                           console.log(e);
                    }
                })
            }

        });

        $('#invite_friends_bt').click(function(e){
            e.preventDefault();
            FB.ui({method: 'apprequests', message: 'Come see that great site'}, function(response) {

                if(response && response.hasOwnProperty('to')) {
                    var request_id = response.request;
                    var ids=[];
                    for(i = 0; i < response.to.length; i++) {
                        ids.push (request_id+"_"+response.to[i])
                        console.log("" + i + " ID: " + response.to[i]);
                    }
                     db_functions.addFacebookRequest("/", ids,function(err, data){
                    // db_functions.addFacebookRequest("/discussions" + created_discussion_id+"?user_id="+creator_id, ids,function(err, data){
                       // window.location.replace("/discussions/" + created_discussion_id);
                       // alert('sended');
                    });
                }
                /*else
                {
                    window.location.replace("/discussions/" + created_discussion_id);
                }*/
            });

        })


    });
</script>

