<!DOCTYPE html>

<html>
<head>
    <%- partial('partials/head.ejs') %>
    <script src="/resources/js/jquery-fieldselection.js" type="text/javascript"></script>
</head>
<body>
<%- partial('partials/body_top.ejs') %>
<div id="wrap">
    <div id="header">
        <%-partial('partials/menu.ejs')%>
        <%-partial('partials/user_box.ejs')%>
        <%-partial('partials/failures.ejs')%>
        <%-partial('partials/tag_search.ejs') %>
    </div>

    <% if(page.title) { %>
        <h2>
            <%= page.title %>
        </h2>
    <% } %>
    <%- page.html %>
</div>


<%- partial('partials/footer.ejs') %>
</body>
</html>
