<div class="breadcrumb">
    <p><%=subject_name%> <a href="/meida/subject/<%= subject_id %>?tag_name=<%= tag_name %>"><%= tag_name || '' %></a></p>
</div>

<div id="search-form" class="form">
    <form action="#" method="post">
        <p class="clearfix">
            <input id="keyword_input" type="text" title="search" class="textbox" value="<%= keywords || '' %>" placeholder="חיפוש בתוך הנושא הנבחר"/>
            <input type="button" id="look_keyword_btn" title="submit" class="submit-btn" value="חפש"/>
        </p>
    </form>
</div>

<div id="sidebar">

    <div id="shopping_cart" class="widget1 clearfix">
        <div class="information clearfix">
            <h3>סל המידע</h3>
            <!--<a href="javascript:void(0)" class="button">שתף</a>-->

            <br class="clear"/>
            <p>קריאה לפעולה כדי לאסוף מידע,
                תכנים, גרפים, נתונים, תרשימים
                ועוד ועוד כדי להציע מציאות חדשה.</p>
            <a href="/discussions/new/<%=subject_id%>" class="button suggest">הצע מציאות חדשה</a>
        </div>


    </div>
</div>

<div id="main">
    <div class="accordian">
        <select name="" id="sel_cycle" class="arrow">
            <option value="0">מעגלי תנופה קיימים בנושא </option>
        </select>

        </br>
        <select name="" id="sel_discussion" class="arrow">
            <option value="0">דיונים פעילים בנושא</option>
        </select>
    </div>
    <div id="info_items" class="post">
        <h3>מידע רלוונטי</h3>
    </div>
</div>

<script type="text/javascript">
    $(function() {
        var subject_id = "<%= subject_id%>";
        var tag_name = "<%=keywords%>";
        var subject_name =  "<%=subject_name%>";
        var keywords = "<%= keywords %>";

        var items = {
            add: function(data, parent) {
                var item =
                        $('<div class="item">' +
                                '<h2>' + data.title + '</h2>' +
                                '<p>' + data.text_field +'</p>' +
                                '<button class="add" value="' + data._id + '">add to your shopping cart</button>' +
                                '<button class="remove hide" value="' + data._id + '">remove from your shopping cart</button>' +
                                '</div>')

                                .appendTo('.' + parent);

                item.find('button.add').click(function() {
                    console.log("in add");
                    var self = $(this);
                    db_functions.dbAddInfoItemToShoppingCart($(this).val(), function didSucceed(flag){
                        if(flag){
                            var item = self.parent('.item').clone().appendTo('.shopping_cart');
                            items.changeButton(item);
                            /////////////////////////////////////////////////////////////
                            item.find('button.remove').click(function() {
                                console.log("In remove");
                                db_functions.dbDeleteInfoItemFromShoppingCart(data._id);
                                $(this).parent('.item').remove();
                            });
                            //////////////////////////////////////////////////////////////
                        }else{
                            console.log('information item is already in shopping cart');
                        }
                    });
                });

                item.find('button.remove').click(function() {
                    console.log("in remove");
                    db_functions.dbDeleteInfoItemFromShoppingCart(data._id);
                    $(this).parent('.item').remove();
                });

                return item;
            },

            changeButton: function(item) {
                item.find('button').toggle();
            },

            buttonRemoveItem: function(item, info_item_id){
                item.find('button.remove').click(function() {
                    console.log("in remove");
                    db_functions.dbDeleteInfoItemFromShoppingCart(info_item_id);
                    $(this).parent('.item').remove();
                });
            }
        }

        var discussions = {
            add: function(data){
                var item =
                        $('<OPTION VALUE="/account/discussion?discussion_id=' + data._id
                                +'&subject_name=' + data.subject_name + '">'
                                + data.title + '</OPTION>')

                                .appendTo(".active_discussions select");
            },

            onSubmit: function(mySel)
            {
                var myWin, myVal;
                myVal = mySel.options[mySel.selectedIndex].value;
                if(myVal)
                {
                    if(mySel.form.target)myWin = parent[mySel.form.target];
                    else myWin = window;
                    if (! myWin) return true;
                    myWin.location = myVal;
                }
                return false;
            }
        }



        $('#btn_look').live("click", function(){

            $('.tags').html('');
            var tag_value = $("#look_for_tags").attr('value');

            db_functions.dbGetInfoItemsByTagName(tag_value);
            event.stopPropagation();
        });



        db_functions.getUserShopingCart(function(err, data){

            if(!err){
                data.objects.forEach(function(obj)
                {
                    obj.get_link = function( )
                    {
                        return '/meida/' + obj._id + '?subject_id=' + obj.subject_id;
                    }
                });
                dust.renderArray('shopping_cart_item_1', data.objects,null,function(err,out)
                {
                    $('#shopping_cart').append(out);
                    $('#shopping_cart img').autoscale();
                });
            }
        });

        db_functions.getDiscussionsBySubject(subject_id, function(err, data){
            if (err){

            }else{
                console.log(subject_id);
                console.log(data);
                for (var i in data.objects){
                    console.log(data.objects[i]);
                    discussions.add(data.objects[i]);
                }
            }
        });

        db_functions.getInfoItemsOfSubjectByKeywords(keywords,subject_id,function(err,data)
        {
            data.objects.forEach(function(obj)
            {
                obj.get_link = function( )
                {
                    return '/meida/' + obj._id + '?subject_id=' + obj.subject_id;
                }
            });
            dust.renderArray('info_item_in_subject_1', data.objects,null,function(err,out)
            {
                $('#info_items').append(out);
                $('#info_items img').autoscale();
            });
        });

        $('#look_keyword_btn').live("click", function(){
            var key_words = $('#keyword_input').val();
            console.log("button clicked, key words are: " + key_words);
            $('.keys').html('');

            db_functions.getInfoItemsOfSubjectByKeywords(key_words, subject_id, function(err, data){

                if(!err){
                    $('#info_items').empty();
                    dust.renderArray('info_item_in_subject_1', data.objects,null,function(err,out)
                    {
                        $('#info_items').append(out);
                        $('#info_items img').autoscale();
                    });

                }
            });
        });

        db_functions.getCyclesBySubject(subject_id);

        db_functions.getDiscussionsBySubject(subject_id, function(err, data){
            $.each(data.objects, function(index, value){
                $("select#sel_discussion").append($("<option />").val(value._id).text(value.title));
            });
        });

        $(".button.add").live("click", function(){
            var info_item_id = $(this).parent('div').attr('value');
            db_functions.addInfoItemToShoppingCart(info_item_id, function(err, data){
                if(!err){
                    dust.render('shopping_cart_item_1', data, function(err,out)
                    {
                        $('#shopping_cart').append(out);
                        $('#shopping_cart img').autoscale();
                    });
                }
            });
        });

        $(".button.remove").live("click", function(){
            var info_item_id = $(this).parent('div').attr('info_item_id');
            var div = $(this).parent('div');
            db_functions.removeInfoItemFromShoppingCart(info_item_id, function(err){
                if(!err){
                    div.remove();
                }
            });
        });

        $("#info_items").on("click",'.like', function(){
            var info_item_id = $(this).parent('div').attr('value');
            var like_button = $(this);
            db_functions.addLikeToInfoItem(info_item_id, function(err, data){
                if(!err){
                    like_button.hide();
                }
            });
        });

    });
</script>


