<div style="direction:rtl">
    <div align="center"><font face="arial"><br><br></font></div>
    <table width="600" border="0" align="center" cellpadding="0" cellspacing="0" dir="rtl">
        <tbody>

        <tr>
            <td><p><br></p>

                <p>שלום,
                </p>

                <p></p>

                <p>תודה על הרשמתך וברוך הבא לאתר . אנא לחץ
                    <a href="<%= settings.root_path %>/account/activation?code=<%= user.validation_code %>&id=<%= user.id %>&next=<%= encodeURIComponent(next || '') %>">
                    כאן
                    </a>
 לאישור
                    הרשמתך לאתר.</p>

                <p>לאחר האישור תוכל להשתתף באופן פעיל במערכת.</p>

                <p>
                    סיסמת הכניסה שלך למערכת היא
                    <%= temp_password %>
                </p>
                <p>
                    אפשר להחליף אותה ולבחור סיסמא אישית
                    <a href="<%= settings.root_path %>/account/reset_password?code=<%= user.validation_code %>&id=<%= user.id %>&next=<%= encodeURIComponent(next || '') %>">
                        כאן
                    </a>
                </p>


                <p>&nbsp;תודה,</p>

                <p>צוות מיזם - "מחליטים: כבוד האדם"</p>

                <p></p><a href="http://www.pulseem.com/Pulseem/LinkRedirect.axd?LinkID=333985&amp;ClientID=33924123"
                          target="_blank"><img alt=""
                                               src="http://www.uru.org.il/images/logo%20(2).png"
                                               ></a>

                <p>
                    &nbsp;&nbsp;<a
                        href="http://www.pulseem.com/Pulseem/LinkRedirect.axd?LinkID=333986&amp;ClientID=33924123"
                        target="_blank"><img alt=""
                                             src="http://site.e-dologic.co.il/philip_morris/Xls_script/uru_mailing/facebook_logo.png"
                                             width="35" height="35" style="vertical-align:top"></a>&nbsp;<a
                        href="http://www.pulseem.com/Pulseem/LinkRedirect.axd?LinkID=333987&amp;ClientID=33924123"
                        target="_blank"><img alt=""
                                             src="http://site.e-dologic.co.il/philip_morris/Xls_script/uru_mailing/twitter_logo.png"
                                             width="35" height="35" style="vertical-align:top"></a></p>
            </td>
        </tr>
        </tbody>
    </table>
    <br>
</div>