<div style="direction:rtl">
    <div align="center"><font face="arial"><br><br></font></div>
    <table width="600" border="0" align="center" cellpadding="0" cellspacing="0" dir="rtl">
        <tbody>
        <tr>
            <td ><img alt="" src="http://site.e-dologic.co.il/philip_morris/Xls_script/uru_mailing/header.jpg" width="600" height="90"></td>
        </tr>
        <tr>
            <td ><p><br></p>

                <p></p>

                <p class="MsoNormal" dir="RTL" style="color:rgb(80,0,80);text-align:right;direction:rtl;font-size:13px">
                </p>

                <p class="MsoNormal" dir="RTL" style="color:rgb(34,34,34);font-family:arial,sans-serif;direction:rtl">
                    <span lang="HE" style="font-family:Arial,sans-serif">
                    <%= user.first_name %>
                        שלום,
                    </span></p>

                <p class="MsoNormal" dir="RTL" style="color:rgb(34,34,34);font-family:arial,sans-serif;direction:rtl">
                    <span lang="HE" style="font-family:Arial,sans-serif"><br></span></p>

                <p class="MsoNormal" dir="RTL"
                   style="color:rgb(34,34,34);font-family:arial,sans-serif;direction:rtl"><span lang="HE"
                                                                                                style="font-family:Arial,sans-serif">בשעה טובה, אתר עורו החדש עלה לאוויר.<br>
<b><u><font color="#3333ff">
    <a href="<%= settings.root_path %>">
    כניסה לאתר עורו
    </a>
</font></u></b></span></p>

                <p class="MsoNormal" dir="RTL"
                   style="color:rgb(34,34,34);font-family:arial,sans-serif;direction:rtl"><span lang="HE"
                                                                                                style="font-family:Arial,sans-serif"><b><u><span
                        style="color:rgb(79,129,189)"><br>
</span></u></b></span></p>

                <p class="MsoNormal" dir="RTL" style="color:rgb(34,34,34);font-family:arial,sans-serif;direction:rtl">
                    <span lang="HE" style="font-family:Arial,sans-serif">בשלב הראשון, מאגר המידע ומערכת הדיונים מוכנים לשימוש. אנחנו שמחים להזמינך להיכנס לאתר, להתרשם ולהכיר, ולקחת חלק פעיל בדיונים.</span>
                </p>

                <p class="MsoNormal" dir="RTL"
                   style="color:rgb(34,34,34);font-family:arial,sans-serif;direction:rtl"><span lang="HE"
                                                                                                style="font-family:Arial,sans-serif">תחת "אודות" בתפריט אפשר למצוא מדריך למשתמש במערכת.<br>
במהלך החודש הקרוב, יעלו חלקי האתר הנוספים שיאפשרו לנו להוציא לפועל את החזונות וההסכמות שאנחנו מתחילים לגבש במערכת. אנחנו כמובן נמשיך ונעדכן.</span>
                </p>

                <p class="MsoNormal" dir="RTL" style="color:rgb(34,34,34);font-family:arial,sans-serif;direction:rtl">
                    <span lang="HE" style="font-family:Arial,sans-serif"><br></span></p>

                <p class="MsoNormal" dir="RTL" style="color:rgb(34,34,34);font-family:arial,sans-serif;direction:rtl">
                    <span lang="HE" style="font-family:Arial,sans-serif">עבור כל החברים שכבר נרשמו למערכת הוקצתה סיסמא ראשונית להתחברות. הסיסמא שלך היא ­­­­­­­</span><span
                        dir="LTR" style="font-family:Arial,sans-serif"><%= temp_password %></span><span dir="RTL"></span><span
                        dir="RTL"></span><span lang="HE" style="font-family:Arial,sans-serif"><span
                        dir="RTL"></span><span dir="RTL"></span>,<br>
ואפשר להיכנס לקישור למטה כדי להחליף אותה ולבחור סיסמא אישית.</span></p>

                <p class="MsoNormal" dir="RTL" style="color:rgb(34,34,34);font-family:arial,sans-serif;direction:rtl">
                    <font color="#3333ff"><b><u><span lang="HE" style="font-family:Arial,sans-serif"></span><span
                            lang="HE"
                            style="font-family:Arial,sans-serif">
                        <a href="<%= settings.root_path %>/account/reset_password?validation=<%= user.validation_code %>&id=<%= user.id %>">
                            להחלפת סיסמא
                        </a>
                            </span></u></b></font><span
                        lang="HE" style="font-family:Arial,sans-serif"></span></p>

                <p class="MsoNormal" dir="RTL" style="color:rgb(34,34,34);font-family:arial,sans-serif;direction:rtl">
                    <font color="#3333ff"><b><u><span lang="HE" style="font-family:Arial,sans-serif"><br></span></u></b></font>
                </p>

                <p class="MsoNormal" dir="RTL" style="color:rgb(34,34,34);font-family:arial,sans-serif;direction:rtl">
                    <span lang="HE" style="font-family:Arial,sans-serif">&nbsp;</span></p>

                <p class="MsoNormal" dir="RTL" style="color:rgb(34,34,34);font-family:arial,sans-serif;direction:rtl">
                    <span lang="HE" style="font-family:Arial,sans-serif">בהצלחה לכולנו,</span></p>

                <p class="MsoNormal" dir="RTL" style="color:rgb(34,34,34);font-family:arial,sans-serif;direction:rtl">
                    <span lang="HE" style="font-family:Arial,sans-serif"><br></span></p>

                <p class="MsoNormal" dir="RTL" style="color:rgb(34,34,34);font-family:arial,sans-serif;direction:rtl">
                    <span lang="HE" style="font-family:Arial,sans-serif">דור קונפורטי&nbsp;<br>מנהל האתר</span></p>

                <p></p><br>

                <p></p>

                <p></p><a href="http://www.pulseem.com/Pulseem/LinkRedirect.axd?LinkID=333985&amp;ClientID=33924123"
                          target="_blank"><img alt=""
                                               src="http://site.e-dologic.co.il/philip_morris/Xls_script/uru_mailing/logo.jpg"
                                               width="101" height="119"></a>

                <p>
                    &nbsp;&nbsp;<a
                        href="http://www.pulseem.com/Pulseem/LinkRedirect.axd?LinkID=333986&amp;ClientID=33924123"
                        target="_blank"><img alt=""
                                             src="http://site.e-dologic.co.il/philip_morris/Xls_script/uru_mailing/facebook_logo.png"
                                             width="35" height="35" style="vertical-align:top"></a>&nbsp;<a
                        href="http://www.pulseem.com/Pulseem/LinkRedirect.axd?LinkID=333987&amp;ClientID=33924123"
                        target="_blank"><img alt=""
                                             src="http://site.e-dologic.co.il/philip_morris/Xls_script/uru_mailing/twitter_logo.png"
                                             width="35" height="35" style="vertical-align:top"></a></p>
            </td>
        </tr>
        </tbody>
    </table>
</div>