<div style="direction:rtl">
    <div align="center"><font face="arial"><br><br></font></div>
    <table width="600" border="0" align="center" cellpadding="0" cellspacing="0" dir="rtl">
        <tbody>
        <tr>
            <td><img alt="" src="http://site.e-dologic.co.il/philip_morris/Xls_script/uru_mailing/header.jpg"
                     width="600" height="90"></td>
        </tr>
        <tr>
            <td><p><br></p>

                <p></p>

                <p class="MsoNormal" dir="RTL"
                   style="color:rgb(80,0,80);text-align:right;direction:rtl;font-size:13px;font-family:arial,sans-serif">
                    <span lang="HE" style="font-family:Arial,sans-serif">שלום,</span><span
                        lang="HE"><u></u><u></u></span></p>

                <p class="MsoNormal" dir="RTL"
                   style="color:rgb(80,0,80);text-align:right;direction:rtl;font-size:13px;font-family:arial,sans-serif">
                    <span lang="HE" style="font-family:Arial,sans-serif" >ליצירת סיסמא חדשה לאתר , אנא
                        <a href="<%= settings.root_path %>/account/reset_password?code=<%= user.validation_code %>&id=<%= user.id %>">לחץ כאן
                        </a>


.</span><span
                        lang="HE"><u></u><u></u></span></p>

                <p class="MsoNormal" dir="RTL" style="color:rgb(80,0,80);text-align:right;direction:rtl;font-size:13px">
                    <span style="font-family:Arial,sans-serif">&nbsp;</span></p>

                <p class="MsoNormal" dir="RTL"
                   style="color:rgb(80,0,80);text-align:right;direction:rtl;font-size:13px;font-family:arial,sans-serif">
                    <span lang="HE" style="font-family:Arial,sans-serif">תודה,</span><span
                        lang="HE"><u></u><u></u></span></p>

                <p class="MsoNormal" dir="RTL"
                   style="color:rgb(80,0,80);text-align:right;direction:rtl;font-size:13px;font-family:arial,sans-serif">
                    <span lang="HE" style="font-family:Arial,sans-serif">צוות מיזם - מחליטים: כבוד האדם</span></p><br>

                <p></p>

                <p></p><a href="http://www.pulseem.com/Pulseem/LinkRedirect.axd?LinkID=333985&amp;ClientID=33924123"
                          target="_blank"><img alt=""
                                               src="http://site.e-dologic.co.il/philip_morris/Xls_script/uru_mailing/logo.jpg"
                                               width="101" height="119"></a>

                <p>
                    &nbsp;&nbsp;<a
                        href="http://www.pulseem.com/Pulseem/LinkRedirect.axd?LinkID=333986&amp;ClientID=33924123"
                        target="_blank"><img alt=""
                                             src="http://site.e-dologic.co.il/philip_morris/Xls_script/uru_mailing/facebook_logo.png"
                                             width="35" height="35" style="vertical-align:top"></a>&nbsp;<a
                        href="http://www.pulseem.com/Pulseem/LinkRedirect.axd?LinkID=333987&amp;ClientID=33924123"
                        target="_blank"><img alt=""
                                             src="http://site.e-dologic.co.il/philip_morris/Xls_script/uru_mailing/twitter_logo.png"
                                             width="35" height="35" style="vertical-align:top"></a></p>

                <p></p></td>
        </tr>
        </tbody>
    </table>
</div>


<a href="<%= settings.root_path %>/account/reset_password?validation=<%= user.validation_code %>&id=<%= user.id %>">
    לחץ כאן כדי להיכנס לאתר
</a>